{template 'header'}
<script type="text/javascript" src="{DT_STATIC}skin/lqts/js/js.js"></script>
<script>
  var mallurl = '{$MODULE[16][linkurl]}';
  var comurl  = '{$MODULE[4][linkurl]}';
</script>
<script src="/skin/lqts/js/asynchronou.js"></script>
  <div class="index_banner">
    <div class="index_slide">
      <div id="slideBox" class="slideBox">
        <div class="hd">
          <ul><li></li><li></li><li></li><li></li></ul>
        </div>
        <div class="bd">
          <ul>
          <!-- {php $ad = tag("table=ad&condition=pid=14&order=listorder&template=null")} -->
          {loop $ad $t}
          <li><img src="{$t[image_src]}" alt="" width="1920" height="450"></li>
          {/loop}
    
          </ul>
        </div>
      </div>
    </div>
  </div>
  {php $goods = get_ms_goods()}
  <!-- 秒杀活动 -->
<div class="time_sale">
	<div class="time_sale_tit clearfix">
		<h3>特色秒杀{$_COOKIE["m"]}</h3>
		<h4>总有你想不到的低价</h4>
		<div onload="countTime()">
			<strong>当前场次</strong>
			<p>
			   <span id="_h">00</span>
			   <var></var>
			   <span id="_m">00</span>
			   <var></var>
			   <span id="_s">00</span>
			</p>
			<strong>后结束抢购</strong>
		</div>
	</div>
	<div class="picScroll-left">
					<div class="hd">
						<a class="next"></a>
						<a class="prev"></a>
					</div>
					<div class="bd">
						<ul class="picList">
							{loop $goods $v}
							{php $xl= floor($v[sales]/$v[amount]*100)}
							 <li>
								<div class="pic"><a href="{$MODULE[16][linkurl]}{$v[linkurl]}" target="_blank"><img src="{str_replace('.thumb.'.file_ext($v[thumb]), '',$v[thumb])}" width="200" height="187"/></a></div>
									<div class="title">
										<a href="{$MODULE[16][linkurl]}" target="_blank" title="{$v[title]}">{dsubstr($v[title],50,'...')}</a>
										<div class="process-text">¥{$v[msj]}<span>¥{$v[price]}<i></i></span></div>
									<div class="process-bar">
									{if $xl >=50}
										<span style="width: {$xl}%">{$xl}%</span>
									{else}
										<span style="width: {$xl}%"></span>{$xl}%
									{/if}
									</div>
										
									</div>
							</li>
							{/loop}
						</ul>
					</div>
				</div>
</div>
<!--地方特产-->
<div class="place louti" id="floor1">
  <div class="laoqu">
      <h2>老区特色产品</h2>
      <ul class="cpname">
        <li><a href="" target="_blank"></a></li>
        <li><a href="" target="_blank"></a></li>
        <li><a href="" target="_blank"></a></li>
        <li><a href="" target="_blank"></a></li>
        <li><a href="" target="_blank"></a></li>
        <li><a href="" target="_blank"></a></li>
      </ul>
  </div>
  <div class="tcin">
      <div class="tc clearfix" style="display: block;">
          <img class="tc_titimg" src="/skin/lqts/images/tc.png">
          <div class="cpxq">
            <dl class="tscp">
              <dt><a href="" target="_blank"><img src="/skin/lqts/images/imagesloadmin.gif"></a></dt>
              <dd><a href="" class="bttitle" target="_blank"></a></dd>
              <dd><a href="" class="bttitle2" title="" target="_blank"></a></dd>
            </dl>
            <dl class="tscp">
              <dt><a href="" target="_blank"><img src="/skin/lqts/images/imagesloadmin.gif"></a></dt>
              <dd><a href="" class="bttitle" target="_blank"></a></dd>
              <dd><a href="" class="bttitle2" title="" target="_blank"></a></dd>
            </dl>
            <dl class="tscp">
              <dt><a href="" target="_blank"><img src="/skin/lqts/images/imagesloadmin.gif"></a></dt>
              <dd><a href="" class="bttitle" target="_blank"></a></dd>
              <dd><a href="" class="bttitle2" title="" target="_blank"></a></dd>
            </dl>
            <dl class="tscp">
              <dt><a href="" target="_blank"><img src="/skin/lqts/images/imagesloadmin.gif"></a></dt>
              <dd><a href="" class="bttitle" target="_blank"></a></dd>
              <dd><a href="" class="bttitle2" title="" target="_blank"></a></dd>
            </dl>
            <dl class="tscp">
              <dt><a href="" target="_blank"><img src="/skin/lqts/images/imagesloadmin.gif"></a></dt>
              <dd><a href="" class="bttitle" target="_blank"></a></dd>
              <dd><a href="" class="bttitle2" title="" target="_blank"></a></dd>
            </dl>
            <dl class="tscp">
              <dt><a href="" target="_blank"><img src="/skin/lqts/images/imagesloadmin.gif"></a></dt>
              <dd><a href="" class="bttitle" target="_blank"></a></dd>
              <dd><a href="" class="bttitle2" title="" target="_blank"></a></dd>
            </dl>
            <dl class="tscp">
              <dt><a href="" target="_blank"><img src="/skin/lqts/images/imagesloadmin.gif"></a></dt>
              <dd><a href="" class="bttitle" target="_blank"></a></dd>
              <dd><a href="" class="bttitle2" title="" target="_blank"></a></dd>
            </dl>
            <dl class="tscp">
              <dt><a href="" target="_blank"><img src="/skin/lqts/images/imagesloadmin.gif"></a></dt>
              <dd><a href="" class="bttitle" target="_blank"></a></dd>
              <dd><a href="" class="bttitle2" title="" target="_blank"></a></dd>
            </dl>
          </div>
      </div>
  </div>
  <div class="load_replace">
  	
  </div>
</div>
<!--特色馆-->
<div class="pavilionin louti"  id="floor2">
  <div class="pavilion clearfix">
    <div class="titleshow teseguan clearfix">
        <h2>特色馆 | <span>弘扬老区旅游，带动老区脱贫</span></h2>
        <ul>
          <li><a href="" target="_blank"></a></li>
          <li><a href="" target="_blank"></a></li>
          <li><a href="" target="_blank"></a></li>
          <li><a href="" target="_blank"></a></li>
        </ul>
    </div>
    <div class="feature">
      <div class="guan">
        <div class="guant">
    			<img src="/skin/lqts/images/imagesloadmin.gif">
    			<a class="ts_cover" href="" target="_blank"></a>
    		</div>
      </div>
      <div class="guan">
        <div class="guant">
          <img src="/skin/lqts/images/imagesloadmin.gif">
          <a class="ts_cover" href="" target="_blank"></a>
        </div>
      </div>
      <div class="guan">
        <div class="guant">
          <img src="/skin/lqts/images/imagesloadmin.gif">
          <a class="ts_cover" href="" target="_blank"></a>
        </div>
      </div>
      <div class="guan">
        <div class="guant">
          <img src="/skin/lqts/images/imagesloadmin.gif">
          <a class="ts_cover" href="" target="_blank"></a>
        </div>
      </div>
      <div class="guan">
        <div class="guant">
          <img src="/skin/lqts/images/imagesloadmin.gif">
          <a class="ts_cover" href="" target="_blank"></a>
        </div>
      </div>
      <div class="guan">
        <div class="guant">
          <img src="/skin/lqts/images/imagesloadmin.gif">
          <a class="ts_cover" href="" target="_blank"></a>
        </div>
      </div>
      <div class="guan">
        <div class="guant">
          <img src="/skin/lqts/images/imagesloadmin.gif">
          <a class="ts_cover" href="" target="_blank"></a>
        </div>
      </div>
      <div class="guan">
        <div class="guant">
          <img src="/skin/lqts/images/imagesloadmin.gif">
          <a class="ts_cover" href="" target="_blank"></a>
        </div>
      </div>
      <div class="guan">
        <div class="guant">
          <img src="/skin/lqts/images/imagesloadmin.gif">
          <a class="ts_cover" href="" target="_blank"></a>
        </div>
      </div>
    </div> 
    <div class="cg">
      <div class="cg_inn">
          <img src="/skin/lqts/images/tese/imagesloadmin.jpg" width="388" height="355">
		      <a class="ts_cover" href="" target="_blank"></a>
      </div>
      <div class="gjs">
        <img src="/skin/lqts/images/tsg_11.jpg">
        <div class="an"></div>
      </div>
      <div class="kq">
        <img src="/skin/lqts/images/tsg_11.jpg">
        <h2><a href="" target="_blank">28个省/市<br>已开启</a></h2>        
      </div>
    </div>
  </div>
  <div class="load_replace">
    
  </div>
</div>
<!--正文-->
<div class="index">
    <!--农副产品-->
    <div class="productin" id="floor3">
      <div class="product louti">
        <div class="titleshow nongfu_pro clearfix">
          <h2>农副产品 | <span>弘扬老区产品，带动老区脱贫</span></h2>
          {php $cats = get_maincat(4)}
          <ul>
          {loop $cats $k $v}
            <li><a href="{$MODULE[16][linkurl]}{$v[linkurl]}" target="_blank">{$v[catname]}</a></li>
            {/loop}
          </ul>
        </div>
        <div class="productinn clearfix">
          <dl class="cp">
            <dt><a href="" target="_blank"><img src="/skin/lqts/images/imagesloadmin.gif"></a></dt>
            <dd><a href="" target="_blank" class="bttitle" title=""></a></dd>
            <dd><a href="" target="_blank" class="bttitle2" title=""></a></dd>
          </dl>
          <dl class="cp">
            <dt><a href="" target="_blank"><img src="/skin/lqts/images/imagesloadmin.gif"></a></dt>
            <dd><a href="" target="_blank" class="bttitle" title=""></a></dd>
            <dd><a href="" target="_blank" class="bttitle2" title=""></a></dd>
          </dl>
          <dl class="cp">
            <dt><a href="" target="_blank"><img src="/skin/lqts/images/imagesloadmin.gif"></a></dt>
            <dd><a href="" target="_blank" class="bttitle" title=""></a></dd>
            <dd><a href="" target="_blank" class="bttitle2" title=""></a></dd>
          </dl>
          <dl class="cp">
            <dt><a href="" target="_blank"><img src="/skin/lqts/images/imagesloadmin.gif"></a></dt>
            <dd><a href="" target="_blank" class="bttitle" title=""></a></dd>
            <dd><a href="" target="_blank" class="bttitle2" title=""></a></dd>
          </dl>
          <dl class="cp">
            <dt><a href="" target="_blank"><img src="/skin/lqts/images/imagesloadmin.gif"></a></dt>
            <dd><a href="" target="_blank" class="bttitle" title=""></a></dd>
            <dd><a href="" target="_blank" class="bttitle2" title=""></a></dd>
          </dl>
          <dl class="cp">
            <dt><a href="" target="_blank"><img src="/skin/lqts/images/imagesloadmin.gif"></a></dt>
            <dd><a href="" target="_blank" class="bttitle" title=""></a></dd>
            <dd><a href="" target="_blank" class="bttitle2" title=""></a></dd>
          </dl>
          <dl class="cp">
            <dt><a href="" target="_blank"><img src="/skin/lqts/images/imagesloadmin.gif"></a></dt>
            <dd><a href="" target="_blank" class="bttitle" title=""></a></dd>
            <dd><a href="" target="_blank" class="bttitle2" title=""></a></dd>
          </dl>
          <dl class="cp">
            <dt><a href="" target="_blank"><img src="/skin/lqts/images/imagesloadmin.gif"></a></dt>
            <dd><a href="" target="_blank" class="bttitle" title=""></a></dd>
            <dd><a href="" target="_blank" class="bttitle2" title=""></a></dd>
          </dl>
          <dl class="cp">
            <dt><a href="" target="_blank"><img src="/skin/lqts/images/imagesloadmin.gif"></a></dt>
            <dd><a href="" target="_blank" class="bttitle" title=""></a></dd>
            <dd><a href="" target="_blank" class="bttitle2" title=""></a></dd>
          </dl>
          <dl class="cp">
            <dt><a href="" target="_blank"><img src="/skin/lqts/images/imagesloadmin.gif"></a></dt>
            <dd><a href="" target="_blank" class="bttitle" title=""></a></dd>
            <dd><a href="" target="_blank" class="bttitle2" title=""></a></dd>
          </dl>


        </div>
      </div>
      <div class="tsg clearfix">
        <div class="adve">
          <a href="#"><img src="/skin/lqts/images/guangg_01.jpg" width="393" height="100"></a>
          <a href="#"><img src="/skin/lqts/images/guangg_02.jpg" width="393" height="100"></a>
          <a href="#"><img src="/skin/lqts/images/guangg_03.jpg" width="393" height="100"></a>
        </div>
      </div> 
      <div class="load_replace">
        
      </div>
  </div>
    <!--文化产品-->
    <div class="productin" id="floor4">
    <div class="product louti">
      <div class="titleshow culture_pro">
        <h2>文化产品 | <span>品文化享产品</span></h2>
        {php $cats = get_maincat(5)}
        <ul>
          {loop $cats $k $v}
          <li><a href="{$MODULE[16][linkurl]}{$v[linkurl]}" target="_blank">{$v[catname]}</a></li>
          {/loop}
        </ul>
      </div>
      <div class="productinn clearfix">
        <dl class="cp">
          <dt><a href="" target="_blank"><img src="/skin/lqts/images/imagesloadmin.gif"></a></dt>
          <dd><a href="" target="_blank" class="bttitle" title=""></a></dd>
          <dd><a href="" target="_blank" class="bttitle2" title=""></a></dd>
        </dl>
        <dl class="cp">
          <dt><a href="" target="_blank"><img src="/skin/lqts/images/imagesloadmin.gif"></a></dt>
          <dd><a href="" target="_blank" class="bttitle" title=""></a></dd>
          <dd><a href="" target="_blank" class="bttitle2" title=""></a></dd>
        </dl>
        <dl class="cp">
          <dt><a href="" target="_blank"><img src="/skin/lqts/images/imagesloadmin.gif"></a></dt>
          <dd><a href="" target="_blank" class="bttitle" title=""></a></dd>
          <dd><a href="" target="_blank" class="bttitle2" title=""></a></dd>
        </dl>
        <dl class="cp">
          <dt><a href="" target="_blank"><img src="/skin/lqts/images/imagesloadmin.gif"></a></dt>
          <dd><a href="" target="_blank" class="bttitle" title=""></a></dd>
          <dd><a href="" target="_blank" class="bttitle2" title=""></a></dd>
        </dl>
        <dl class="cp">
          <dt><a href="" target="_blank"><img src="/skin/lqts/images/imagesloadmin.gif"></a></dt>
          <dd><a href="" target="_blank" class="bttitle" title=""></a></dd>
          <dd><a href="" target="_blank" class="bttitle2" title=""></a></dd>
        </dl>
        <dl class="cp">
          <dt><a href="" target="_blank"><img src="/skin/lqts/images/imagesloadmin.gif"></a></dt>
          <dd><a href="" target="_blank" class="bttitle" title=""></a></dd>
          <dd><a href="" target="_blank" class="bttitle2" title=""></a></dd>
        </dl>
        <dl class="cp">
          <dt><a href="" target="_blank"><img src="/skin/lqts/images/imagesloadmin.gif"></a></dt>
          <dd><a href="" target="_blank" class="bttitle" title=""></a></dd>
          <dd><a href="" target="_blank" class="bttitle2" title=""></a></dd>
        </dl>
        <dl class="cp">
          <dt><a href="" target="_blank"><img src="/skin/lqts/images/imagesloadmin.gif"></a></dt>
          <dd><a href="" target="_blank" class="bttitle" title=""></a></dd>
          <dd><a href="" target="_blank" class="bttitle2" title=""></a></dd>
        </dl>
        <dl class="cp">
          <dt><a href="" target="_blank"><img src="/skin/lqts/images/imagesloadmin.gif"></a></dt>
          <dd><a href="" target="_blank" class="bttitle" title=""></a></dd>
          <dd><a href="" target="_blank" class="bttitle2" title=""></a></dd>
        </dl>
        <dl class="cp">
          <dt><a href="" target="_blank"><img src="/skin/lqts/images/imagesloadmin.gif"></a></dt>
          <dd><a href="" target="_blank" class="bttitle" title=""></a></dd>
          <dd><a href="" target="_blank" class="bttitle2" title=""></a></dd>
        </dl>

      </div>
      </div>
      <div class="tsg">
        <div class="adve">
          <a href="#"><img src="/skin/lqts/images/guangg_04.jpg" width="393" height="100"></a>
          <a href="#"><img src="/skin/lqts/images/guangg_05.jpg" width="393" height="100"></a>
          <a href="#"><img src="/skin/lqts/images/guangg_06.jpg" width="393" height="100"></a>
        </div>
        </div>
        <div class="load_replace">
        
        </div>
      </div>
  </div>
    <!--旅游产品1-->
    <div class="productin" id="floor5">
    <div class="product louti">
      <div class="titleshow ture_pro">
        <h2>旅游产品 | <span>品文化享产品</span></h2>
        {php $cats = get_maincat(6)}
        <ul>
          {loop $cats $k $v}
          <li><a href="{$MODULE[16][linkurl]}{$v[linkurl]}" target="_blank">{$v[catname]}</a></li>
          {/loop} 
        </ul>
      </div>
      <div class=" clearfix">
        <div class="tourin clearfix">
           <div class="cp">
             <div class="cptp">
               <a href="" target="_blank"><img src="/skin/lqts/images/imagesloadmin.gif" width="228" height="243"></a>
             </div>
             <div class="gpsa">
               <a href="" target="_blank"></a>
             </div>
             <div class="recom">
                 <h2></h2>
                 <p></p>
             </div>
           </div>
           <div class="cp">
             <div class="cptp">
               <a href="" target="_blank"><img src="/skin/lqts/images/imagesloadmin.gif" width="228" height="243"></a>
             </div>
             <div class="gpsa">
               <a href="" target="_blank"></a>
             </div>
             <div class="recom">
                 <h2></h2>
                 <p></p>
             </div>
           </div>
           <div class="cp">
             <div class="cptp">
               <a href="" target="_blank"><img src="/skin/lqts/images/imagesloadmin.gif" width="228" height="243"></a>
             </div>
             <div class="gpsa">
               <a href="" target="_blank"></a>
             </div>
             <div class="recom">
                 <h2></h2>
                 <p></p>
             </div>
           </div>
           <div class="cp">
             <div class="cptp">
               <a href="" target="_blank"><img src="/skin/lqts/images/imagesloadmin.gif" width="228" height="243"></a>
             </div>
             <div class="gpsa">
               <a href="" target="_blank"></a>
             </div>
             <div class="recom">
                 <h2></h2>
                 <p></p>
             </div>
           </div>
           <div class="cp">
             <div class="cptp">
               <a href="" target="_blank"><img src="/skin/lqts/images/imagesloadmin.gif" width="228" height="243"></a>
             </div>
             <div class="gpsa">
               <a href="" target="_blank"></a>
             </div>
             <div class="recom">
                 <h2></h2>
                 <p></p>
             </div>
           </div>
           <div class="cp">
             <div class="cptp">
               <a href="" target="_blank"><img src="/skin/lqts/images/imagesloadmin.gif" width="228" height="243"></a>
             </div>
             <div class="gpsa">
               <a href="" target="_blank"></a>
             </div>
             <div class="recom">
                 <h2></h2>
                 <p></p>
             </div>
           </div>
           <div class="cp">
             <div class="cptp">
               <a href="" target="_blank"><img src="/skin/lqts/images/imagesloadmin.gif" width="228" height="243"></a>
             </div>
             <div class="gpsa">
               <a href="" target="_blank"></a>
             </div>
             <div class="recom">
                 <h2></h2>
                 <p></p>
             </div>
           </div>
           <div class="cp">
             <div class="cptp">
               <a href="" target="_blank"><img src="/skin/lqts/images/imagesloadmin.gif" width="228" height="243"></a>
             </div>
             <div class="gpsa">
               <a href="" target="_blank"></a>
             </div>
             <div class="recom">
                 <h2></h2>
                 <p></p>
             </div>
           </div>

         </div>
         <div class="adsense clearfix">
             <span><img src="/skin/lqts/images/xianyx.png"></span>
         </div> 
      </div>
      </div>
      <div class="tsg">
        <div class="adve">
          <a href="#"><img src="/skin/lqts/images/guangg_02.jpg" width="393" height="100"></a>
          <a href="#"><img src="/skin/lqts/images/guangg_03.jpg" width="393" height="100"></a>
          <a href="#"><img src="/skin/lqts/images/guangg_04.jpg" width="393" height="100"></a>
        </div>
        </div>
         <div class="load_replace">
        
        </div>
      </div>
  </div>
</div>

{template 'footer'}