{loop $tags $k $t}
{php $ids = get_catids(6)}
{php $guan =get_changguan($t[username])}
		    <div class="content_list hot">
						<p class="content_list_img">
							<a href="{$t[linkurl]}" target="_blank"><img data="{str_replace('.thumb.'.file_ext($t[thumb]), '',$t[thumb])}" width="221" height="223" alt=""></a>
							<span class="bloneTO">{$guan[changguan]}<i></i></span>
							<!-- <span class="hots">HOT</span> -->
						</p>
						<div class="content_list_intro">
							<a href="{$t[linkurl]}" target="_blank" title="{$t[title]}">{dsubstr($t[title],40,'...')}</a>
							{if strpos($ids, $t[catid]) === false}<span class="content_list_intro_price"><span>¥</span>{$t[price]}</span>{/if}
						</div>
					</div>
{/loop}		
{if $showpage && $pages}<div class="pages">{$pages}</div>{/if}