@charset "utf-8";
/* CSS Document */
.fund-center{width:1126px; margin:35px auto 0; color:#333; font-size:14px;}
.us-selected{color:#dd6b58;}
.fund-content{margin-top:20px;}
.fund-left{float:left; width:168px; height:304px; border:1px solid #ead1b1; border-top:3px solid #ead1b1;}
.fund-left h3{font-size:18px; color:#c0a287; margin:14px 0 14px 45px;}
.fund-left ul li{height:30px; line-height:30px; margin-bottom:6px; font-size:14px; color:#333; padding-left:22px;}
.fund-left ul li.selected{background:#c0a287;}
.fund-left ul li.selected a{color:#fff;}
.fund-left ul li a{display:inline-block; color:#333; background:url(../img/fund/list-bg.png) no-repeat;text-indent:30px; font-size:15px;}
.fund-left ul li a.a1{ background-position:-99px 6px; }
.fund-left ul li a.a2{  background-position:-7px -27px;}
.fund-left ul li a.a3{  background-position:-7px -59px;}
.fund-left ul li.selected a.a1{background-position:-7px 5px;}
.fund-left ul li.selected a.a2{background-position:-99px -25px;}
.fund-left ul li.selected a.a3{background-position:-99px -59px;}
.fund-left ul li a:hover{color:#f40;}
.fund-left ul li.selected a:hover{color:#fff;}

.fund-right{width:930px; float:right;}
.fund-banner{border:1px solid #ead1b1;}
.introduce-content{padding:0 30px; margin-top:15px;}
.introduce-content p{line-height:26px; font-size:14px; color:#666;}
.p1{text-indent:2em;}