@charset "utf-8";
/* CSS Document */
.aboutus-center{width:1126px; margin:35px auto 0; color:#333; font-size:14px;}
.us-selected{color:#dd6b58;}
.about-content{width:1124px; margin-top:20px;}
.about-left{width:138px; padding:20px 0 20px 30px; height:auto;border:1px solid #ead1b1; border-top:3px solid #ead1b1; margin-right:20px; display:inline;}
	.about-left ul{margin-top:5px;}
	.about-left li{padding:8px 0;}
	.about-left li ul{padding-left:5px;}
	.about-left li.p,.about-left li.m{background:url(../images/m.gif) 2px 11px no-repeat;cursor:pointer;text-indent:17px;}
	.about-left li.p{background:url(../images/p.gif) no-repeat 2px 11px;}
.about-right{width:930px; height:auto; background:#f7f5f3; padding:50px 0; border:1px solid #ddd; border-top:3px solid #ead1b1;}
.about-rightcontent{width:752px; margin:0 auto;}
.about-title{padding-bottom:30px; text-align:center; font-size:24px; color:#333; font-weight:normal; border-bottom:2px solid #ead1b1; margin-bottom:30px;}
.about-title .time{font-size:12px; color:#999; display:inline-block; margin-top:8px;}
.about-rightcontent p{font-size:16px; line-height:28px; margin-top:10px; text-indent:3em;}
.about-rightcontent img{margin-left:60px; margin-top:10px;}
.about-rightcontent p.yigou{color:#000; font-size:18px;}

/*查看订单*/
.order-left{padding-top:0px; padding-left:0px; width:158px;}
.order-list{margin-left:30px;}
.order-title{height:28px; width:100%; background:#ead1b1; line-height:28px; text-align:center; color:#8e7257;}
.order-step{margin-top:20px; height:30px; border-bottom:1px solid #bdbdbd; padding-left:30px;}
.order-step li{height:28px; line-height:28px; width:140px; text-align:center; color:#dd6b58; border:1px solid #bdbdbd; border-top:2px solid #dd6b58; border-bottom:1px solid #fff;}
.order-table{margin-top:20px; width:930px;}
.order-table th{height:34px; background:#f4f4f4;text-align:center;}
.order-table td{padding:20px 0; text-align:center;}
.kuaidi{height:50px; width:872px; line-height:50px; background:#f4f4f4; padding-left:58px;}
.order-content{margin-top:30px; padding-left:30px; padding-bottom:30px; border-bottom:1px solid #bbb;}
.order-content li{margin-top:15px; color:#666;}
.order-content li.first{color:#000; margin-top:0; font-weight:bold;}
.list{margin-top:20px; margin-left:30px; color:#000; font-weight:bold}
.order-table td.last{background:#f4f4f4; text-align:right; padding-right:20px;}
.order-delete{padding:10px 30px; color:#fff; background:#58879d; margin-left:10px;}
.order-pay{padding:10px 30px; color:#fff; background:#dd6b58; margin-left:10px;}
.order-delete:hover,.order-pay:hover{color:#fff;}

/*我的收藏*/
.my-collect{font-size:16px; color:#333; font-weight:bold;}
.collectdetail{margin:20px 0 20px 24px; border-right:1px dashed #b0adad;}
.collectdetail img{padding:1px; border:1px solid #e2e2e2;}
.collectdetail span{margin-left:15px; color:#000; margin-top:44px; font-size:14px;}
.collect,.delete{margin-top:8px;}
.collect a,.delete a{color:#000;}
.collect a:hover,.delete a:hover{color:#F00;}
.collect-table td{padding:0; border-bottom:1px solid #dedede;}
/*页码*/
.pages{float:left;}
	.pages li{float:left;}
	.item{padding:5px 7px; border:1px solid #ccc; margin-right:5px; cursor:pointer; color:#000; background:#fefefe; font-size:14px;}
	.item:hover{border:1px solid #dd6b58;}
	.item-prev{color:#999;}
	.pn-break{margin:5px 10px 0;}
	.active{background:#d3b995; color:#dd6b58;}
	.total{float:left; margin-top:6px; font-size:14px; margin-right:8px;}
	.p-skip{float:left; font-size:14px;}
	.p-down{width:36px; height:24px; text-align:center; line-height:22px; border:1px solid #ccc; margin:0 5px; font-size:14px;}
	.btn-default{float:left;padding:5px 7px; border:1px solid #ccc; color:#000; font-size:14px; background:#eeeeee; margin-left:10px;}