{template 'header', $module}
{if $action == 'index'}
<div class="cggl_index_ri member_index">
			<div class="cggl_index_one tit">
				<h2>服务购买明细</h2>
			</div>
			<div class="cggl_index_two advert">
				<ul class="classify">
					<li class="on"><a href="#">广告购买明细</a></li>
				</ul> 
				<div class="form">
                    <ul>
		                <li class="plate">
        		            <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;版块</span>
                    		<select size="1" name="xz">
                    		    <option selected value="xz">全部</option>
		                    	<option value="tj">首页</option>
        		            	<option value="hb">列表页</option>
                		    	<option value="tj">搜索页面</option>
		                    </select>
		                </li>
        		        <li class="seat">
                		    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;位置</span>
                    		<select size="1" name="xz">
                    		    <option selected value="xz">全部</option>
		                    	<option value="tj">头部</option>
        		            	<option value="hb">banner</option>
                		    	<option value="tj">列表</option>
                    			<option value="hb">详情</option>
		                    </select> 
		                </li>
        		    </ul>
                	<ul>
                    	<li class="onder">
		                    <span>订单编号</span><input type="test" name="">
		                </li>
        		        <li class="place">
                		    <span>下单时间</span><input type="test" name=""><span>至</span><input type="test" name="">
        		        </li>
        		    </ul>
                	<ul class="rake">
                    	<li class="rake_one">
		                    <a href="javascript:;">搜索</a>
        		        </li>
        		    </ul>
				</div>
				<div class="interfix_in detail_in">
					<ul class="interfix detail">
						<li class="detail1">订单号</li>
						<li>版块</li>
						<li>付费金额</li>
						<li>位置</li>
						<li>下单时间</li>
						<li>订单状态</li>
						<li>操作</li>
					</ul>
					<!--有订单信息-->
					<div class="interfix_on detail_on">
					{loop $lists $k $v}
						<ul class="interfix detail">
							<li class="detail1">123698745698126</li>
							<li>{$v[title]}</li>
							<li>￥{$v[amount]}</li>
							<li>banner</li>
							<li>{timetodate($v[addtime], 5)}</li>
							<li>{$v[process]}</li>
							<li class="cz_interfix"><a href="{$adurl}{rewrite('index.php?aid='.$v['aid'])}">查看</a>/<span><a href="#">删除</a></span></li>
						</ul>
						{/loop}
						<!-- <ul class="interfix detail">
							<li class="detail1">123698745698126</li>
							<li>首页</li>
							<li>￥10000</li>
							<li>banner</li>
							<li>2017-9-9</li>
							<li>已完成</li>
							<li class="cz_interfix"><a href="#">查看</a>/<span><a href="#">删除</a></span></li>
						</ul>
						<ul class="interfix detail">
							<li class="detail1">123698745698126</li>
							<li>首页</li>
							<li>￥10000</li>
							<li>banner</li>
							<li>2017-9-9</li>
							<li>已完成</li>
							<li class="cz_interfix"><a href="#">查看</a>/<span><a href="#">删除</a></span></li>
						</ul>
						<ul class="interfix detail">
							<li class="detail1">123698745698126</li>
							<li>首页</li>
							<li>￥10000</li>
							<li>banner</li>
							<li>2017-9-9</li>
							<li>已完成</li>
							<li class="cz_interfix"><a href="#">查看</a>/<span><a href="#">删除</a></span></li>
						</ul> -->
						<div class="pages">{$pages}</div>
					</div>
				</div>	   
			</div>
		</div>
{else}
<div class="cggl_index_ri member_index">
			<div class="cggl_index_one tit">
				<h2>广告服务</h2>
			</div>
			<div class="cggl_index_two member">
				<p><img src="{DT_STATIC}{$MODULE[2][moduledir]}/images/hy_guangg.jpg"></p>
				<span><a href="{DT_STATIC}{$MODULE[2][moduledir]}/ad.php?action=add&pid=25">立即发布</a></span>
			</div>
		</div>

		{/if}
{template 'footer', $module}