{template 'header', 'member'}
<div class="cggl_index_ri auditing_index">
			<div class="cggl_index_one">
				<h2>收货地址</h2>
			</div>
			{if $action == 'edit'}
			<div class="cggl_index_two site">
				<h2>新增收货地址</h2>
				<form method="post" action="?" id="dform" onsubmit="return check();">
					<input type="hidden" name="action" value="{$action}"/>
						<input type="hidden" name="itemid" value="{$itemid}"/>
						<input type="hidden" name="forward" value="{$forward}"/>
				<div class="zone clearfix">
					<span>所在地区：</span>
					<div class="table">
                    	{ajax_area_select('post[areaid]', '请选择', $areaid)} 
					</div>
				</div>
				<div class="zone">
					<span>街道地址：</span>
					<textarea type="test" rows="2" cols="50" name="post[address]"  placeholder="建议您如实填写详细收货地址，例如街道名称，门牌号码，楼层和房间号等信息">{$address}</textarea> 
				</div>
				<div class="zone post">
					<span>邮政编码：</span>
					<input type="test" name="post[postcode]" value="{$postcode}" placeholder="不清楚邮政编码，请填写000000">
				</div>
				<div class="zone">
					<span class="receiver">收货人：</span>
					<input type="test" maxlength="20" name="post[truename]" value="{$truename}" placeholder="长度不超过20字">
				</div>
				<div class="zone">
					<span>电话号码：</span>
					<input maxlength="15" type="test" name="post[mobile]" value="{$mobile}">
				</div>
				<div class="default">
					<input type="checkbox" name="post[note]" {if $note ==1} checked="checked" value="1"{else} value="0" {/if}>
					<span>设为默认地址</span>
				</div>
				<div class="hunt">
                    <input type="submit" name="submit" value=" 保存 " />
                </div>
              </form>    	
			</div>
			{else}
				<div class="cggl_index_two site">
				<h2>新增收货地址</h2>
				<form method="post" action="?" id="dform" onsubmit="return check();">
					<input type="hidden" name="action" value="add"/>
						<input type="hidden" name="itemid" value="{$itemid}"/>
						<input type="hidden" name="forward" value="{$forward}"/>
				<div class="zone clearfix">
					<span>所在地区：</span>
					<div class="table">
                    	{ajax_area_select('post[areaid]', '请选择', $areaid)} 
					</div>
				</div>
				<div class="zone">
					<span>街道地址：</span>
					<textarea type="test" rows="2" cols="50" name="post[address]" placeholder="建议您如实填写详细收货地址，例如街道名称，门牌号码，楼层和房间号等信息"></textarea> 
				</div>
				<div class="zone post">
					<span>邮政编码：</span>
					<input type="test" name="post[postcode]" value="{$postcode}"  placeholder="不清楚邮政编码，请填写000000">
				</div>
				<div class="zone">
					<span class="receiver">收货人：</span>
					<input type="test" maxlength="20" name="post[truename]" value="{$truename}" placeholder="长度不超过20字">
				</div>
				<div class="zone">
					<span>电话号码：</span>
					<input maxlength="15" type="test" name="post[mobile]" value="{$mobile}">
				</div>
				<div class="default">
					<input type="checkbox" name="post[note]" value="0">
					<span>设为默认地址</span>
				</div>
				<div class="hunt">
                    <input type="submit" name="submit" value=" 保存 " />
                </div>
              </form>    	
			</div>
			<div class="address">
				<h2>已保存了<span> {if $limit_used}{$limit_used}{else}0{/if} </span>条地址，还能保存<span> {$limit_free} </span>条地址</h2>
				<div class="interfix_in address_inn">
					<ul class="interfix address_in">
						<li class="address3">收货人</li>
						<li class="address2">所在地区</li>
						<li class="address2">街道地址</li>
						<li class="address1">邮编</li>
						<li class="address1">电话/手机</li>
						<li class="address1">操作</li>
						<li class="address1"></li>
					</ul>              
					<div class="interfix_on address_on">
						{loop $lists $k $v}
						<ul class="interfix address_in">
						    <li class="address3">{$v[truename]}</li>
						    <li class="address2">{area_pos($v[areaid], '')}</li>
						    <li class="address2">{$v[address]}</li>
						    <li class="address1">{$v[postcode]}</li>
						    <li class="address1">{$v[mobile]}</li>
						    <li class="address1">
						        <a href="?action=edit&itemid={$v[itemid]}">修改</a>/<span><a href="?action=delete&itemid={$v[itemid]}"">删除</a></span>
						    </li>
						    {if !$v[note]}
						    
						    	 <li class="address4"><a href="?action=edit&itemid={$v[itemid]}">设为默认</a></li>
						    	 {/if}
					    </ul>
					    {/loop}
					</div>                                         
				</div>
			</div>
			{/if}
		</div>
		<script type="text/javascript">
			$(function () {
				$(".default input").click(function () {
					if ($(this).attr("checked")) {
						$(this).attr("value","1")
					}else{
						$(this).attr("value","0")
					}
				})
			})
		</script>
{template 'footer', 'member'}