{template 'header', $module}
{if $action == 'setting'}
{if $vbank}
<table cellspacing="1" cellpadding="6" class="tb">
<tr>
<td class="tl">收款方式</td>
<td class="tr">{$member[bank]}</td>
</tr>
<tr>
<td class="tl"> 收款帐号</td>
<td class="tr">{$member[account]}</td>
</tr>
<tr>
<td class="tl"> 收款人</td>
<td class="tr">{$member[truename]}</td>
</tr>
<tr>
<td class="tl">认证状态</td>
<td class="tr f_green">已认证</td>
</tr>
</table>
{else}
<form method="post" action="cash.php">
<input type="hidden" name="action" value="{$action}"/>
<table cellspacing="1" cellpadding="6" class="tb">
<tr>
<td class="tl"> <span class="f_red">*</span>收款方式</td>
<td class="tr">{$bank_select}</td>
</tr>
<tr>
<td class="tl"> <span class="f_red">*</span>收款帐号</td>
<td class="tr"><input type="text" size="30" name="account" value="{$member[account]}"/> [注意] 此帐号开户名必须为 <strong>{$member[truename]}</strong></td>
</tr>
<tr>
<td class="tl"> <span class="f_red">*</span>支付密码</td>
<td class="tr">{template 'password', 'chip'}</td>
</tr>
<tr>
<td class="tl"> </td>
<td class="tr">
<input type="submit" name="submit" value=" 确 定 " class="btn"/>&nbsp;&nbsp;&nbsp;&nbsp;<input type="reset" name="reset" value=" 重 置 " class="btn"/>
</td>
</tr>
</table>
</form>
{/if}
<script type="text/javascript">s('cash');m('action_setting');</script>
{/if}
{template 'footer', $module}