{template 'header',$module}
{if $action == 'anquan'}
<link rel="stylesheet" href="{DT_STATIC}{$MODULE[2][moduledir]}/images/zhanghao.css">
<div class="cggl_index_ri member_index">
			<div class="cggl_index_one tit">
				<h2>账号安全</h2>
				<div class="safety clearfix">
					<div class="safety_lf">
						<h3>安全级别：</h3>
						<div class="safe_percent">
							<p></p>
						</div>
					    <span class="safety_levels">较高</span>
					    <h2 class="proposal">
					        建议您启动全部安全设置，以保障账户及资金安全。
					    </h2>
					</div> 
					<div class="safety_ri">
						<h3>查看历史登录记录
						    <span>
						    	<i></i>
						    	NEW 
						    </span>
						</h3>
					</div>   
				</div>
				<!--修改-->
				<div class="amend">
					<ul class="amend_in">
						<li class="password">
							<h2><i></i>登录密码</h2>
							<div class="like">
							    登录特色馆时需要输入的密码，请妥善保管。
							</div>
							<span><a href="?action=xiugai">修改</a></span>
						</li>
						{if $vemail}
						<li class="password mailbox">
							<h2><i></i>邮箱验证</h2>
							<div class="like">
							    您验证的邮箱：{$_email}
							</div>
							<span><a href="send.php?action=email"">修改</a></span>
						</li>
						{else}
							<li class="password mailbox">
							<h2><i class="on"></i>邮箱验证</h2>
							<div class="like">
							    您的邮箱未验证
							    <span>避免账户被盗，请进行验证</span>
							</div>
							<span><a href="validate.php?action=email">验证</a></span>
						</li>
						{/if}
						{if $vmobile}
						<li class="password mailbox cellphone">
							<h2><i></i>手机验证</h2>
							<div class="like">
							    您验证的手机：{$mobile}
							</div>
							<span><a href="send.php?action=mobile">修改</a></span>
						</li>
						{else}
							<li class="password mailbox cellphone">
								<h2><i class="on"></i>手机验证</h2>
								<div class="like">
								    您的手机未进行验证
								    <span>避免账户被盗，请进行验证</span>
								</div>
								<span><a href="validate.php?action=mobile">验证</a></span>
							</li>
							{/if}
							{if $vbank}	
							<li class="password">
							<h2><i></i>银行卡</h2>
							<div class="like">
							    银行卡已认证
							</div>
							<span><a href="javascript:void(0);">修改</a></span>
						</li>
						{else}
						<li class="password">
							<h2><i class="on"></i>银行卡</h2>
							<div class="like">
							    暂未添加银行卡
							</div>
							<span><a href="javascript:void(0);">添加</a></span>
						</li>
						{/if}
					</ul>
				</div>
			</div>			
		</div>
{elseif $action == 'xiugai' || $tab == 1}
<div class="cggl_index_ri member_index">
			<div class="cggl_index_one tit">
				<h2>账号安全</h2>
			</div>
			<div class="cggl_index_two revisein">
				<form method="post" action="?" onsubmit="return Dcheck();" id="dform">
				<input type="hidden" name="tab" id="tab" value="1">
				<div class="revise">
					<span class="fault">原始密码：</span>
					<input type="password" size="20" name="post[oldpassword]" id="oldpassword" >
				</div>
				<div class="revise">
					<span class="fault1">新密码：</span>
					<input type="password" size="20" name="post[password]" id="password">
				</div>	
                <div class="revise">
					<span>确认新密码：</span>
					<input type="password" size="20" name="post[cpassword]" id="cpassword">
				</div>
				{if $is_company}
<table>
<tbody  style="display:none;">
<tr>
<td class="tl">公司名</td>
<td class="tr f_b">{$_company}</td>
</tr>
<tr>
<td class="tl"><span class="f_red">*</span>公司类型</td>
<td class="tr">{dselect($COM_TYPE, 'post[type]', '请选择', $type, 'id="type"', 0)}{if in_array('type', $_E)}&nbsp;{if isset($_U[type])}<span class="f_red">审核中</span>{else}<span class="f_gray">需审核</span>{/if}{/if}&nbsp;<span id="dtype" class="f_red"></span></td>
</tr>
<tr>
<td class="tl">形象图片</td>
<td class="tr"><input name="post[thumb]" type="text" size="60" id="thumb" value="{$thumb}" readonly/>&nbsp;&nbsp;<span onclick="Dthumb({$moduleid},{$MOD[thumb_width]},{$MOD[thumb_height]}, Dd('thumb').value, true);" class="jt">[上传]</span>&nbsp;&nbsp;<span onclick="_preview(Dd('thumb').value);" class="jt">[预览]</span>&nbsp;&nbsp;<span onclick="Dd('thumb').value='';" class="jt">[删除]</span>
{if in_array('thumb', $_E)}&nbsp;{if isset($_U[thumb])}<span class="f_red">审核中</span>{else}<span class="f_gray">需审核</span>{/if}{/if}
<br/><span class="f_gray">建议使用LOGO、办公环境等标志性图片，最佳大小为{$MOD[thumb_width]}px*{$MOD[thumb_height]}px</span></td>
</tr>
<tr>
<td class="tl"><span class="f_red">*</span>所在地区</td>
<td class="tr">{ajax_area_select('post[areaid]', '请选择', $areaid)}{if in_array('areaid', $_E)}&nbsp;{if isset($_U[areaid])}<span class="f_red">审核中</span>{else}<span class="f_gray">需审核</span>{/if}{/if}&nbsp;<span id="dareaid" class="f_red"></span></td>
</tr>
<tr>
<td class="tl"><span class="f_red">*</span>主营行业</td>
<td class="tr">
<div id="catesch"></div><div id="cate">{ajax_category_select('', '', 0, 4, 'size="2" style="height:80px;width:160px;"')}</div>
<input type="button" value=" 添加↓ " class="btn" onclick="addcate({$MOD[cate_max]});"/>
<input type="button" value=" ×删除 " class="btn" onclick="delcate();"/>
{if $DT[schcate_limit]}<input type="button" value=" 搜索 " class="btn" onclick="schcate(4);"/>{/if}
&nbsp;最多可添加 <strong class="f_red">{$MOD[cate_max]}</strong> 个主营行业
<br/><select name="cates" id="cates" size="2" style="height:100px;width:380px;margin-top:5px;">
{loop $cates $c}
<option value="{$c}">{strip_tags(cat_pos(get_cat($c), '/'))}</option>
{/loop}
</select>
<input type="hidden" name="post[catid]" value="{$catid}" id="catid"/><br/>
<span id="dcatid" class="f_red"></span></td>
</tr>
<tr>
<td class="tl"><span class="f_red">*</span>主要经营范围</td>
<td class="tr"><input type="text" size="80" name="post[business]" id="business" value="{$business}" maxlength="250"/>{if in_array('business', $_E)}&nbsp;{if isset($_U[business])}<span class="f_red">审核中</span>{else}<span class="f_gray">需审核</span>{/if}{/if}&nbsp;<span id="dbusiness" class="f_red"></span></td>
</tr>
<tr>
<td class="tl"><span class="f_red">*</span>公司成立年份</td>
<td class="tr"><input type="text" size="15" name="post[regyear]" id="regyear" value="{$regyear}" maxlength="4"/>{if in_array('regyear', $_E)}&nbsp;{if isset($_U[regyear])}<span class="f_red">审核中</span>{else}<span class="f_gray">需审核</span>{/if}{/if}&nbsp;<span id="dregyear" class="f_red"></span> <span class="f_gray">(年份，如：2004)</span></td>
</tr>
<tr>
<td class="tl">经营模式</td>
<td class="tr">
<span id="com_mode">{$mode_check}</span> <span class="f_gray">(最多可选{$MOD[mode_max]}种)</span></td>
</tr>
<tr>
<td class="tl">公司规模</td>
<td class="tr">{dselect($COM_SIZE, 'post[size]', '请选择规模', $size, '', 0)}</td>
</tr>
<tr>
<td class="tl">注册资本</td>
<td class="tr">{dselect($MONEY_UNIT, 'post[regunit]', '', $regunit, '', 0)} <input type="text" size="6" name="post[capital]" id="capital" value="{$capital}"/> 万{if in_array('capital', $_E)}&nbsp;{if isset($_U[capital])}<span class="f_red">审核中</span>{else}<span class="f_gray">需审核</span>{/if}{/if}</td>
</tr>
<tr>
<td class="tl">销售的产品<br/>(提供的服务)</td>
<td class="tr"><input type="text" size="50" name="post[sell]" id="sell" value="{$sell}" maxlength="200"/> <span class="f_gray">多个产品或服务请用'|'号隔开</span></td>
</tr>
<tr>
<td class="tl">采购的产品<br/>(需要的服务)</td>
<td class="tr"><input type="text" size="50" name="post[buy]" id="buy" value="{$buy}" maxlength="200"/> <span class="f_gray">多个产品或服务请用'|'号隔开</span></td>
</tr>
{if $CFD}{fields_html('<td class="tl">', '<td class="tr">', $user, $CFD)}{/if}
</tbody>
<tbody  style="display:none;">

<tr>
<td class="tl"><span class="f_red">*</span>公司地址</td>
<td class="tr"><input type="text" size="60" name="post[address]" id="daddress" value="{$address}" maxlength="200"/>{if in_array('address', $_E)}&nbsp;{if isset($_U[address])}<span class="f_red">审核中</span>{else}<span class="f_gray">需审核</span>{/if}{/if}&nbsp;<span id="ddaddress" class="f_red"></span></td>
</tr>

<tr>
<td class="tl">邮政编码</td>
<td class="tr"><input type="text" size="8" name="post[postcode]" id="postalcode" value="{$postcode}"/></td>
</tr>

<tr>
<td class="tl"><span class="f_red">*</span>公司电话</td>
<td class="tr"><input type="text" size="20" name="post[telephone]" id="telephone" value="{$telephone}"/>{if in_array('telephone', $_E)}&nbsp;{if isset($_U[telephone])}<span class="f_red">审核中</span>{else}<span class="f_gray">需审核</span>{/if}{/if}&nbsp;<span id="dtelephone" class="f_red"></span></td>
</tr>
<tr>
<td class="tl">公司传真</td>
<td class="tr"><input type="text" size="20" name="post[fax]" id="fax" value="{$fax}"/></td>
</tr>
<tr>
<td class="tl">公司Email</td>
<td class="tr"><input type="text" size="30" name="post[mail]" id="mail" value="{$mail}"/> <span class="f_gray">[公开]</span></td>
</tr>
<tr>
<td class="tl">公司网址</td>
<td class="tr"><input type="text" size="30" name="post[homepage]" id="homepage" value="{$homepage}"/></td>
</tr>
</tbody>
<tbody id="Tabs4" style="display:none;">
<tr>
<td class="tl"><span class="f_red">*</span>公司介绍</td>
<td class="tr"><textarea name="post[content]" id="content" class="dsn">{$content}</textarea>
{deditor($moduleid, 'content', $group_editor, '95%', 300)}<br/>
{if in_array('content', $_E)}{if isset($_U[content])}<span class="f_red">审核中</span>{else}<span class="f_gray">需审核</span>{/if}&nbsp;{/if}<span id="dcontent" class="f_red"></span></td>
</tr>
</tbody>
{/if}
</table>

				<div class="sure clearfix">
					<span>
					    <input type="submit" name="submit" value=" 确 认 ">
					    {if isset($success)}
					    <div class="success">
					    	<span>恭喜您修改密码成功</span>
					    </div>
					    {/if}
					</span>
				</div>	
				</form>					
			</div>			
		</div>
{else}
<link rel="stylesheet" href="{DT_STATIC}{$MODULE[2][moduledir]}/images/gerenxinxi.css">
		<div class="wrapContent fr">
			<h3>个人信息</h3>
			<div class="wrapContent_inn">
				<ul class="wrapCont_inn_tit clearfix">
					<li class="on">个人资料</li>
					<p></p>
					<li><a href="{DT_STATIC}{$MODULE[2][moduledir]}/avatar.php">头像照片</a></li>
				</ul>
				<form method="post" action="?" onsubmit="return Dcheck();" id="dform">
				<input type="hidden" name="tab" id="tab" value="{$tab}"/>
				<div class="wrap_con">
					<div class="wrapCont_inn_zl clearfix">
						<div class="gx_dengluming">
							<p class="wrapCont_inn_zlTit"><span></span>登录名：</p>
							<input class="gx_denglumingIn" type="text" value="{$_username}" disabled="disabled">
						</div>
						<div class=" gx_xingming">
							<p class="wrapCont_inn_zlTit"><span></span>姓名：</p>
							<input class="gx_xingmingIn" type="text" name="post[truename]" id="truename" value="{$_truename}">
						</div>
						<div class="gx_hangye">
							<p class="wrapCont_inn_zlTit"><span></span>行业类型：</p>
								{$mode_check}
								<p class="max_gx_hangye">温馨提示：最多可选择{$MOD[mode_max]}个</p>
						</div>
						<div class="gx_diqu">
							<p class="wrapCont_inn_zlTit"><span></span>所在地区：</p>
							{ajax_area_select('post[areaid]', '请选择', $areaid)}
							<input class="gx_diquIn" type="text" placeholder="街道  门牌号  大厦名称  房间号码">
						</div>
						<div class="gx_qq">
							<p class="wrapCont_inn_zlTit">QQ账号：</p>
							<input class="gx_qqIn" type="text" name="post[qq]">
						</div>
						<div class="gx_gddh">
							<p class="wrapCont_inn_zlTit">固定电话：</p>
							<input class="gx_gddhIn" type="text" name="post[telephone]">
						</div>
						<div class="gx_cz">
							<p class="wrapCont_inn_zlTit">传真：</p>
							<input class="gx_czIn" type="text" name="post[fax]">
						</div>
						<div class="gx_yb">
							<p class="wrapCont_inn_zlTit">邮政编码：</p>
							<input class="gx_ybIn" type="text" name="post[postcode]">
						</div>
						<div class="gx_bc">
							<input type="submit" name="submit" value="保存">
						</div>
					</div>
				</div>
				</form>
			</div>
		</div>
{/if}
</div>
<script>
	$(function () {
		$(".wrapCont_inn_tit li").click(function () {
			$(this).addClass("on").siblings("li").removeClass("on");
		})
		var safe_num=0;
		for (var i = 0; i < 4; i++) {
			if ($(".password h2 i").eq(i).hasClass("on")) {
				safe_num++;
			}
		}
		switch(safe_num) {
			case 0:
				$(".safety_levels").html("安全");
				break;
			case 1:
				$(".safety_levels").html("较高");
				break;
			case 2:
				$(".safety_levels").html("一般");
				$(".safety_levels").css("color","#f99");
				break;
			
			case 3:
				$(".safety_levels").html("危险");
				$(".safety_levels").css("color","#f00");
				break;
		}
		$(".safe_percent p").css("width",(4-safe_num)/4*72);
	})
</script>
{template 'footer',$module}