{template 'header', $module}
<link rel="stylesheet" href="{DT_STATIC}{$MODULE[2][moduledir]}/images/shoucang.css">
<script src="{DT_STATIC}{$MODULE[2][moduledir]}/images/jquery.SuperSlide.2.1.1.js"></script>
<script src="{DT_STATIC}{$MODULE[2][moduledir]}/images/shoucang.js"></script>
<div class="cggl_index_ri">
			<div class="cggl_index_one">
				<h2>我的收藏</h2>
			</div>
			<div class="cggl_index_two auditing">
				<ul class="classify collect">
					<li class="on"><a href="#">商品</a><span><img src="{DT_STATIC}{$MODULE[2][moduledir]}/images/jiange.jpg"></span></li>
					<li><a href="#">店铺</a></li>
				</ul>
				<!--商品-->
			    <div class="collect_in">
			    {if !$lists}
			        <div class="interfix_no collect_no">
			    	    您还没有收藏的商品
			        </div>
			        {else}
			        <div class="interfix_on collect_on">
                        <div class="cut">
			                <span><input name="" type="checkbox" value="">全选</span>
			        	    <h2><a href="#">删除</a></h2>
			            </div>	
			    	    <div class="wares">
			    	    	<ul class="wares_in">
			    	    		<li class="wares1">商品名称</li>
			    	    		<li>价格</li>
			    	    		<li>操作</li>
			    	    	</ul>
			    	    	<!--一-->
			    	    	{loop $lists $k $v}
			    	    	<ul class="wares_inn">
			    	    		<li class="wares1">
			    	    			<div class="xxk">
			    	    				<input type="checkbox" name="">
			    	    			</div>
			    	    			<dl class="name">
			    	    				<dt><img src="{$v[thumb]}"></dt>
			    	    				<dd class="placejs"><a href="#">{$v[title]}</a></dd>
			    	    				<dd><a href="#">价格： {$v[price]} 元/{$v[unit]}</a></dd>
			    	    			    <div class="discuss">
			    	    				    <span>已有66人购买</span>
			    	    				    <h2>4人评论</h2>
			    	    			    </div>			    	    				
			    	    			</dl>
			    	    		</li>
			    	    		<li class="wares2">￥145.00</li>
			    	    		<li class="wares3">
			    	    			<div class="handle">
			    	    				<h2>加入购物车</h2>
			    	    				<h3><a href="#">直接购买</a></h3>
			    	    				<span>取消收藏</span>
			    	    			</div>
			    	    		</li>
			    	    	</ul>
			    	    {/loop}
			    	   
			    	    </div>
			    	  <div class="pages">{$pages}</div>	
			    	  {/if}
    					<div class="avocation">
    					    <div class="avocation_in">
    					    	<h2>感兴趣的商品</h2>
    					    </div>
    					    <div class="avocationin sensein">	
    					        <div class="avocation_inn sense_inn">
    					    		<div class="hd">
									    <a class="next"></a>
									    <ul></ul>
									    <a class="prev"></a>
							   		</div>
								    <div class="bd">
										<div id="history">
										<ul class="print">
										<?php
										$MOD_name = "$MOD[moduledir]";
										if (!empty($_COOKIE["$MOD_name"]['history'])){
										$history = explode(',', $_COOKIE["$MOD_name"]['history']);
										array_unshift($history, $itemid);
										$history = array_unique($history);
										while (count($history) > 5){
										array_pop($history);
										}setcookie("$MOD_name".'[history]', implode(',', $history), time() + 86400 * 7,'/'."$MOD_name","$DT_PATH");
										} else {
										setcookie("$MOD_name".'[history]', $itemid, time() + 86400 * 7,'/'."$MOD_name","$DT_PATH");
										} $history =isset ($_COOKIE["$MOD_name"]['history']) ? $_COOKIE["$MOD_name"]['history'] : 0;
										if($del=="del"){
										setcookie("$MOD_name".'[history]', "", time()-3600);
										echo header("Location: $linkurl"); 
										};
										$query = mysql_query("SELECT * FROM `$table` WHERE `itemid` in ($history) ORDER BY FIELD(itemid,$history)");
										while($t = mysql_fetch_array($query)){?>
											<li>
								    			<dl class="printin">
								    				<dt><img src="{$t[thumb]}"></dt>
								    				<dd>{$t[title]}</dd>
								    			</dl>
								    		</li>
										<?php } ?>
										</ul>
										</div>
								    	<!-- <ul class="print">
								    		<li>
								    			<dl class="printin">
								    				<dt><img src="{DT_STATIC}{$MODULE[2][moduledir]}/images/ganxingq.jpg"></dt>
								    				<dd>荔枝蜜塑料装 可保质期三年</dd>
								    			</dl>
								    		</li>
								    		<li>
								    			<dl class="printin">
								    				<dt><img src="{DT_STATIC}{$MODULE[2][moduledir]}/images/ganxingq.jpg"></dt>
								    				<dd>荔枝蜜塑料装 可保质期三年bd</dd>
								    			</dl>
								    		</li>
								    		<li>
								    			<dl class="printin">
								    				<dt><img src="{DT_STATIC}{$MODULE[2][moduledir]}/images/ganxingq.jpg"></dt>
								    				<dd>荔枝蜜塑料装 可保质期三年</dd>
								    			</dl>
								    		</li>
								    		<li>
								    			<dl class="printin">
								    				<dt><img src="{DT_STATIC}{$MODULE[2][moduledir]}/images/ganxingq.jpg"></dt>
								    				<dd>荔枝蜜塑料装 可保质期三年</dd>
								    			</dl>
								    		</li>
								    		<li>
								    			<dl class="printin">
								    				<dt><img src="{DT_STATIC}{$MODULE[2][moduledir]}/images/ganxingq.jpg"></dt>
								    				<dd>荔枝蜜塑料装 可保质期三年</dd>
								    			</dl>
								    		</li>
								    		<li>
								    			<dl class="printin">
								    				<dt><img src="{DT_STATIC}{$MODULE[2][moduledir]}/images/ganxingq.jpg"></dt>
								    				<dd>荔枝蜜塑料装 可保质期三年荔枝蜜塑料装</dd>
								    			</dl>
								    		</li>
								    		<li>
								    			<dl class="printin">
								    				<dt><img src="{DT_STATIC}{$MODULE[2][moduledir]}/images/ganxingq.jpg"></dt>
								    				<dd>荔枝蜜塑料装 可保质期三年bd</dd>
								    			</dl>
								    		</li>
							    		</ul> -->
							    	</div>	
							    </div>	
    					    </div>
    					</div>
			        </div>
			    <!--店铺-->
			    <div class="collect_in">
			    {if !$lists}
			        <div class="interfix_no collect_no">
			    	    您还没有收藏的店铺
			        </div>
			       {else}
			        <div class="interfix_on collect_on">
			            <div class="store_in">
	                        <div class="store">
				        	    <span><input name="" type="checkbox" value="">全选</span>
				        	    <h2><a href="#">取消收藏</a></h2>
    	                    </div>
    	                    <div class="store_inn">
	    	                    <div class="store_lf">
    		                        <span><input name="" type="checkbox" value=""></span>
    		                    	<dl>
    		                    		<dt><img src="{useravatar($_username, 'middle')}" width="64" height="63"></dt>
	    	                    		<dd>福瑞安</dd>
    		                    	</dl>
    		                    	<div class="enshrine">收藏人数：4人</div>
    		                    	<div class="grade">服务评分：<i><img src="{DT_STATIC}{$MODULE[2][moduledir]}/images/pingf.png"></i><i><img src="{DT_STATIC}{$MODULE[2][moduledir]}/images/pingf.png"></i><i><img src="{DT_STATIC}{$MODULE[2][moduledir]}/images/pingf.png"></i><i><img src="{DT_STATIC}{$MODULE[2][moduledir]}/images/pingf.png"></i><i><img src="{DT_STATIC}{$MODULE[2][moduledir]}/images/pingf.png"></i>（5分）</div>
    		                    	<div class="enter">
    		                    		<h2 class="enter1"><a href="#">进入店铺</a></h2>
    		                    		<h2 class="enter2"><a href="#">取消收藏</a></h2>
    		                    	</div>
    		                    </div>
    		                    <div class="store_ri">
    		                    	<div class="store_tit">
    		                    		<h2 class="on">热销<span>（20）</span></h2>
    		                    		<h2>上新<span>（0）</span></h2>
    		                    	</div>
    		                    	<div class="cakes">
    		                    		<div class="cakes_in" style="display: block;">
    		                    			<div class="cakes_left1">
    		                    				<div class="hd">
								                    <a class="next"></a>
								                    <ul></ul>
								                    <a class="prev"></a>
							                    </div>
							                    <div class="pd">
								    	            <ul class="cakes_inn">
								    		            <li>
								    			            <dl class="cakesin">
								    				            <dt><img src="{DT_STATIC}{$MODULE[2][moduledir]}/images/zh_dianf.png"></dt>
								    				           <dd>荔枝蜜塑料装 可保质期三年</dd>
								    			            </dl>
								    		            </li>
								    		            <li>
								    			            <dl class="cakesin">
								    				            <dt><img src="{DT_STATIC}{$MODULE[2][moduledir]}/images/zh_dianf.png"></dt>
								    				           <dd>皇味浓香黑芝麻糊</dd>
								    			            </dl>
								    		            </li>
								    		            <li>
								    			            <dl class="cakesin">
								    				            <dt><img src="{DT_STATIC}{$MODULE[2][moduledir]}/images/zh_dianf.png"></dt>
								    				           <dd>荔枝蜜塑料装 可保质期三年</dd>
								    			            </dl>
								    		            </li>
								    		            <li>
								    			            <dl class="cakesin">
								    				            <dt><img src="{DT_STATIC}{$MODULE[2][moduledir]}/images/zh_dianf.png"></dt>
								    				           <dd>皇味浓香黑芝麻糊</dd>
								    			            </dl>
								    		            </li>
								    		            <li>
								    			            <dl class="cakesin">
								    				            <dt><img src="{DT_STATIC}{$MODULE[2][moduledir]}/images/zh_dianf.png"></dt>
								    				           <dd>荔枝蜜塑料装 可保质期三年</dd>
								    			            </dl>
								    		            </li>
								    		            <li>
								    			            <dl class="cakesin">
								    				            <dt><img src="{DT_STATIC}{$MODULE[2][moduledir]}/images/zh_dianf.png"></dt>
								    				           <dd>皇味浓香黑芝麻糊</dd>
								    			            </dl>
								    		            </li>
								    		        </ul>
								    		    </div>    
    		                    			</div>
    		                    		</div>
    		                    		<div class="cakes_in" style="display: block;">
    		                    			<div class="cakes_left2">
    		                    				<div class="hd">
								                    <a class="next"></a>
								                    <ul></ul>
								                    <a class="prev"></a>
							                    </div>
							                    <div class="pd">
								    	            <ul class="cakes_inn">
								    		            <li>
								    			            <dl class="cakesin">
								    				            <dt><img src="{DT_STATIC}{$MODULE[2][moduledir]}/images/zh_dianf.png"></dt>
								    				           <dd>皇味浓香黑芝麻糊</dd>
								    			            </dl>
								    		            </li>
								    		            <li>
								    			            <dl class="cakesin">
								    				            <dt><img src="{DT_STATIC}{$MODULE[2][moduledir]}/images/zh_dianf.png"></dt>
								    				           <dd>荔枝蜜塑料装 可保质期</dd>
								    			            </dl>
								    		            </li>
								    		            <li>
								    			            <dl class="cakesin">
								    				            <dt><img src="{DT_STATIC}{$MODULE[2][moduledir]}/images/zh_dianf.png"></dt>
								    				           <dd>皇味浓香黑芝麻糊</dd>
								    			            </dl>
								    		            </li>
								    		            <li>
								    			            <dl class="cakesin">
								    				            <dt><img src="{DT_STATIC}{$MODULE[2][moduledir]}/images/zh_dianf.png"></dt>
								    				           <dd>荔枝蜜塑料装 可保质期</dd>
								    			            </dl>
								    		            </li>
								    		            <li>
								    			            <dl class="cakesin">
								    				            <dt><img src="{DT_STATIC}{$MODULE[2][moduledir]}/images/zh_dianf.png"></dt>
								    				           <dd>荔枝蜜塑料装 可保质期</dd>
								    			            </dl>
								    		            </li>
								    		            <li>
								    			            <dl class="cakesin">
								    				            <dt><img src="{DT_STATIC}{$MODULE[2][moduledir]}/images/zh_dianf.png"></dt>
								    				           <dd>荔枝蜜塑料装 可保质期</dd>
								    			            </dl>
								    		            </li>

								    		        </ul>
								    		    </div>    
    		                    			</div>
    		                    		</div>
    		                    	</div>
    		                    </div>
    	                    </div>
                        </div>

			    	    <div class="paging">
			    	        <ul class="paging_in">
                            	<li><a href="#"><<</a></li>
                            	<li><a href="#"><</a></li>
        						<li class="pagination"><a href="#">1</a></li>
        						<li><a href="#">></a></li>
        						<li><a href="#">>></a></li>
        						<li>到第<input name="" type="" value="">页</li>
        						<li class="ensure"><a href="#">确定</a></li> 
    						</ul>
    					</div>	
    					{/if}
    					<div class="avocation">
    					    <div class="avocation_in">
    					    	<h2>感兴趣的商品</h2>
    					    </div>
    					    <div class="avocationin">	
    					        <div class="avocation_inn">
    					    		<div class="hd">
									    <a class="next"></a>
									    <ul></ul>
									    <a class="prev"></a>
							   		</div>
								    <div class="bd">
								    	<!-- <ul class="print">
								    		<li>
								    			<dl class="printin">
								    				<dt><img src="{DT_STATIC}{$MODULE[2][moduledir]}/images/ganxingq.jpg"></dt>
								    				<dd>荔枝蜜塑料装 可保质期三年</dd>
								    			</dl>
								    		</li>
								    		<li>
								    			<dl class="printin">
								    				<dt><img src="{DT_STATIC}{$MODULE[2][moduledir]}/images/ganxingq.jpg"></dt>
								    				<dd>荔枝蜜塑料装 可保质期三年bd</dd>
								    			</dl>
								    		</li>
								    		<li>
								    			<dl class="printin">
								    				<dt><img src="{DT_STATIC}{$MODULE[2][moduledir]}/images/ganxingq.jpg"></dt>
								    				<dd>荔枝蜜塑料装 可保质期三年</dd>
								    			</dl>
								    		</li>
								    		<li>
								    			<dl class="printin">
								    				<dt><img src="{DT_STATIC}{$MODULE[2][moduledir]}/images/ganxingq.jpg"></dt>
								    				<dd>荔枝蜜塑料装 可保质期三年</dd>
								    			</dl>
								    		</li>
								    		<li>
								    			<dl class="printin">
								    				<dt><img src="{DT_STATIC}{$MODULE[2][moduledir]}/images/ganxingq.jpg"></dt>
								    				<dd>荔枝蜜塑料装 可保质期三年</dd>
								    			</dl>
								    		</li>
								    		<li>
								    			<dl class="printin">
								    				<dt><img src="{DT_STATIC}{$MODULE[2][moduledir]}/images/ganxingq.jpg"></dt>
								    				<dd>荔枝蜜塑料装 可保质期三年荔枝蜜塑料装</dd>
								    			</dl>
								    		</li>
								    		<li>
								    			<dl class="printin">
								    				<dt><img src="{DT_STATIC}{$MODULE[2][moduledir]}/images/ganxingq.jpg"></dt>
								    				<dd>荔枝蜜塑料装 可保质期三年bd</dd>
								    			</dl>
								    		</li>
							    		</ul> -->
							    	</div>	
							    </div>	
    					    </div>
    					</div>
			        </div>
			    </div>
			</div>
		</div>
	</div>
	</div>
{template 'footer', $module}