{template 'header', $module}
<div id="warn">
{if $_groupid == 4}
	<div class="warn">尊敬的会员，您的帐号<span class="f_red f_b">正在审核中..</span>，本站部分功能和服务可能受到一定的使用限制，{if $MOD[checkuser]==2}<a href="send.php?action=check" class="l">请点这里验证您的邮箱</a>，系统将自动审核{else}请稍候，等待网站审核<br/>完善的商业信息有助于获得别人的信任，结交潜在的商业伙伴，获取商业机会，增加系统审核通过的概率&nbsp;&nbsp;<a href="edit.php?tab=2" class="t f_b">现在就去完善</a>{/if}</div>
{/if}
{if $_groupid > 5 && !$_edittime}
	<div class="warn">贵公司尚未完善详细资料！完善的商业信息有助于获得别人的信任，结交潜在的商业伙伴，获取商业机会&nbsp;&nbsp;<a href="edit.php?tab=2" class="t f_b">现在就去完善</a></div>
{/if}
{if $vip && $havedays < 11 && $havedays > 0}
	<div class="warn">尊敬的{$MG[groupname]}，您的{VIP}服务将在 <strong class="f_red">{$havedays}</strong> 天后到期，为了不影响您的正常使用，请您尽快续费。&nbsp;&nbsp;<a href="renew.php" class="t f_b">点击续费</a></div>
{/if}
</div>
		<!--中间-->
		<div class="sy_index_cen">
			<div class="sy_index_one">
				<div class="leaguer">
					<div class="leaguer_lf">
						<dl>
							<dt><img src="{useravatar($_username, 'middle')}" width="76" height="76"></dt>
							<dd>欢迎您！{$truename}</dd>
							<dd class="rank">({$MG[groupname]})</dd>
						</dl>
						<div class="edit">
							<h2><a href="edit.php">编辑个人信息</a></h2>
							<ul>
								<li class="qi"></li>
								<li class="si"></li>
								<li class="sj"></li>
								<li class="xf"></li>
							</ul>
						</div>
					</div>
					<div class="leaguer_cen"><img src="{DT_STATIC}{$MODULE[2][moduledir]}/images/ge.jpg"></div>
					<div class="leaguer_ri">
						<div class="account">
							帐   号：<span>{$username}</span>
						</div>
						<div class="number">
							<h2>手机号：<span>{$mobile}</span></h2>
							<h3>我的银行卡：<span>（0）</span></h3>
						</div>
						<ul class="buy">
							<h3>采购</h3>
							<li><a href="{DT_STATIC}{$MODULE[2][moduledir]}/trade.php?action=order&nav=1">待付款<span>({php echo $db->count($table, "buyer='$_username' AND status=1");})</span></a></li>
							<li class="buy1"><a href="{DT_STATIC}{$MODULE[2][moduledir]}/trade.php?action=order&nav=2">待卖家发货<span>({php echo $db->count($table, "buyer='$_username' AND status=2");})</span></a></li>
							<li><a href="{DT_STATIC}{$MODULE[2][moduledir]}/trade.php?action=order&nav=3">待收货<span>({php echo $db->count($table, "buyer='$_username' AND status=3");})</span></a></li>
							<li><a href="{DT_STATIC}{$MODULE[2][moduledir]}/trade.php?action=order&nav=4">待评价<span>({php echo $db->count($table, "buyer='$_username' AND status=4 AND seller_star=0");})</span></a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="sy_index_two">
				<h2>最近浏览过的供应</h2>
				<div class="cpxq">
					<?php
						$MOD_name = "m";
							$history =isset ($_COOKIE["$MOD_name"]['history']) ? $_COOKIE["$MOD_name"]['history'] : 0;
							$query = mysql_query("SELECT * FROM `ts_mall` WHERE `itemid` in ($history) ORDER BY FIELD(itemid,$history)");
						while($t = mysql_fetch_array($query)){
						?>
						
					<!-- 	<div class="browse_box">
						  <div class="browse_img">
						    <a href="{$t[linkurl]}" target="_blank">
						      <img src="{str_replace('.thumb.', '.middle.', $t['thumb'])}" width="158" height="126" title="{$t[title]}" alt="{$t[alt]}" style="display: inline;"></a>
						  </div>
						  <div class="browse_name">
						    <a href="{$t[linkurl]}" target="_blank">{$t[title]}</a>
						  </div>
						  <div class="browse_price"> <b class="green">价格:￥</b> <b class="orange">{$t[price]}</b>
						  </div>
						</div>
 -->
						<dl class="tscp">
			            <dt><a href="{$t[linkurl]}" target="_blank"><img src="{str_replace('.thumb.', '.middle.', $t['thumb'])}"></a></dt>
			            <dd><a href="{$t[linkurl]}" target="_blank" class="bttitle" title="{$t[title]}">【{$t[title]}】</a></dd>
			            <dd><a href="{$t[linkurl]}" title="{$t[title]}">{$t[title]}</a></dd>
		            </dl>
						<?php } ?>
                    <!-- <dl class="tscp">
			            <dt><a href="#"><img src="{DT_STATIC}{$MODULE[2][moduledir]}/images/cp.jpg"></a></dt>
			            <dd><a href="#" class="bttitle" title="700克玫瑰八宝茶">【700克玫瑰八宝茶】</a></dd>
			            <dd><a href="#" title="蚕豆含蛋白质、碳水化合物、粗纤维、磷脂、胆碱、维生素B1、维生素B2、烟酸、和钙、铁、磷、钾等多种矿物质，犹其是磷和钾含量较高。">蚕豆含蛋白质、碳水化合物、粗纤维、磷脂、胆碱、维生素B1、维生素B2、烟酸、和钙、铁、磷、钾等多种矿物质，犹其是磷和钾含量较高。</a></dd>
		            </dl>
                    <dl class="tscp">
			            <dt><a href="#"><img src="{DT_STATIC}{$MODULE[2][moduledir]}/images/cp.jpg"></a></dt>
			            <dd><a href="#" class="bttitle" title="700克玫瑰八宝茶">【700克玫瑰八宝茶】</a></dd>
			            <dd><a href="#" title="蚕豆含蛋白质、碳水化合物、粗纤维、磷脂、胆碱、维生素B1、维生素B2、烟酸、和钙、铁、磷、钾等多种矿物质，犹其是磷和钾含量较高。">蚕豆含蛋白质、碳水化合物、粗纤维、磷脂、胆碱、维生素B1、维生素B2、烟酸、和钙、铁、磷、钾等多种矿物质，犹其是磷和钾含量较高。</a></dd>
		            </dl>
                    <dl class="tscp tscp3">
			            <dt><a href="#"><img src="{DT_STATIC}{$MODULE[2][moduledir]}/images/cp.jpg"></a></dt>
			            <dd><a href="#" class="bttitle" title="700克玫瑰八宝茶">【700克玫瑰八宝茶】</a></dd>
			            <dd><a href="#" title="蚕豆含蛋白质、碳水化合物、粗纤维、磷脂、胆碱、维生素B1、维生素B2、烟酸、和钙、铁、磷、钾等多种矿物质，犹其是磷和钾含量较高。">蚕豆含蛋白质、碳水化合物、粗纤维、磷脂、胆碱、维生素B1、维生素B2、烟酸、和钙、铁、磷、钾等多种矿物质，犹其是磷和钾含量较高。</a></dd>
		            </dl> -->
		        </div>
			</div>
		</div>
		<div class="sy_index_ri">
			<!-- <div class="ri_buy">
				<h2><a href="{$DT[file_my]}?mid=6&action=add">发布购买<span></span></a></h2>
			</div> -->
			<div class="fill">
				<h2><a href="{$DT[file_my]}?mid=16&action=add">发布产品<span></span></a></h2>
			</div>
			<ul class="user">
				<h2>用户指南</h2>
				<li><span>1</span><a href="#">点击这里这里，开始学习</a></li>
				<li><span>2</span><a href="#">点击这里这里，开始学习点击这里这里，开始学习</a></li>
				<li><span>3</span><a href="#">点击这里这里，开始学习点击这里这里，开始学习</a></li>
				<li><span>4</span><a href="#">点击这里这里，开始学习</a></li>
				<li><span>5</span><a href="#">点击这里这里，开始学习点击这里这里，开始学习</a></li>
			</ul>
			<div class="ri_gg">
				<div class="gjs">
				   <a href="#"><img src="{DT_STATIC}{$MODULE[2][moduledir]}/images/yonghushou_07.jpg"></a>
				   <div class="an"></div>
				   <div class="ri_wz">
				   	   <h2>集典尖货</h2>
				   	   <p>集典自营好货</p>
				   </div>
				</div>
			</div>
			</div>
		</div>
	</div>
 </div>            
{template 'footer', $module}