{template 'header', 'member'}
{if $action == 'add' || $action == 'edit'}
{else}
		<!--采购管理-->
		<script>
			$(function () {
				var num={$nums[1]}+{$nums[2]}+{$nums[3]}+{$nums[4]};
				$(".classify li").eq(0).html("<a href='#'>全部("+num+")</a><span><img src='{DT_STATIC}{$MODULE[2][moduledir]}/images/jiange.jpg'></span>")
			})
		</script>
		<div class="cggl_index_ri">
			<div class="cggl_index_one">
				<h2>采购管理</h2>
				<p>提示：共计<span><a href="#"> 0 </a></span>条未读报价，不要错过哦，<span><a href="#"> 立即查看 </a></span>。30天内已有 0 条采购信息过期。</p>
			</div>
			<div class="cggl_index_two">
			{if $_userid}
				<ul class="classify supervise_inn">
					<li class="on"><a href="#">全部()</a><span><img src="{DT_STATIC}{$MODULE[2][moduledir]}/images/jiange.jpg"></span></li>
					<li><a href="{$DT[file_my]}?mid={$mid}&status=3">采购中({$nums[3]})</a><span><img src="{DT_STATIC}{$MODULE[2][moduledir]}/images/jiange.jpg"></span></li>
					<li><a href="{$DT[file_my]}?mid={$mid}&status=2">审核中({$nums[2]})</a><span><img src="{DT_STATIC}{$MODULE[2][moduledir]}/images/jiange.jpg"></span></li>
					<li><a href="{$DT[file_my]}?mid={$mid}&status=1">审核不通过({$nums[1]})</a><span><img src="{DT_STATIC}{$MODULE[2][moduledir]}/images/jiange.jpg"></span></li>
					<li><a href="{$DT[file_my]}?mid={$mid}&status=4">已过期({$nums[4]})</a></li>
				</ul>
				{/if}
				<div class="supervise">
				    <!--全部-->
				    <div class="supervise_in" style="display: block;">
						<div class="search_in">
							<div class="search">
								<form action="{$DT[file_my]}">
									<input type="hidden" name="mid" value="{$mid}"/>
									<input type="hidden" name="status" value="{$status}"/>
									<input type="text" placeholder="请输入产品标题" name="kw" value="{$kw}">
									<input class="sear" type="submit" value=" 查 找 " />
								</form>
				    		</div>
				    		<div class="ri_buy cg_buy">
				        		<h2><a href="{$DT[file_my]}?mid={$mid}&action=add">发布购买<span></span></a></h2>
			        		</div>
						</div>
						<div class="interfix_in">
							<ul class="interfix">
								<li>产品/品种</li>
								<li>发布时间</li>
								<li>已收到的报价</li>
								<li>
                            		<select size="1" name="xz"><option selected value="xz">状态</option><option value="tj">采购中</option><option value="hb">审核中</option></select> 
								</li>
								<li>操作</li>
							</ul>
							<!--无采购信息-->
							{if !$lists}
							<div class="interfix_no">
								未找到相关采购信息，你可以<span><a href="{$DT[file_my]}?mid={$mid}&action=add"> 发布采购 </a></span>。
							</div>
							{else}
							<!--有采购信息-->
							<div class="interfix_on">
								{loop $list $k $v}
								<ul class="interfix">
						    		<li>{$v[title]}</li>
						    		<li>{if $timetype=='add'}{timetodate($v[addtime], 5)}{else}{timetodate($v[edittime], 5)}{/if}</li>
						    		<li>{$v[pirce]}</li>
						    		<li>采购中</li>
						    		<li class="cz_interfix"><a href="#">查看</a>/<span><a href="#">删除</a></span></li>
					   		    </ul>
					   		    {/loop}
					    		<!-- <ul class="interfix">
						    		<li>红富士苹果</li>
						    		<li>2017.05.09 12:33</li>
						    		<li>10元/斤</li>
						    		<li>审核中</li>
						    		<li class="cz_interfix"><a href="#">查看</a>/<span><a href="#">删除</a></span></li>
					    		</ul>
					    		<ul class="interfix">
						    		<li>红富士苹果</li>
						    		<li>2017.05.09 12:33</li>
						    		<li>10元/斤</li>
						    		<li>审核不通过</li>
						    		<li class="cz_interfix"><a href="#">查看</a>/<span><a href="#">删除</a></span></li>
					    		</ul>
					    		<ul class="interfix">
						    		<li>红富士苹果</li>
						    		<li>2017.05.09 12:33</li>
						    		<li>10元/斤</li>
						    		<li>已审核</li>
						    		<li class="cz_interfix"><a href="#">查看</a>/<span><a href="#">删除</a></span></li>
					    		</ul> 
					    		<ul class="bot">
                            		<li><a href="#" class="active">1</a></li>
                            		<li><a href="#">2</a></li>
        							<li><a href="#">3</a></li>
        							<li><a href="#">4</a></li>
        							<li>. . .</li>
        							<li><a href="#">16</a></li>
        							<li><a href="#">下一页</a></li> 
    							</ul>-->
    							<div class="pages">{$pages}</div>
							</div>
							{/if}
						</div>
					</div>
					<!--采购中-->
					<div class="supervise_in">
						<div class="search_in">
				    		<div class="search">
					    		<input type="text" placeholder="请输入产品标题">
			            		<a class="sear" href="javascript:;">查找</a>
				    		</div>
				    		<div class="ri_buy cg_buy">
				        		<h2><a href="#">发布购买<span></span></a></h2>
			        		</div>
						</div>
						<div class="interfix_in">
							<ul class="interfix">
								<li>产品/品种</li>
								<li>发布时间</li>
								<li>已收到的报价</li>
								<li>
                            		<select size="1" name="xz"><option selected value="xz">状态</option><option value="tj">采购中</option><option value="hb">审核中</option></select> 
								</li>
								<li>操作</li>
							</ul>
							<!--无采购信息-->
							<div class="interfix_no">
								未找到相关采购信息，你可以<span><a href="#"> 发布采购 </a></span>。
							</div>
							<!--有采购信息-->
							<div class="interfix_on">
								<ul class="interfix">
						    		<li>红富士苹果</li>
						    		<li>2017.05.09 12:33</li>
						    		<li>10元/斤</li>
						    		<li>采购中</li>
						    		<li class="cz_interfix"><a href="#">查看</a>/<span><a href="#">删除</a></span></li>
					   		    </ul>
					    		<ul class="interfix">
						    		<li>红富士苹果</li>
						    		<li>2017.05.09 12:33</li>
						    		<li>10元/斤</li>
						    		<li>采购中</li>
						    		<li class="cz_interfix"><a href="#">查看</a>/<span><a href="#">删除</a></span></li>
					    		</ul>
					    		<ul class="interfix">
						    		<li>红富士苹果</li>
						    		<li>2017.05.09 12:33</li>
						    		<li>10元/斤</li>
						    		<li>采购中</li>
						    		<li class="cz_interfix"><a href="#">查看</a>/<span><a href="#">删除</a></span></li>
					    		</ul>
					    		<ul class="interfix">
						    		<li>红富士苹果</li>
						    		<li>2017.05.09 12:33</li>
						    		<li>10元/斤</li>
						    		<li>采购中</li>
						    		<li class="cz_interfix"><a href="#">查看</a>/<span><a href="#">删除</a></span></li>
					    		</ul>
					    		<ul class="bot">
                            		<li><a href="#" class="active">1</a></li>
                            		<li><a href="#">2</a></li>
        							<li><a href="#">3</a></li>
        							<li><a href="#">4</a></li>
        							<li>. . .</li>
        							<li><a href="#">16</a></li>
        							<li><a href="#">下一页</a></li> 
    							</ul>
							</div>
						</div>
					</div>
					<!--审核中-->
					<div class="supervise_in">
						<div class="search_in">
				    		<div class="search">
					    		<input type="text" placeholder="请输入产品标题">
			            		<a class="sear" href="javascript:;">查找</a>
				    		</div>
				    		<div class="ri_buy cg_buy">
				        		<h2><a href="#">发布购买<span></span></a></h2>
			        		</div>
						</div>
						<div class="interfix_in">
							<ul class="interfix">
								<li>产品/品种</li>
								<li>发布时间</li>
								<li>已收到的报价</li>
								<li>
                            		<select size="1" name="xz"><option selected value="xz">状态</option><option value="tj">采购中</option><option value="hb">审核中</option></select> 
								</li>
								<li>操作</li>
							</ul>
							<!--无采购信息-->
							<div class="interfix_no">
								未找到相关采购信息，你可以<span><a href="#"> 发布采购 </a></span>。
							</div>
							<!--有采购信息-->
							<div class="interfix_on">
								<ul class="interfix">
						    		<li>红富士苹果</li>
						    		<li>2017.05.09 12:33</li>
						    		<li>10元/斤</li>
						    		<li>审核中</li>
						    		<li class="cz_interfix"><a href="#">查看</a>/<span><a href="#">删除</a></span></li>
					   		    </ul>
					    		<ul class="interfix">
						    		<li>红富士苹果</li>
						    		<li>2017.05.09 12:33</li>
						    		<li>10元/斤</li>
						    		<li>审核中</li>
						    		<li class="cz_interfix"><a href="#">查看</a>/<span><a href="#">删除</a></span></li>
					    		</ul>
					    		<ul class="interfix">
						    		<li>红富士苹果</li>
						    		<li>2017.05.09 12:33</li>
						    		<li>10元/斤</li>
						    		<li>审核中</li>
						    		<li class="cz_interfix"><a href="#">查看</a>/<span><a href="#">删除</a></span></li>
					    		</ul>
					    		<ul class="interfix">
						    		<li>红富士苹果</li>
						    		<li>2017.05.09 12:33</li>
						    		<li>10元/斤</li>
						    		<li>审核中</li>
						    		<li class="cz_interfix"><a href="#">查看</a>/<span><a href="#">删除</a></span></li>
					    		</ul>
					    		<ul class="bot">
                            		<li><a href="#" class="active">1</a></li>
                            		<li><a href="#">2</a></li>
        							<li><a href="#">3</a></li>
        							<li><a href="#">4</a></li>
        							<li>. . .</li>
        							<li><a href="#">16</a></li>
        							<li><a href="#">下一页</a></li> 
    							</ul>
							</div>
						</div>
					</div>
					<!--审核不通过-->
					<div class="supervise_in">
						<div class="search_in">
				    		<div class="search">
					    		<input type="text" placeholder="请输入产品标题">
			            		<a class="sear" href="javascript:;">查找</a>
				    		</div>
				    		<div class="ri_buy cg_buy">
				        		<h2><a href="#">发布购买<span></span></a></h2>
			        		</div>
						</div>
						<div class="interfix_in">
							<ul class="interfix">
								<li>产品/品种</li>
								<li>发布时间</li>
								<li>已收到的报价</li>
								<li>
                            		<select size="1" name="xz"><option selected value="xz">状态</option><option value="tj">采购中</option><option value="hb">审核中</option></select> 
								</li>
								<li>操作</li>
							</ul>
							<!--无采购信息-->
							<div class="interfix_no">
								未找到相关采购信息，你可以<span><a href="#"> 发布采购 </a></span>。
							</div>
							<!--有采购信息-->
							<div class="interfix_on">
								<ul class="interfix">
						    		<li>红富士苹果</li>
						    		<li>2017.05.09 12:33</li>
						    		<li>10元/斤</li>
						    		<li>审核不通过</li>
						    		<li class="cz_interfix"><a href="#">查看</a>/<span><a href="#">删除</a></span></li>
					   		    </ul>
					    		<ul class="interfix">
						    		<li>红富士苹果</li>
						    		<li>2017.05.09 12:33</li>
						    		<li>10元/斤</li>
						    		<li>审核不通过</li>
						    		<li class="cz_interfix"><a href="#">查看</a>/<span><a href="#">删除</a></span></li>
					    		</ul>
					    		<ul class="interfix">
						    		<li>红富士苹果</li>
						    		<li>2017.05.09 12:33</li>
						    		<li>10元/斤</li>
						    		<li>审核不通过</li>
						    		<li class="cz_interfix"><a href="#">查看</a>/<span><a href="#">删除</a></span></li>
					    		</ul>
					    		<ul class="interfix">
						    		<li>红富士苹果</li>
						    		<li>2017.05.09 12:33</li>
						    		<li>10元/斤</li>
						    		<li>审核不通过</li>
						    		<li class="cz_interfix"><a href="#">查看</a>/<span><a href="#">删除</a></span></li>
					    		</ul>
					    		<ul class="bot">
                            		<li><a href="#" class="active">1</a></li>
                            		<li><a href="#">2</a></li>
        							<li><a href="#">3</a></li>
        							<li><a href="#">4</a></li>
        							<li>. . .</li>
        							<li><a href="#">16</a></li>
        							<li><a href="#">下一页</a></li> 
    							</ul>
							</div>
						</div>
					</div>
					<!--已过期-->
					<div class="supervise_in">
						<div class="search_in">
				    		<div class="search">
					    		<input type="text" placeholder="请输入产品标题">
			            		<a class="sear" href="javascript:;">查找</a>
				    		</div>
				    		<div class="ri_buy cg_buy">
				        		<h2><a href="#">发布购买<span></span></a></h2>
			        		</div>
						</div>
						<div class="interfix_in">
							<ul class="interfix">
								<li>产品/品种</li>
								<li>发布时间</li>
								<li>已收到的报价</li>
								<li>
                            		<select size="1" name="xz"><option selected value="xz">状态</option><option value="tj">采购中</option><option value="hb">审核中</option></select> 
								</li>
								<li>操作</li>
							</ul>
							<!--无采购信息-->
							<div class="interfix_no">
								未找到相关采购信息，你可以<span><a href="#"> 发布采购 </a></span>。
							</div>
							<!--有采购信息-->
							<div class="interfix_on">
								<ul class="interfix">
						    		<li>红富士苹果</li>
						    		<li>2017.05.09 12:33</li>
						    		<li>10元/斤</li>
						    		<li>已过期</li>
						    		<li class="cz_interfix"><a href="#">查看</a>/<span><a href="#">删除</a></span></li>
					   		    </ul>
					    		<ul class="interfix">
						    		<li>红富士苹果</li>
						    		<li>2017.05.09 12:33</li>
						    		<li>10元/斤</li>
						    		<li>已过期</li>
						    		<li class="cz_interfix"><a href="#">查看</a>/<span><a href="#">删除</a></span></li>
					    		</ul>
					    		<ul class="interfix">
						    		<li>红富士苹果</li>
						    		<li>2017.05.09 12:33</li>
						    		<li>10元/斤</li>
						    		<li>已过期</li>
						    		<li class="cz_interfix"><a href="#">查看</a>/<span><a href="#">删除</a></span></li>
					    		</ul>
					    		<ul class="interfix">
						    		<li>红富士苹果</li>
						    		<li>2017.05.09 12:33</li>
						    		<li>10元/斤</li>
						    		<li>已过期</li>
						    		<li class="cz_interfix"><a href="#">查看</a>/<span><a href="#">删除</a></span></li>
					    		</ul>
					    		<ul class="bot">
                            		<li><a href="#" class="active">1</a></li>
                            		<li><a href="#">2</a></li>
        							<li><a href="#">3</a></li>
        							<li><a href="#">4</a></li>
        							<li>. . .</li>
        							<li><a href="#">16</a></li>
        							<li><a href="#">下一页</a></li> 
    							</ul>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
{/if}
	</div>
</div>
{template 'footer', 'member'}                                                                  