{template 'loginheader'}
<link rel="stylesheet" href="/skin/lqts/css/register.css">
	<div class="re_wrap">
		<h2>特色馆注册</h2>
		<form action="{$DT[file_register]}" method="post" target="send" onsubmit="return check();">
		<input name="post[regid]" type="hidden" value="5" id="g_5"/>
		<input name="action" type="hidden" id="action" value="{crypt_action('register')}"/>
		<input name="forward" type="hidden" value="{$forward}"/>
		<input name="post[email]" type="hidden" id="email" value="" />
		<p class="re_phonenum zz">
			<input type="text" name="post[mobile]" id="mobile" placeholder="手机号" {if $could_mobilecode} onblur="validator('mobile');"{/if}/>
			 <div class="tips" id="tmobile" style="display:none;">
				<div>{if !$could_mobilecode}推荐填写，以便直接与您取得联系<br/>{/if}号码可用于登录网站和接收本站短信</div>
			</div>  
			<span id="dmobile" class="f_red"></span>
			<!-- <input type="text" name="post[mobile]" placeholder="手机号" id="mobile" onblur="validator('mobile');">
			<span class="tips">请填写正确的手机号码，以便接收订单通知，找回密码等<span class="triangle"></span></span>
			<span class="errors">格式错误，请输入正确的手机号码<span class="triangle"></span></span>
			<span class="corrects"><img src="/skin/lqts/images/correct.png" alt=""></span> -->
		</p>
		{template 'captcha', 'chip'}
		<p class="re_message clearfix">
		<input type="text" name="post[mobilecode]" id="mobilecode" placeholder="短信验证" onblur="validator('mobilecode');">
			<input type="button" value="立即发送" id="send_scode" onclick="SendSCode();"/>
			<div class="tips" id="tmobilecode" style="display:none;">
				<div>
				点击“立即发送”按钮，系统将会发送一组6位数字验证码至您填写的手机，请接收短信获取验证码后，填写在左侧的输入框内，继续完成注册
				</div>
			</div>
			<span id="dmobilecode" class="f_red"></span>
		</p>
		<p class="re_setpass zz">
			<input type="password" name="post[password]" id="password" placeholder="请输入密码" onblur="validator('password');" autocomplete="off"{if $password} value="{$password}" readonly{/if}/></td>
			<td>
			<div class="tips" id="tpassword" style="display:none;">
				<div>{$MOD[minpassword]}-{$MOD[maxpassword]}个字符，区分大小写，推荐使用数字、字母和特殊符号组合</div>
			</div>
			<span id="dpassword" class="f_red"></span>
			<!-- <input type="password" name="post[password]" placeholder="设置密码">
			<span class="tips">6-20个大小写英文字母，符号或数字的组合<span class="triangle"></span></span>
			<span class="errors">密码不能为空<span class="triangle"></span></span>
			<span class="corrects"><img src="/skin/lqts/images/correct.png" alt=""></span> -->
		</p>
		<p class="re_surepass zz">
			<input type="password" name="post[cpassword]" id="cpassword" placeholder="确认密码" onblur="validate('cpassword');" autocomplete="off"{if $password} value="{$password}" readonly{/if}/></td>
			<td>
			<div class="tips" id="tcpassword" style="display:none;">
				<div>请再输入一遍上面填写的密码</div>
			</div>
			<span id="dcpassword" class="f_red"></span>
			<!-- <input type="password" name="post[cpassword]" id="cpassword" placeholder="确认密码" onblur="validate('cpassword');">
			<span class="tips">请再次输入密码<span class="triangle"></span></span>
			<span class="errors">密码不能为空<span class="triangle"></span></span>
			<span class="corrects"><img src="/skin/lqts/images/correct.png" alt=""></span> -->
		</p>
		<p class="re_username zz">
			<input type="text" name="post[truename]" id="truename" placeholder="您的姓名" onblur="validate('truename');"/>
			<div class="tips" id="ttruename" style="display:none;">
				<div>请与有效身份证件上的姓名保持一致</div>
			</div>
			<span id="dtruename" class="f_red"></span>
			<!-- <input type="text" name="post[truename]" id="truename" placeholder="您的姓名">
			<span class="tips">4-20位字符，可由中文，英文，数字或符号”_“组成<span class="triangle"></span></span>
			<span class="errors">格式错误，请输入正确的用户名<span class="triangle"></span></span>
			<span class="corrects"><img src="/skin/lqts/images/correct.png" alt=""></span> -->
		</p>
		<p class="accessxy clearfix">
			<span>点击注册，表示您同意老区特色馆</span>
			<a href="?read=1">《服务协议》</a>
		</p>
		<p class="re_register"><input type="submit" name="submit" value="同意协议并注册"></p>
		</form>
	</div>
	<div class="si_foot">
		<p>京ICP备 1304496号  | 合字B1.B3-2014004  |  营业执照</p>
		<p>Copyright 号店网上超市  2015-2017，AllRights Reserved</p>
	</div>
<!-- 	<script>
		$(function () {
			$(".re_wrap .zz input").focus(function () {
				$(this).siblings("span").css("display","none");
				$(this).siblings(".tips").css("display","block");
			});

			$(".re_wrap .zz input").blur(function () {
				//验证用户名
				if ($(this).attr("placeholder")=="用户名") {
					if( this.value=="" || ( this.value!="" && !/^[\u4E00-\u9FA5A-Za-z0-9_]{4,20}$/.test(this.value) ) ){
		                $(this).siblings("span").css("display","none");
		                $(this).siblings(".errors").css("display","block");//错误
		            }else{
		                $(this).siblings("span").css("display","none");
		                   $(this).siblings(".corrects").css("display","block");//正确
		            }
				}
				//验证手机号
				if ($(this).attr("placeholder")=="手机号") {
					if( this.value=="" || ( this.value!="" && !/^(13[0-9]|14[5|7]|15[0|1|2|3|5|6|7|8|9]|18[0|1|2|3|5|6|7|8|9])\d{8}$/.test(this.value) ) ){
		                $(this).siblings("span").css("display","none");
		                $(this).siblings(".errors").css("display","block");//错误
		            }else{
		                $(this).siblings("span").css("display","none");
		                   $(this).siblings(".corrects").css("display","block");//正确
		            }
				}
			})

		})
	</script> -->
<script type="text/javascript" src="{DT_STATIC}file/script/guest.js"></script>
<script type="text/javascript">
var vid = '';
function validator(id) {
	vid = id;
	makeRequest('moduleid={$moduleid}&action=member&job='+id+'&value='+Dd(id).value, AJPath, '_validator');
}
function _validator() {
	if(xmlHttp.readyState==4 && xmlHttp.status==200) {
		Dd('d'+vid).innerHTML = xmlHttp.responseText ? '<img src="{DT_SKIN}image/check_error.gif" align="absmiddle"/> '+xmlHttp.responseText : '<img src="{DT_SKIN}image/check_right.gif" align="absmiddle"/> ';
	}
}
function err_msg(str, id) {
	{if $DT_TOUCH}alert(str);{/if}
	Dd('d'+id).innerHTML = '<img src="{DT_SKIN}image/check_'+(str ? 'error' : 'right')+'.gif" align="absmiddle"/> '+str;
}
function validate(type) {
	if(type == 'cpassword') {
		if(Dd('cpassword').value != Dd('password').value) {
			err_msg('两次输入的密码不一致', type);
		} else {
			err_msg('', type);
		}
	}
	if(type == 'truename') {
		if(Dd('truename').value.length < 2) {
			err_msg('请输入真实姓名', type);
		} else {
			err_msg('', type);
		}
	}
	
}
function Df(ID) {
	Dd(ID).focus();
}
function check() {
	var f,p;
	f = 'password';
	if(Dd(f).value.length < 6) {
		err_msg('请填写会员登录密码', f);
		Df(f);
		return false;
	}
	if(Dd('d'+f).innerHTML.indexOf('error') != -1) {
		Df(f);
		return false;
	}
	f = 'cpassword';
	if(Dd(f).value == '') {
		err_msg('请重复输入密码', f);
		Df(f);
		return false;
	}
	if(Dd('password').value != Dd(f).value) {
		err_msg('两次输入的密码不一致', f);
		Df(f);
		return false;
	}
	f = 'truename';
	if(Dd(f).value == '') {
		err_msg('请填写真实姓名', f);
		Df(f);
		return false;
	}
	return true;
}

function SendSCode() {

	if(Dd('dmobile').innerHTML.indexOf('right') == -1) {
		Dd('mobile').focus();
		return;
	}
	makeRequest('action={$action_sendscode}&value='+Dd('mobile').value, '{$DT[file_register]}', '_SendSCode');
	Dd('send_scode').value = '正在发送';
	Dd('send_scode').disabled = true;
}
function _SendSCode() {
	var f = 'mobile';
	if(xmlHttp.readyState==4 && xmlHttp.status==200) {			
		Dd('send_scode').value = xmlHttp.responseText == 1 ? '发送成功' : '立即发送';
		Dd('send_scode').disabled = xmlHttp.responseText == 1 ? true : false;
		if(xmlHttp.responseText == 1) {
			Ds('sendsok');
			Dd('dsendsok').innerHTML = '<img src="{DT_STATIC}{$MODULE[2][moduledir]}/image/ico_mailok.gif" align="absmiddle"/> <span class="f_green">短信发送成功</span>';
			StopSCode();
		} else if(xmlHttp.responseText == 2) {
			err_msg('手机号码格式错误，请检查', f);
			Df(f);
		} else if(xmlHttp.responseText == 3) {
			err_msg('手机号码已存在，请更换', f);
			Df(f);
		} else if(xmlHttp.responseText == 5) {
			alert('短信发送过快，请稍后再试');
		} else if(xmlHttp.responseText == 6) {
			alert('尝试发送次数太多，请稍后再试');
		} else {
			alert('未知错误，请重试');
		}
	}
}
function StopSCode() {
	Dd('send_scode').disabled = true;
	var i = 180;
	var interval=window.setInterval(
		function() {
			if(i == 0) {
				Dd('send_scode').value = '立即发送';
				Dd('send_scode').disabled = false;
				clearInterval(interval);
			} else {
				Dd('send_scode').value = '重新发送('+i+')';
				i--;
			}
		},
	1000);
}
</script>
</body>
</html>