{template 'header', $module}
<div class="cggl_index_ri member_index">
			<div class="cggl_index_one tit">
				<h2>商机推送</h2>
			</div>
			<div class="cggl_index_two business">
				<h2>电脑端不能查看商机推送，请选择以下任意一种方式查看商机：</h2>
				<h5>1.打开老区特色馆APP，在“我的”中点击“商机”进行查看。</h5>
				<p><img src="{DT_STATIC}{$MODULE[2][moduledir]}/images/hy_erweima.png"><span>扫一扫，下载老区特色馆APP</span></p>
				<h5>2.关注“老区特色馆”公众号，点击“我的集典”打开H5版红色思源网，登录后点击“商机”进行查看。</h5>
				<p><img src="{DT_STATIC}{$MODULE[2][moduledir]}/images/hy_erweima.png"></p>
				<h5>3.在手机浏览器中输入网址“te.laoqu.org”，打开手机版老区特色馆，在”我的“中点击”商机“进行查看。</h5>
				<p><img src="{DT_STATIC}{$MODULE[2][moduledir]}/images/hy_ss.jpg"></p>
			</div>
		</div>
{template 'footer', $module}