{template 'header', $module}
<!--右边-->
<!--[我收到的退款，我是卖家]-->
{if $action == 'index' && $nav == '5'}
	<div class="cggl_index_ri evaluate_index">
			<div class="cggl_index_one">
				<h2>我收到的退款申请</h2>
			</div>
			<div class="cggl_index_two auditing">         
				<div class="form">
                    <ul>
                    	<li>
                    	    <span>订单编号</span><input type="test" name="">
                    	</li>
                    	<li class="identifier">
                    		<span>退单编号</span><input type="test" name="">
                    	</li>
                    	<li class="state">
                    		<span>退款状态</span>
                    		<select size="1" name="xz">
                    		    <option selected value="xz">全部</option>
                    		    <option value="tj">退款成功</option>
                    		    <option value="hb">退款关闭</option>
                    		    <option value="tj">退款中</option>
                    		</select>
                    	</li>                    	
                    </ul>
                    <ul class="resetting_in">
                    	<li class="resetting_one">
                    	    <a href="javascript:;">搜索</a>
                    	</li>
                    	<li class="resetting_two">
                    	    <a href="javascript:;">重置</a>
                    	</li>
                    </ul>
				</div>
				<div class="interfix_in refund_in">
					<ul class="interfix refund">
						<li class="refund1">商品信息</li>
						<li class="refund1">订单编号</li>
						<li>买家</li>
						<li>交易金额</li>
						<li>退款金额</li>
						<li class="refund2">下单时间</li>
						<li>状态</li>
						<li>操作</li>
					</ul> 
					<!--无订单信息-->
					{if !$lists}	                                     
					<div class="interfix_no refund_no">
						没有符合的退款订单
					</div>
					{else}
					<!--有订单信息-->
					<div class="interfix_on refund_on">
					{loop $lists $k $v}
						<ul class="interfix refund">
						    <li class="refund1">{$v[title]}</li>
						    <li class="refund1">{$v[itemid]}</li>
						    <li>{$v[buyer]}</li>
						    <li>￥{$v[money]}</li>
						    <li>￥{$v[money]}</li>
						    <li class="refund2">{$v[addtime]}</li>
						    <li>{$v[dstatus]}</li>
						    <li class="cz_interfix evaluate2">
						    {if $v[status] == 0}
							<a href="?itemid={$v[itemid]}&action=update&step=edit_price&confirm=1">确认</a>
							{elseif $v[status] == 2}
							<a href="?itemid={$v[itemid]}&action=update&step=send_goods">发货</a>
							{elseif $v[status] == 4}
								{if $v[mid] == 16 && !$v[buyer_star]}
								<a href="?itemid={$v[itemid]}&action=update&step=comment">评价</a>
								{/if}
							{elseif $v[status] == 5}
								<a href="?itemid={$v[itemid]}&action=update&step=refund_agree">退款</a>
							{elseif $v[status] == 10}
								{if $v[send_time]}
								<a href="?itemid={$v[itemid]}&action=update&step=cod_success" onclick="return confirm('您确定已经收到货款，交易完成吗？此操作将不可撤销');">完成</a>
								{else}
								<a href="?itemid={$v[itemid]}&action=update&step=send_goods">发货</a>
								{/if}
							{/if}
						</li>
					    </ul> 
					    {/loop}
					    {/if}
					    <!-- <ul class="interfix refund">
						    <li class="refund1">159872654325987</li>
						    <li class="refund1">159872654325987</li>
						    <li>大商股份</li>
						    <li>￥999</li>
						    <li>￥999</li>
						    <li class="refund2">2017-4-9—2017-5-1</li>
						    <li>退款中</li>
						    <li class="cz_interfix evaluate2"><a href="#">查看</a></li>
					    </ul> -->
					</div>
				</div>
			</div>
	</div>
<!--[我发起的退款，我是买家]-->
{elseif $action == 'order' && $nav == '5'}
	<div class="cggl_index_ri evaluate_index">
			<div class="cggl_index_one">
				<h2>我发起的退款申请</h2>
			</div>
			<div class="cggl_index_two auditing">         
				<div class="form">
                    <ul>
                    	<li>
                    	    <span>订单编号</span><input type="test" name="">
                    	</li>
                    	<li class="identifier">
                    		<span>退单编号</span><input type="test" name="">
                    	</li>
                    	<li class="state">
                    		<span>退款状态</span>
                    		<select size="1" name="xz">
                    		    <option selected value="xz">全部</option>
                    		    <option value="tj">退款成功</option>
                    		    <option value="hb">退款关闭</option>
                    		    <option value="tj">退款中</option>
                    		</select>
                    	</li>                    	
                    </ul>
                    <ul class="resetting_in">
                    	<li class="resetting_one">
                    	    <a href="javascript:;">搜索</a>
                    	</li>
                    	<li class="resetting_two">
                    	    <a href="javascript:;">重置</a>
                    	</li>
                    </ul>
				</div>
				<div class="interfix_in refund_in">
					<ul class="interfix refund">
						<li class="refund1">商品信息</li>
						<li class="refund1">订单编号</li>
						<li>卖家</li>
						<li>交易金额</li>
						<li>退款金额</li>
						<li class="refund2">起始时-结束时</li>
						<li>状态</li>
						<li>操作</li>
					</ul> 
				{if !$lists}
					<!--无订单信息-->	                                
					<div class="interfix_no refund_no">
						没有符合的退款订单
					</div>
					<!--有订单信息-->
					<div class="interfix_on refund_on">
					{else}
						{loop $lists $k $v}
							<ul class="interfix refund">
							    <li class="refund1">{$v[title]}</li>
							    <li class="refund1">{$v[itemid]}</li>
							    <li>{$v[seller]}</li>
							    <li>￥{$v[money]}</li>
							    <li>￥{$v[money]}</li>
							    <li class="refund2">{$v[addtime]}</li>
							    <li>{$v[dstatus]}</li>
							    <li class="cz_interfix evaluate2">
							 {if $v[status] == 1}
								{if $DT[trade]}
									<div style="margin-top:10px;"><a href="?itemid={$v[itemid]}&action=update&step=pay" target="_blank"><img src="{DT_PATH}api/trade/{$DT[trade]}/pay.gif" align="absmiddle" title="{$DT[trade_nm]}付款"/></a></div>
								{else}
									<a href="?itemid={$v[itemid]}&action=update&step=pay">付款</a>
								{/if}
							{elseif $v[status] == 3}
								<a href="?itemid={$v[itemid]}&action=update&step=receive_goods" onclick="return confirm('确认已收到货且质量与数量无误吗？\n\n请注意:确认后您的钱将直接支付给卖家');">收货</a>
							{elseif $v[status] == 4}
								{if $v[mid] == 16 && !$v[seller_star]}
									<a href="?itemid={$v[itemid]}&action=update&step=comment">评价</a>
								{/if}
						{/if}
						</li>
						    </ul> 
					    {/loop}
				 {/if}
					</div>
				</div>
			</div>
	</div>
<!--[供应订单，我是卖家]-->
{elseif $action == 'index'}
	{if $step == 'comment_detail'}
		<div class="cggl_index_ri evaluate_index">
			<div class="cggl_index_one">
				<h2>收到的评价</h2>
			</div>
			<div class="cggl_index_two auditing">
				<div class="interfix_in evaluate_in">
					<ul class="interfix evaluate">
						<li class="evaluate1">
                             <select size="1" name="xz"><option selected value="xz">好评</option><option value="tj">中评</option><option value="hb">差评</option><option value="tj">全部</option></select> 
						</li>
						<li>评价内容</li>
						<li>产品信息</li>
						<li class="evaluate2">买家</li>
						<li class="evaluate2">操作</li>
					</ul>                                                                                   
					<!--无收到报价信息-->
					{if !$lists}	                                     
					<div class="interfix_no evaluate_no">
						没有符合的评价
					</div>
					<!--有收到报价信息-->
					{else}
					<div class="interfix_on evaluate_on">
					{loop $lists $k $v}
						<ul class="interfix evaluate">
						    <li class="evaluate1">好评</li>
						    <li>安徽的分工股份哈发布</li>
						    <li>700克玫瑰八宝茶</li>
						    <li class="evaluate2">大师傅的说法</li>
						    <li class="cz_interfix evaluate2"><a href="#">查看</a>/<span><a href="#">删除</a></span></li>
					    </ul>
					   {/loop}
					</div>
					{/if}
				</div>                                                                                                                              
			</div>
		</div>
	{else}
	{if $MG[trade_sell]}
		<div class="cggl_index_ri auditing_index">
				<div class="cggl_index_one">
					<h2>产品订单</h2>
				</div>
				<div class="cggl_index_two auditing">
					<ul class="classify order">
						<li {if $nav == -1} class="on" {/if}><a href="{DT_STATIC}{$MODULE[2][moduledir]}/trade.php?action={$action}">所有订单</a><span><img src="{DT_STATIC}{$MODULE[2][moduledir]}/images/jiange.jpg"></span></li>
						<li {if $nav == 1} class="on" {/if}><a href="{DT_STATIC}{$MODULE[2][moduledir]}/trade.php?action={$action}&nav=1">待买家付款</a><span><img src="{DT_STATIC}{$MODULE[2][moduledir]}/images/jiange.jpg"></span></li>
						<li {if $nav == 2} class="on" {/if}><a href="{DT_STATIC}{$MODULE[2][moduledir]}/trade.php?action={$action}&nav=2">待发货</a><span><img src="{DT_STATIC}{$MODULE[2][moduledir]}/images/jiange.jpg"></span></li>
						<li {if $nav == 3} class="on" {/if}><a href="{DT_STATIC}{$MODULE[2][moduledir]}/trade.php?action={$action}&nav=3">已发货</a><span><img src="{DT_STATIC}{$MODULE[2][moduledir]}/images/jiange.jpg"></span></li>
						<li><a href="{DT_STATIC}{$MODULE[2][moduledir]}/trade.php?action={$action}&nav=5">退款中</a><span><img src="{DT_STATIC}{$MODULE[2][moduledir]}/images/jiange.jpg"></span></li>
						<li {if $nav == 4} class="on" {/if}><a href="{DT_STATIC}{$MODULE[2][moduledir]}/trade.php?action={$action}&nav=4">待评价</a><span><img src="{DT_STATIC}{$MODULE[2][moduledir]}/images/jiange.jpg"></span></li>
						<li><a href="#">成功的订单</a><span><img src="{DT_STATIC}{$MODULE[2][moduledir]}/images/jiange.jpg"></span></li>								
						<li><a href="#">关闭的订单</a></li>
					</ul> 
					<div class="enterprise">
					    <!--全部-->
						<div class="make" style="display: block;">
							<form action="?">
								<input type="hidden" name="action" value="{$action}"/>
						    <div class="form">
	                            <ul>
			                    	<li>
	        		            	    <span>商品名称</span><input type="test" name="kw" value="{$kw}">
			                    	</li>
	        		            	<li class="time">
	                		    		<span>下单时间</span>{dcalendar('fromtime', $fromtime)}<span>至</span>{dcalendar('totime', $totime)}
			                    	</li>
	        		            </ul>
	                		    <ul>
	                    			<li>
			                    	    <span>订单编号</span><input type="test" name="itemid" value="{$itemid}">
			                    	</li>
	        		            	<li class="source">
	                		    		<span>订单来源</span>
	                    				<select size="1" name="xz">
	                    		    		<option selected value="xz">全部</option>
			                    		    <option value="tj">PC</option>
	        		            		    <option value="hb">安卓</option>
	                		    		    <option value="tj">苹果</option>
	                    				    <option value="hb">H5</option>
			                    		</select> 
	        		            	</li>
	                		    	<li class="source">
	                    				<span>支付方式</span>
			                    		<select size="1" name="xz">
	        		            		    <option selected value="xz">全部</option>
			                    		    <option value="tj">微信</option>
	        		            		    <option value="hb">支付宝</option>
	                		    		    <option value="tj">银联</option>
	                    				</select> 
			                    	</li>
	        		            </ul>
	                		    <ul class="resetting_in">
	                    			<li class="resetting_one">
			                    	   <input type="submit" value=" 搜 索 " />

	        		            	</li>
	                		    	<li class="resetting_two">
	                    			    <input type="button" value=" 重 置 " class="btn" onclick="Go('?action={$action}');"/>
			                    	</li>
	        		            </ul>
							</div>
							</form>
							<div class="interfix_in">
								<ul class="interfix goods">
									<li>商品</li>
									<li>单价（元）</li>
									<li>数量</li>
									<li>实付款（元）</li>
									<li>
	                        		    {$status_select}
									</li>
									<li>交易操作</li>
								</ul>
								{if !$lists}
								<!--无订单信息-->                   
								<div class="interfix_no order_no">
									没有符合条件的订单信息
								</div>
								<!--有订单信息-->
								{else}
								<div class="interfix_on order_on">
								{loop $lists $k $v}
									<ul class="interfix goods">
									    <li>{$v[title]}</li>
									    <li>￥{$v[price]}</li>
									    <li>{$v[number]}</li>
									    <li>￥{$v[money]}</li>
									    <li>{$v[dstatus]}</li>
									    <li class="deal">
									    	{if $v[status] == 0}
												<a href="{DT_STATIC}{$MODULE[2][moduledir]}/trade.php?itemid={$v[itemid]}&action=update&step=edit_price&confirm=1">确认</a>
											{elseif $v[status] == 2}
												<a href="{DT_STATIC}{$MODULE[2][moduledir]}/trade.php?itemid={$v[itemid]}&action=update&step=send_goods">发货</a>
											{elseif $v[status] == 4}
												{if $v[mid] == 16 && !$v[buyer_star]}
													<a href="{DT_STATIC}{$MODULE[2][moduledir]}/trade.php?itemid={$v[itemid]}&action=update&step=comment">评价</a>
												{/if}
											{elseif $v[status] == 5}
												<a href="{DT_STATIC}{$MODULE[2][moduledir]}/trade.php?itemid={$v[itemid]}&action=update&step=refund_agree">退款</a>
											{elseif $v[status] == 10}
												{if $v[send_time]}
													<a href="{DT_STATIC}{$MODULE[2][moduledir]}/trade.php?itemid={$v[itemid]}&action=update&step=cod_success" onclick="return confirm('您确定已经收到货款，交易完成吗？此操作将不可撤销');">完成</a>
												{else}
													<a href="{DT_STATIC}{$MODULE[2][moduledir]}/trade.php?itemid={$v[itemid]}&action=update&step=send_goods">发货</a>
												{/if}
											{/if}
										</li>
								    </ul>
								    {/loop}
								{/if}  
							</div>	    
						</div>
					</div>
				</div>
		</div>

		</div>
	{/if}
{/if}
<!--[采购订单，我是买家]-->
{elseif $action == 'order'}
	<!--[采购订单，发出的评价]-->
	{if $step == 'comment_detail'}
		<div class="cggl_index_ri evaluate_index">
			<div class="cggl_index_one">
				<h2>发出的评价</h2>
			</div>
			<div class="cggl_index_two auditing">
				<div class="interfix_in evaluate_in">
					<ul class="interfix evaluate">
						<li class="evaluate1">
                             <select size="1" name="xz"><option selected value="xz">好评</option><option value="tj">中评</option><option value="hb">差评</option><option value="tj">全部</option></select> 
						</li>
						<li>评价内容</li>
						<li>产品信息</li>
						<li class="evaluate2">卖家</li>
						<li class="evaluate2">操作</li>
					</ul>                                                                                   
					<!--无发出评价信息-->	                                     
				{if !$lists}	                                     
					<div class="interfix_no evaluate_no">
						没有符合的评价
					</div>
					<!--有发出评价价信息-->
					{else}
					<div class="interfix_on evaluate_on">
					{loop $lists $k $v}
						<ul class="interfix evaluate">
						    <li class="evaluate1">好评</li>
						    <li>安徽的分工股份哈发布</li>
						    <li>700克玫瑰八宝茶</li>
						    <li class="evaluate2">大师傅的说法</li>
						    <li class="cz_interfix evaluate2"><a href="#">查看</a>/<span><a href="#">删除</a></span></li>
					    </ul>
					   {/loop}
					</div>
					{/if}
				</div>                                                                                                                              
			</div>
		</div>
	{else}
	<div class="cggl_index_ri auditing_index">
			<div class="cggl_index_one">
				<h2>采购订单</h2>
			</div>
			<div class="cggl_index_two auditing">
				<ul class="classify order">
					<li class="on"><a href="{DT_STATIC}{$MODULE[2][moduledir]}/trade.php?action={$action}">所有订单</a><span><img src="{DT_STATIC}{$MODULE[2][moduledir]}/images/jiange.jpg"></span></li>
					<li><a href="{DT_STATIC}{$MODULE[2][moduledir]}/trade.php?action={$action}&nav=1">待付款</a><span><img src="{DT_STATIC}{$MODULE[2][moduledir]}/images/jiange.jpg"></span></li>
					<li><a href="{DT_STATIC}{$MODULE[2][moduledir]}/trade.php?action={$action}&nav=2">待卖家发货</a><span><img src="{DT_STATIC}{$MODULE[2][moduledir]}/images/jiange.jpg"></span></li>
					<li><a href="{DT_STATIC}{$MODULE[2][moduledir]}/trade.php?action={$action}&nav=3">待收货</a><span><img src="{DT_STATIC}{$MODULE[2][moduledir]}/images/jiange.jpg"></span></li>
					<li><a href="{DT_STATIC}{$MODULE[2][moduledir]}/trade.php?action={$action}&nav=4">待评价</a></li>
				</ul> 
				<!--所有订单-->
				<div class="enterprise">
					<div class="make" style="display: block;">
						<form action="?">
							<input type="hidden" name="action" value="{$action}"/>
				    	<div class="form">
                        	<ul>
                        		<li>
                    	    		<span>商品名称</span><input type="test" name="kw" value="{$kw}">
                    			</li>
                    			<li class="time">
                    				<span>下单时间</span>{dcalendar('fromtime', $fromtime)}<span>至</span>{dcalendar('totime', $totime)}
                    			</li>
                    		</ul>
                    		<ul>
                    			<li>
                    	    		<span>订单编号</span><input type="test" name="">
                    			</li>
                    			<li class="source">
                    				<span>店铺名称</span><input type="test" name="">
                    			</li>
                    			<li class="source">
                    				<span>订单来源</span>
                    				<select size="1" name="xz">
                    		    		<option selected value="xz">全部</option>
                    		    		<option value="tj">PC</option>
                    		    		<option value="hb">安卓</option>
                    		    		<option value="tj">苹果</option>
                    		    		<option value="hb">H5</option>
                    				</select>
                    			</li>
                    		</ul>
                    		<ul class="resetting_in">
                    			<li class="resetting_one">
                    	    		<input type="submit" value=" 搜 索 " />

                    			</li>
                    			<li class="resetting_two">
                    	    		<input type="button" value=" 重 置 " class="btn" onclick="Go('?action={$action}');"/>
                    			</li>
                    		</ul>
						</div>
						</form>
						<div class="interfix_in">
							<ul class="interfix goods">
								<li>商品</li>
								<li>单价（元）</li>
								<li>数量</li>
								<li>实付款（元）</li>
								<li>
                            		{$status_select}
								</li>
								<li>交易操作</li>
							</ul>
							{if !$lists}
							<!--无订单信息-->                    
							<div class="interfix_no order_no">
								没有符合条件的订单信息
							</div>
							{else}
							<!--有订单信息-->
							<div class="interfix_on order_on">
								{loop $lists $k $v}
									<ul class="interfix goods">
							    		<li>{$v[title]}</li>
							    		<li>￥{$v[price]}</li>
							    		<li>{$v[number]}</li>
							    		<li>￥{$v[money]}</li>
							    		<li>{$v[dstatus]}</li>
							    		<li class="deal">
							    			{if $v[status] == 1}
												{if $DT[trade]}
												<a href="{DT_STATIC}{$MODULE[2][moduledir]}trade.php?itemid={$v[itemid]}&action=update&step=pay" target="_blank"><img src="{DT_PATH}api/trade/{$DT[trade]}/pay.gif" align="absmiddle" title="{$DT[trade_nm]}付款"/></a>
												{else}
												<a href="{DT_STATIC}{$MODULE[2][moduledir]}trade.php?itemid={$v[itemid]}&action=update&step=pay">付款</a>
												{/if}
											{elseif $v[status] == 3}
												<a href="{DT_STATIC}{$MODULE[2][moduledir]}trade.php?itemid={$v[itemid]}&action=update&step=receive_goods" onclick="return confirm('确认已收到货且质量与数量无误吗？\n\n请注意:确认后您的钱将直接支付给卖家');">收货</a>
											{elseif $v[status] == 4}
												{if $v[mid] == 16 && !$v[seller_star]}
												<a href="{DT_STATIC}{$MODULE[2][moduledir]}trade.php?itemid={$v[itemid]}&action=update&step=comment">评价</a>
												{/if}
											{/if}
							    		</li>
						    		</ul>
						    	{/loop}
						    {/if}
					    		<!-- <ul class="interfix goods">
						    		<li>700克玫瑰八宝茶</li>
						    		<li>￥39.9</li>
						    		<li>4</li>
						    		<li>￥159.6</li>
						    		<li>待发货</li>
						    			<li class="deal"><a href="#">确认收货</a></li>
					    		</ul>
					    		<ul class="interfix goods">
						    		<li>700克玫瑰八宝茶</li>
						    		<li>￥39.9</li>
						    		<li>4</li>
						    		<li>￥159.6</li>
						    		<li>待收货</li>
						    		<li class="deal"><a href="#">确认收货</a></li>
					   			</ul> -->
					   		</div>	
						</div>
					</div>
					
				</div>	
	{/if}

{/if}
	</div>
</div>
<div class="pages">{$pages}</div>
{template 'footer', $module}