{template 'header2', 'mobile'}
<link rel="stylesheet" type="text/css" href="{DT_STATIC}skin/mobile/css/zhanghao.css">
{if $action=='add' || $action == 'edit'}
<div class="index">
    <div class="newly">
    <form id="address-form">
    <input type="hidden" name="action" value="{$action}"/>
	<input type="hidden" name="itemid" value="{$itemid}"/>
	<input type="hidden" name="post[listorder]" value="{$listorder}"/>
	<input type="hidden" name="ok" value="1"/>
    	<ul class="clearfix">
    		<li>
    			<div class="new_1">收货人</div>
    			<div class="new_2">
    			<input type="text" name="post[truename]" id="truename" value="{$truename}" placeholder="收货人姓名">
    			</div>
    		</li>
    		<li>
    			<div class="new_1">手机号码</div>
    			<div class="new_2">
    			<input type="tel" name="post[mobile]" id="mobile" value="{$mobile}" placeholder="收货人手机号码">
    			</div>
    		</li>
    		<li class="place">
    			<div class="new_1">所在地区</div>
    			{php $area = get_address_area()}
    			<div class="new_3">
	    			<select id="areaid_1" name="post[areaid]">
		    			<option value="0">请选择省市</option>
		    			{loop $area $k $v}
		    			<option value="{$v[areaid]}">{$v[areaname]}</option>
		    			{/loop}
	    			</select>
    			</div>
    		</li>
    		<li>
    			<div class="new_1">详细地址</div>
    			<div class="new_2">
    			<input type="text" name="post[address]" id="address" value="{$address}" placeholder="请填写详细地址">
    			</div>
    		</li>
    		<li>
    			<div class="new_1">邮政编码</div>
    			<div class="new_2">
    			<input type="tel" name="post[postcode]" id="postcode" value="{$postcode}" placeholder="邮政编码">
    			</div>
    		</li>
    		<li class="check">
    			<div class="new_1">设置为默认地址</div>
    			<div class="new_2"><input class="annu" type="checkbox" name="post[checkbox1]" value="checkbox"></div>
    		</li>
    	</ul>
    	</form>
    </div>
    <div class="keep clearfix">
    	<a href="javascript:Daddr()">保存并使用</a>
    </div>
</div>
<script src="{DT_STATIC}skin/mobile/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript">
function Daddr() {
	var len;
	if(Dd('areaid_1').value == 0) {
		alert('请选择省市');
		return false;
	}
	len = Dd('postcode').value.length;
	if(len < 6) {
		alert('请填写邮政编码');
		return false;
	}
	len = Dd('truename').value.length;
	if(len < 2) {
		alert('请填写真实姓名');
		return false;
	}
	len = Dd('mobile').value.length;
	if(len < 6) {
		alert('请填写手机号码');
		return false;
	}
	$.post('address.php', $('#address-form').serialize(), function(data) {
		if(data == 'ok') {
			{if $action=='add'}alert('创建成功');{else}alert('修改成功');{/if}
			setTimeout(function() {
				Go('address.php?page={$page}');
			}, 1000);
		} else {
			alert(data);
		}
	});
}
$(document).on('pageinit', function(event) {
	$('input').on('blur', function(){window.scrollTo(0,0);});
});
</script>
{else}
	<div class="index">
	{if $lists}
	{loop $lists $v}
	    <div class="site_index clearfix">
	        <a href="?action=edit&itemid={$v[itemid]}">
		        <div class="site_lf">
		        	<div class="name"><!-- <input type="radio" id="itemid" value="{$v[itemid]}" name="itemid"> -->{$v[truename]}<span>{$v[mobile]}</span></div>
		        	<div class="ident"><span>{if $v[note]==1}[默认]{/if}</span>{$v[address]}</div>
		        </div>
		        <div class="site_ri">
		            <span><img src="{DT_STATIC}skin/mobile/images/xiala.png"></span>
		        </div>
	        </a>
    	</div>
    {/loop}
	{/if}
	<div class="add clearfix">
    	<!-- <a href="javascript:dele()">- 删除选中收货地址</a> -->
    	<a href="address.php?action=add">+ 添加新收货地址</a>
    </div>
	</div>
	<script>
	 function dele(){
	 	var id = $('#itemid').val();
	 	if(confirm('确定要删除吗？此操作将不可撤销')){
	 		$.get('?action=delete&itemid='+id, function(data) {
			if(data == 'ok') {
				alert('删除成功');
				location.reload();
			} else {
				alert('操作失败，请重试');
			}
		});
	 	}else{
	 		return false;
	 	}
	 }
	</script>

{/if}
{if $pages}<div class="pages">{$pages}</div>{/if}
{template 'footer2', 'mobile'}