<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title>{$head_name}{if $_cart}({$_cart}){/if}</title>
	<link rel="stylesheet" type="text/css" href="{DT_STATIC}skin/mobile/css/shopping.css">
	<script src="{DT_STATIC}skin/mobile/js/jquery-1.8.3.min.js"></script>
	<script src="{DT_STATIC}skin/mobile/js/shopping.js"></script>
</head>
<body>
<div class="header">
    <div class="titl"><a href="javascript:window.history.back();"><img src="{DT_STATIC}skin/mobile/images/fanhui.png"></a><h2>{$head_name}{if $_cart}({$_cart}){/if}</h2></div>
</div>
<div class="index">
{if $lists}
<form id="cart-form">
<input type="hidden" name="ok" value="1"/>   
    <div class="out clearfix">
    {loop $lists $k $v}
    {php $changguan = get_cart_changguan($k)}
        <div class="have clearfix">
            <div class="product clearfix">
    	        <div class="module clearfix">
    	            <div class="choice_1">
    	    	        <span></span>
        	        </div>
        		    <div class="ico">
    	    		    <span><img src="{DT_STATIC}skin/mobile/images/guan.png"></span>
    		        </div>
    		        <a href="area.php?areaid={$k}"><div class="contact">{$changguan[areaname]}特色馆</div></a>
        		    <div class="state">编辑</div>
        	    </div>
        	    {loop $v $m $t}
    	        <div class="product_in clearfix two">
	        		<input type="hidden" name="post[{$t[key]}][checked]" value="0" class="cartids" id="checked_{$t[key]}"/>
					<input type="hidden" id="a1_{$t[key]}" value="{$t[a1]}"/>
					<input type="hidden" id="a2_{$t[key]}" value="{$t[a2]}"/>
					<input type="hidden" id="a3_{$t[key]}" value="{$t[a3]}"/>
					<input type="hidden" id="p1_{$t[key]}" value="{$t[p1]}"/>
					<input type="hidden" id="p2_{$t[key]}" value="{$t[p2]}"/>
					<input type="hidden" id="p3_{$t[key]}" value="{$t[p3]}"/>
					<input type="hidden" id="amount_{$t[key]}" value="{$t[amount]}"/>
					<input type="hidden" id="fee_start_{$t[key]}_1" value="{$t[fee_start_1]}"/>
					<input type="hidden" id="fee_step_{$t[key]}_1" value="{$t[fee_step_1]}"/>
					<input type="hidden" id="fee_start_{$t[key]}_2" value="{$t[fee_start_2]}"/>
					<input type="hidden" id="fee_step_{$t[key]}_2" value="{$t[fee_step_2]}"/>
					<input type="hidden" id="fee_start_{$t[key]}_3" value="{$t[fee_start_3]}"/>
					<input type="hidden" id="fee_step_{$t[key]}_3" value="{$t[fee_step_3]}"/>
    	        	<div class="choice_2" attr="{$t[key]}">
    	    	        <span></span>
        	        </div>
        	        <div class="picture">
    	            	<span><img src="{if $t[thumb]}{$t[thumb]}{else}static/img/nopic-60.png{/if}"></span>
    	            </div>
    	            <div class="product_ri active">
    	        	    <div class="product_tit">{$t[title]}</div>
    	        	    {php $catname = get_cart_cate($t[catid])}
        	        	<div class="pinl">{$catname[catname]}</div>
        	        	<div class="price">
    	            		<div class="now">¥ <span>{$t[price]}{if isset($t[unit]) && $t[unit]}/{$t[unit]}{/if}</span></div>
    	            		<div class="past">¥ {$t[price]}</div>
    	        		    <div class="number">x <span>1</span></div>
	    	        	</div>
    		        </div>
                    <div class="product_ri product_ri_set">
                        <div class="num">
                            <span class="minus">-</span>
                            <input type="" name="" size="4" value="1">
                            <span class="plus">+</span>
                        </div>  
                        <div class="edit">
                            <a href="javascript:action_delete({$t[itemid]})" class="edit_2">删除</a>
                        </div> 
                    </div>
    		    </div>
    		    {/loop}
		    </div>
    	</div> 
    {/loop}
    </form>
	    <div class="bill_in">
    		<div class="choice_3">
    		    <div class="choice_qx"><span></span>全选</div>
	    	</div>
    		<a href="javascript:Dcart()"><div class="bill_2">结算&nbsp;&nbsp;&nbsp;&nbsp;</div></a>
      		<div class="bill_1">
    			<div class="total_one">合计：<span></span></div>
	    		<div class="total_two">不含运费</div>
    		</div>
	    </div>    	
    </div>
{else}
    <div class="none">您的购物车没有商品，赶快<a href="index.php?moduleid=16">去逛逛</a></div>
{/if}
    <div class="interest clearfix">
    	<div class="interest_tit">您可能感兴趣的商品</div>
    	{php $goods = get_rand_goods()}
    	<ul class="love clearfix">
			{loop $goods $k $v}
			<li><a href="index.php?moduleid=16&itemid={$v[itemid]}">
				<div class="goods_tp"><img src="{$v[thumb]}"></div>
				<p>{dsubstr($v[title],30,'...')}</p>
				<span>￥{$v[price]}</span>
			</a></li>

			{if $k == 2}
				</ul>
				<ul class="love clearfix">
			{/if}

			{/loop}
		</ul>
    </div>
    <div id="ordermessage"></div>
</div>

<script>
function action_delete(itemids) {
	var k = '&key[]='+itemids+'-0-0-0';
	$.post('?', 'action=delete'+k, function(data) {
		if(data == 'ok') {
			alert('移除成功');
			setTimeout(function() {
				window.location.reload();
			}, 1000);
		} else {
			alert('操作失败，请重试');
		}
	});
}
function get_price(i) {
	var number = parseInt($('#number_'+i).val());
	if($('#a2_'+i).val() > 0) {
		if($('#a3_'+i).val() > 1 && number > parseInt($('#a3_'+i).val())) return $('#p3_'+i).val();
		if($('#a2_'+i).val() > 1 && number > parseInt($('#a2_'+i).val())) return $('#p2_'+i).val();
	}
	return $('#p1_'+i).val();
}
function get_fee(i) {
	var es = $('#express_'+i).html();
	var number = parseInt($('#number_'+i).val());
	if(es.indexOf('data--1') != -1) {
		if(parseFloat(get_price(i)*number) >= parseFloat($('#fee_start_'+i+'_1').val())) {
			$('#express_'+i).val(-1);
		} else {
			if(es.indexOf('data-0') != -1) {
				$('#express_'+i).val(0);
			} else if(es.indexOf('data-2') != -1) {
				$('#express_'+i).val(2);
			} else if(es.indexOf('data-3') != -1) {
				$('#express_'+i).val(3);
			}
		}
	}
	var k = $('#express_'+i).val();
	return k > 0 ? parseFloat($('#fee_start_'+i+'_'+k).val()) + parseFloat($('#fee_step_'+i+'_'+k).val())*(number-1) : 0.00;
}
function get_check(i) {
	if($('#check_'+i).attr('class') == 'input-checkbox-checked') {
		$('#check_'+i).attr('class', 'input-checkbox');
		$('#checked_'+i).val(0);
	} else {
		$('#check_'+i).attr('class', 'input-checkbox-checked');
		$('#checked_'+i).val(1);
	}
	calculate();
}
function alter(i, t) {
	var number = parseInt($('#number_'+i).val());
	if(t == '+') {
		var maxa = parseFloat($('#amount_'+i).val());
		if(maxa && number >= maxa) return;
		$('#number_'+i).val(number+1);
	} else {
		var mina = parseFloat($('#a1_'+i).val());
		if(number <= mina) return;
		$('#number_'+i).val(number-1);
	}
	calculate();
}
function calculate() {
	var itemids = [{loop $lists $i $t}{if $i},{/if}'{$t[key]}'{/loop}];
	var total_good = total_amount = id = 0;
	for(var i = 0; i < itemids.length; i++) {
		id = itemids[i];
		var number = parseInt($('#number_'+id).val());
		var maxa = parseFloat($('#amount_'+i).val());
		var mina = parseFloat($('#a1_'+i).val());
		if(number < mina) {$('#number_'+id).val(mina);number = mina;}
		if(number > maxa) {$('#number_'+id).val(maxa);number = maxa;}
		price = get_price(id);
		$('#price').html(price);
		var money = price*number;
		fee = get_fee(id);
		$('#fee_'+id).html('{$DT[money_sign]}'+fee.toFixed(2));
		money += fee;
		$('#total_'+id).html(money.toFixed(2));
		if($('#check_'+id).attr('class') == 'input-checkbox-checked') {
			$('#check_'+id).val(1);
			total_good++;
			total_amount += money;
		} else {
			$('#check_'+id).val(0);
		}
	}
	$('#total_good').html(total_good);
	$('#total_amount').html(total_amount.toFixed(2));
}
function Dcart(){
	var goods = $('.cartids');
	var len = goods.length;
	var statu = 0;
	for(var i = 0;i < len;i++){
		statu = statu + parseInt(goods[i].value);
	}
	if(statu == 0){
		alert('至少需要选择一件商品');
		return false;
	}
	$.post('cart.php', $('#cart-form').serialize(), function(data) {
		if(data.indexOf('ok|') != -1) {
			alert('订单创建成功，请尽快支付');
			id = data.substr(3);
			setTimeout(function() {
				// if(id.indexOf(',') == -1) {
				// 	sid = id;
				// 	pay = 'action=update&step=pay&itemid='+id;
				// } else {
				// 	t = id.split(',');
				// 	sid = t[0];
				// 	pay = 'action=muti&ids='+id;
				// }
				window.location.href='{DT_PATH}member/trade.php?mobile=1&action=order&nav=1';
				// $('#ordermessage').html('<a href="{$MURL}{$order_name}.php?action=update&step=detail&itemid='+sid+'" rel="external"><span>查看订单</span></a>|<a href="{$MURL}{$order_name}.php?'+pay+'" rel="external"><span>支付订单</span></a>|<a href="index.php?moduleid={$moduleid}&reload={$DT_TIME}"><span>继续购物</span></a>');
			}, 1000);
		} else {
			alert('订单创建失败，请重试');
			setTimeout(function() {
				window.location.reload();
			}, 1000);

		}
	});
}
</script>


{php $where = 'cart'}
{template 'footer', 'mobile'}
