{template 'header2', 'mobile'}
<link rel="stylesheet" type="text/css" href="{DT_STATIC}skin/mobile/css/follow.css">
{if $action == 'goods'}
<div class="index">
    <ul class="tit clearfix">
    	<li class="on"><a href="javascript:void(0)">收藏的商品（{$count}）</a></li>
    	<li class="tit1"><a href="?action=store">收藏的店铺（0）</a></li>
    </ul>
    <ul class="wares clearfix">
    {if $lists}
    {loop $lists $k $v}
    	<li class="clearfix"><a href="index.php?moduleid=16&itemid={$v[typeid]}">
    		<div class="wares_lf">
    				<img src="{$v[thumb]}">
    			</div>
    			<div class="wares_ri">
    				<div class="name">{$v[title]}</div>
    				<div class="money">￥{$v[price]}元/{$v[unit]}</div>
    				<div class="cancel">
    					<span href="#" class="can">取消关注</span>
    					<span href="#">加入购物车</span>
    				</div>
    			</div>
    	</a></li>
	{/loop}
    {else}
    			<div class="wares_lf">
    				<p style="font-size:15px;">没有收藏</p>
    			</div>
    {/if}
    </ul>
    <div class="more">
    	<h2>没有更多了</h2>
    </div>
</div>
{elseif $action == 'store'}
<div class="index">
    <ul class="tit clearfix">
    	<li class=""><a href="?action=goods">关注的商品（{$count}）</a></li>
    	<li class="tit1 on"><a href="javascrilt:void(0)">关注的店铺（0）</a></li>
    </ul>
    <div class="store clearfix">

    {if $lists}
    {loop $lists $k $v}
    	<div class="store_in clearfix">
        	<div class="pavilion">
        		<span>{$v[title]}</span>
        	</div>
        	<div class="shop">
        		<span><img src="{$v[thumb]}"></span>
        		<div class="house">
        			<div class="house_1">{$v[title]}老区特色馆</div>
        			<div class="house_2">{$v[hits]}人关注</div>
        		</div>
        	</div>
        	<div class="aboish">
        		<span href="#" class="abo">取消关注</span>
        	</div>
        </div>
	{/loop}
    {else}
			<div class="wares_lf">
				<p style="font-size:15px;">没有收藏</p>
			</div>
    {/if}
    <div class="more">
    	<h2>没有更多了</h2>
    </div>
</div>
{/if}
{template 'footer2', 'mobile'}