<!--底部-->
<div class="footer">
    <ul class="clearfix">
        <li class="{if $where!='cart'}on{/if}"><a href="index.php"><span><img src="{DT_STATIC}skin/mobile/images/footer.png"></span><em>首页</em></a></li>
        <li class="footer_fl"><a href="search.php?action=cate"><span><img src="{DT_STATIC}skin/mobile/images/footer.png"></span><em>分类</em></a></li>
        <li class="tsg"><a href="area.php"><span><img src="{DT_STATIC}skin/mobile/images/footer.png"></span><em>特色馆</em></a></li>
        <li class="gwc{if $where=='cart'} on{/if}"><a href="cart.php"><span><img src="{DT_STATIC}skin/mobile/images/footer.png"></span><em>购物车</em></a></li>
        <li class="wd"><a href="my.php"><span><img src="{DT_STATIC}skin/mobile/images/footer.png"></span><em>我的</em></a></li>
    </ul>
</div>
<script>
  (function (doc, win) {
         var docEl = doc.documentElement,
             resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
             recalc = function () {
                 var clientWidth = docEl.clientWidth;
                 if (!clientWidth) return;
                 if(clientWidth>=640){
                     docEl.style.fontSize = '100px';
                 }else{
                     docEl.style.fontSize = 100 * (clientWidth / 640) + 'px';
                 }
             };
   
         if (!doc.addEventListener) return;
         win.addEventListener(resizeEvt, recalc, false);
         doc.addEventListener('DOMContentLoaded', recalc, false);
  })(document, window);
    window.onload=function () {  
        document.addEventListener('touchstart',function (event) {  
            if(event.touches.length>1){  
                event.preventDefault();  
            }  
        })  
        var lastTouchEnd=0;  
        document.addEventListener('touchend',function (event) {  
            var now=(new Date()).getTime();  
            if(now-lastTouchEnd<=300){  
                event.preventDefault();  
            }  
            lastTouchEnd=now;  
        },false)  
    };  
</script>
</body>
</html>