<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>{$head_title}</title>
    {if $itemid}
    {else}
    <link rel="stylesheet" type="text/css" href="{DT_STATIC}skin/mobile/css/classify.css">
    {/if}
    <link rel="stylesheet" href="{DT_STATIC}skin/mobile/css/dropload.css">
    <script src="{DT_STATIC}skin/mobile/js/swipe.js"></script>
    <script src="{DT_STATIC}skin/mobile/js/jquery-1.8.3.min.js"></script>

    <script type="text/javascript" src="{DT_STATIC}lang/{DT_LANG}/lang.js"></script>
    <script type="text/javascript" src="{DT_STATIC}file/script/config.js"></script>
    <script type="text/javascript" src="{DT_STATIC}file/script/common.js"></script>
    <script type="text/javascript" src="{DT_STATIC}file/script/page.js"></script>
    
    <script src="{DT_STATIC}skin/mobile/js/jquery.SuperSlide.2.1.1.js"></script>
    {if $drop} 
    <script src="{DT_STATIC}skin/mobile/js/classify.js"></script>
    <script src="{DT_STATIC}skin/mobile/js/dropload.min.js"></script>    
    <script src="{DT_STATIC}skin/mobile/js/liebiaoye1.js"></script>
    {/if}
    <script src="{DT_STATIC}skin/mobile/js/zepto.js"></script>
    <script src="{DT_STATIC}skin/mobile/js/classify.js"></script>
</head>
<body>
<div class="header">
    <div class="header_in clearfix">
        <div class="titl titl_no">
            <a{if $itemid} class="titl_img"{/if} href="javascript:void(0)" onclick="window.history.back();"><img src="{DT_STATIC}skin/mobile/images/fanhui.png"></a>
        </div>
        {if $itemid}
        <ul class="top_tit">
            <li class="on"><a href="#">商品</a></li>
            <li><a href="#">详情</a></li>
            <li><a href="#">评论</a></li>
        </ul>
        {else}
        <div class="search">
            <form class="dform" action="search.php?moduleid=16" method="post" id="dform">
                <input type="hidden" name="ok" value="1"/>
                {if $kw}
                <a href="search.php"><input type="text" name="wd" id="wd" type="search" placeholder="{$kw}"></a>
                {else}
                <a href="search.php"><input type="text" name="wd" id="wd" type="search" placeholder="请输入商品"></a>
                {/if}
            </form>
        </div>
        {/if}
        <div class="navigation" id="box_title">
            <a href="javascript:void(0)"><img src="{DT_STATIC}skin/mobile/images/classify.png"></a>
        </div>    
    </div>  

    <div class="nav clearfix" id="box_content">
        <ul class="clearfix">
            <li class="on"><a href="index.php"><span><img src="{DT_STATIC}skin/mobile/images/nav.png"></span><em>首页</em></a></li>
            <li class="footer_fl"><a href="search.php?action=cate"><span><img src="{DT_STATIC}skin/mobile/images/nav.png"></span><em>分类</em></a></li>
            <li class="tsg"><a href="area.php"><span><img src="{DT_STATIC}skin/mobile/images/nav.png"></span><em>特色馆</em></a></li>
            <li class="gwc"><a href="cart.php"><span><img src="{DT_STATIC}skin/mobile/images/nav.png"></span><em>购物车</em></a></li>
            <li class="wd"><a href="my.php"><span><img src="{DT_STATIC}skin/mobile/images/nav.png"></span><em>我的</em></a></li>
        </ul>
    </div> 
    
</div>