<!-- 个人中心头部 -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    {if $action == 'trade'}
    {php $head_name = '我的订单'}
    {elseif $action == 'history'}
    {php $head_name = '浏览记录'}
    {elseif $action == 'active'}
    {php $head_name = '我的活动'}
    {elseif $action == 'goods' || $action == 'store'}
    {php $head_name = '我的收藏'}
    {elseif $action=='add' || $action == 'edit'}
    {php $head_name = '收货地址'}
    {elseif $action == "member"}
    {php $head_name = '账号管理'}
    {elseif $login}
    {php $head_name = '会员登录'}
    {elseif $action == 'pay'}
    {php $head_name = '订单支付'}
    {/if}
    <title>{$head_name}</title>    
  
    <script src="{DT_STATIC}skin/mobile/js/swipe.js"></script>
    <script src="{DT_STATIC}skin/mobile/js/jquery1.42.min.js"></script>

    <script type="text/javascript" src="{DT_STATIC}lang/{DT_LANG}/lang.js"></script>
    <script type="text/javascript" src="{DT_STATIC}file/script/config.js"></script>
    <script type="text/javascript" src="{DT_STATIC}file/script/common.js"></script>
    <script type="text/javascript" src="{DT_STATIC}file/script/page.js"></script>
    
</head>
<body>
<div class="header">

    <div class="titl">    
    {if $action == 'trade'} 
        <a href="my.php"><img src="{DT_STATIC}skin/mobile/images/fanhui.png"></a>
    {else}
        <a href="javascript:void(0)" onclick="window.history.back()"><img src="{DT_STATIC}skin/mobile/images/fanhui.png"></a>
    {/if}
        <h2>{$head_name}</h2>
        
    </div>
    
<!--     {if $action == 'order'}
    <div class="tit">
        <ul class="clearfix">
            <li {if $statu == 0} class="on" {/if}><a href="?action=trade">全部订单</a></li>
            <li {if $statu == 1} class="on" {/if}><a href="?action=trade&statu=1">待支付</a></li>
            <li {if $statu == 2} class="on" {/if}><a href="?action=trade&statu=2">待收货</a></li>
            <li {if $statu == 3} class="on" {/if}><a href="?action=trade&statu=3">待评价</a></li>
        </ul>
    </div>
    {/if} -->

    {if $action == 'order'}
    <div class="tit">
        <ul class="clearfix">
            <li {if !$nav} class="on" {/if}><a href="{DT_STATIC}{$MODULE[2][moduledir]}/trade.php?mobile=1&action={$action}">全部订单</a></li>
            <li {if $nav == 1} class="on" {/if}><a href="{DT_STATIC}{$MODULE[2][moduledir]}/trade.php?mobile=1&action={$action}&nav=1">待支付</a></li>
            <li {if $nav == 3} class="on" {/if}><a href="{DT_STATIC}{$MODULE[2][moduledir]}/trade.php?mobile=1&action={$action}&nav=3">待收货</a></li>
            <li {if $nav == 4} class="on" {/if}><a href="{DT_STATIC}{$MODULE[2][moduledir]}/trade.php?mobile=1&action={$action}&nav=4">待评价</a></li>
        </ul>
    </div>
    {/if}
</div>