<!-- 首页头部 -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title>{$head_title}</title>
    <script src="{DT_STATIC}skin/mobile/js/jquery-1.8.3.min.js"></script>
    <script src="{DT_STATIC}skin/mobile/js/swiper.min.js"></script> 
    <script src="{DT_STATIC}skin/mobile/js/dropload.min.js"></script>
    {if !$itemid}
    <script type="text/javascript" src="{DT_STATIC}skin/mobile/js/index.js"></script>
    {/if}
    <script type="text/javascript" src="static/js/common.js"></script>
</head>
<body>
