{php $login=1}
{template 'header2', 'mobile'}
<link rel="stylesheet" type="text/css" href="{DT_STATIC}skin/mobile/css/entry.css">

<div class="index">
	<div class="index_one">
		<ul class="tit clearfix">
			<li class="on">登录</li>
			<a href="register.php"><li>注册</li></a>
		</ul>
		<form action="login.php" method="post" id="form-login">
		<input type="hidden" name="forward" value="{$forward}"/>
		<input type="hidden" name="auth" value="{$auth}"/>
		<input type="hidden" name="ok" value="1"/>
		<div class="name">
			<div class="name_1">用户名</div>
			<div class="name_2"><input type="text" name="username" id="login-username" value="{$username}" placeholder="用户名/Email/已认证手机"></div>
		</div>
		<div class="name">
			<div class="name_1">密码</div>
			<div class="name_2"><input type="password" name="password" id="login-password" placeholder="请填写密码"></div>
		</div>
		<div class="add clearfix">
    	    <a href="javascript:Dlogin()">登录</a>
        </div>
		</form>
        <div class="forget"><a href="forgot.php?action=user&type=mobile">忘记密码？</a></div>
	</div>
	{if $oa}
	{loop $OAUTH $k $v}
	{if $v[enable]}
	<div class="index_two index_in">
		<h2>使用其他账号登录</h2>
		<ul class="clearfix">
			<li><a href="{DT_PATH}api/oauth/{$k}/connect.php"><img src="{DT_PATH}api/oauth/{$k}/ico.png">用{$v[name]}帐号登录</a>
			</li>
		</ul>
	</div>
	{/if}
	{/loop}
	{/if}
</div>
<script type="text/javascript">
function Dlogin() {
	if(Dd('login-username').value.length < 3) {
		Dtoast('请填写用户名/Email/已认证手机');
		return false;
	}
	if(Dd('login-password').value.length < 5) {
		Dtoast('请填写密码');
		return false;
	}
	{if $MOD[captcha_login]}
	if(!is_captcha(Dd('captcha').value)) {
		Dtoast('请填写验证码');
		return false;
	}
	{/if}
	Dd('form-login').submit();
}
</script>
{template 'footer2', 'mobile'}