{template 'header2', 'mobile'}


<!-- 账号管理界面 -->
{if $action == 'member'}
<link rel="stylesheet" type="text/css" href="{DT_STATIC}skin/mobile/css/zhanghao.css"> 
<div class="index">
    <div class="site">
        <a href="address.php?auth={$_username}"><span>地址管理</span><i><img src="{DT_STATIC}skin/mobile/images/xiala.png"></i></a>
    </div>
    <div class="identity">
        <a href="{DT_PATH}member/edit.php?mobile=1"><span>账户安全</span><i><img src="{DT_STATIC}skin/mobile/images/xiala.png"></i></a>
    </div>
</div>
{elseif $action == 'info'}
<!-- 个人信息页面 -->
    <link rel="stylesheet" type="text/css" href="{DT_STATIC}skin/mobile/css/personal.css">
	<div class="index">
	    <ul class="index_in">
	    	<li class="sli"><a href="#">
	    		<h2>头像</h2>
	    		<a href="{$MURL}avatar.php"><span><img src="{useravatar($_username, 'large')}"></span></a>
	    	</a></li>
	    	<li class="sli2"><a href="#">
	    		<h2>真实名称</h2>
	    		<span>{$_truename}</span>
	    	</a></li>
	    	<li class="sli3"><a href="#">
	    		<h2>昵称</h2>
	    		<span>{$_username}</span>
	    	</a></li>
	    </ul>
	</div>
{elseif $action == 'history'}
    <link rel="stylesheet" type="text/css" href="{DT_STATIC}skin/mobile/css/personal.css">
{php $history = get_history()}
<div class="index_browse">
    <div class="browse">
    	<ul class="clearfix">
    	{loop $history $k $v}
    		<li class="clearfix"><a href="index.php?moduleid=16&itemid={$v[itemid]}">
    			<div class="browse_lf">
    				<img src="{$v[thumb]}">
    			</div>
    			<div class="browse_ri">
    				<div class="name">{$v[title]}</div>
    				<div class="money">￥{$v[price]}</div>
    			</div></a>
    			<!-- <div class="out"><a href="#">删除</a></div> -->
    		</li>
    	{/loop}
    		<div class="add clearfix">
    			<a href="javascript:dele_his()">清空</a>
    		</div>
    	</ul>
    </div>
</div>
<script>
function dele_his(){
	$.post('?action=dele_his',function(data){
			location.reload();
	});
}
</script>
{elseif $action == 'dele_his'}
	{php $result = dele_his()}
	{if $result}
		{$result}
	{/if}
{elseif $action == 'active'}
    <link rel="stylesheet" type="text/css" href="{DT_STATIC}skin/mobile/css/personal.css">
<div class="index">
    <div class="flex"><img src="{DT_STATIC}skin/mobile/images/huod.png"></div>
</div>

{else}
	{if $_userid}
	    <link rel="stylesheet" type="text/css" href="{DT_STATIC}skin/mobile/css/personal.css">
		<div class="index">
			<div class="info">
			    <div class="info_in">
				    <div class="headsucl">
					    <img src="{useravatar($_username, 'large')}">
					</div>  
					<ul class="headsuclin">  
					    <li>{$_truename}</li>
					    <li>{$_username}</li> 
				    </ul>
				    <div class="account">
				    	<a href="?action=member">账号管理<i><img src="{DT_STATIC}skin/mobile/images/zhgl.png"></i></a>
				    </div>
				    <ul class="follow">
				    	<li><a href="favorite.php?action=goods">
				    		<h2 class="foll">0&nbsp;</h2>
				    		<h2>关注的商品</h2>
				    	</a></li>
				    	<li class="fol"><a href="favorite.php?action=store">
				    		<h2 class="foll">0&nbsp;</h2>
				    		<h2>关注的店铺</h2>
				    	</a></li>
				    	<li class="fol"><a href="?action=history">
				    	{php $history = get_history(1)}
				    		<h2 class="foll">{$history}</h2>
				    		<h2>浏览记录</h2>
				    	</a></li>
				    </ul>
				</div>    
			</div>
			<div class="total">
				<div class="orders">
					<h2>全部订单</h2>
					<a href="{$MURL}trade.php?mobile=1&action=order"><span>查看全部订单</span></a>
				</div>
				<ul class="pay clearfix">
					<li><a href="{DT_STATIC}{$MODULE[2][moduledir]}/trade.php?mobile=1&action=order&nav=1">
						<p><img src="{DT_STATIC}skin/mobile/images/zhifu.png"></p>
						<span>待付款</span>
					</a></li>
					<li><a href="{DT_STATIC}{$MODULE[2][moduledir]}/trade.php?mobile=1&action=order&nav=3">
						<p><img src="{DT_STATIC}skin/mobile/images/shouhuo.png"></p>
						<span>待收货</span>
					</a></li>
					<li><a href="{DT_STATIC}{$MODULE[2][moduledir]}/trade.php?mobile=1&action=order&nav=4">
						<p><img src="{DT_STATIC}skin/mobile/images/pingj.png"></p>
						<span>待评价</span>
					</a></li>
					<li class="fast"><a href="{DT_STATIC}{$MODULE[2][moduledir]}/trade.php?mobile=1&action=order&nav=4">
						<p><img src="{DT_STATIC}skin/mobile/images/thsh.png"></p>
						<span>退换/售后</span>
					</a></li>
				</ul>
			</div>
			<ul class="list clearfix">
				<li class="ge"><a href="?action=info">个人信息</a></li>
				<li class="lx"><a href="#">联系我们</a></li>
				<li class="hd"><a href="?action=active">我的活动</a></li>
			</ul>
			<div class="like">
				<div class="tit">
					<h2>为你推荐</h2>
				</div>
				{php $goods = get_rand_goods()}
				<ul class="love clearfix">
				{loop $goods $k $v}
					<li><a href="index.php?moduleid=16&itemid={$v[itemid]}">
						<div class="goods_tp"><img src="{$v[thumb]}"></div>
						<p>{dsubstr($v[title],30,'...')}</p>
						<span>￥{$v[price]}</span>
					</a></li>
					{if $k == 2}
					</ul>
					<ul class="love clearfix">
					{/if}
				{/loop}
				</ul>
			</div>
		</div>	
	</div>
	<div class="footer clearfix">
	    <a href="logout.php">退出</a>
	</div>

{else}
{php dheader('login.php?forward=my.php');}
<!-- <td><a href="login.php?forward=my.php" style="width:100%;display:block;" data-transition="slideup"><strong>未登录</strong><br/>
按此登录或注册</a></td> -->
{/if}
{/if}

{template 'footer2', 'mobile'}