{template 'header2', 'mobile'}
{if $action == 'success'}

{else}
<link rel="stylesheet" type="text/css" href="{DT_STATIC}skin/mobile/css/entry.css">
<form method="post" id="dform">
<input type="hidden" name="action" value="post"/>
<input type="hidden" name="regid" value="5"/>
<input type="hidden" name="email" value="" />
<div class="index">
	<div class="index_one">
		<ul class="tit clearfix">
			<a href="login.php"><li>登录</li></a>
			<li class="on">注册</li>
		</ul>
		<div class="enroll">
		    <div class="enroll_2">
		    	<input type="text" name="mobile" id="mobile" placeholder="手机号码 请真实填写，提交后需验证"/>
			</div>  

			<div class="enroll_1">
			<input name="captcha" id="captcha" type="text" onfocus="showcaptcha();" value="点击显示验证码" placeholder="请输入验证码" style="margin:10px 0 10px 0;">
			<img src="{$DT_PATH}/skin/default/image/loading.gif" title="验证码,看不清楚?请点击刷新
			字母不区分大小写" alt="" align="absmiddle" id="captchapng" onclick="reloadcaptcha();" style="display:none;cursor:pointer;">
			<script type="text/javascript">
				function showcaptcha() {
					if(Dd('captchapng').style.display=='none') {
						Dd('captchapng').style.display='';
					}
					if(Dd('captchapng').src.indexOf('loading.gif') != -1) {
						Dd('captchapng').src='/api/captcha.png.php?action=image';
					}
					if(Dd('captcha').value=='点击显示验证码') {
						Dd('captcha').value='';
					}
					Dd('captcha').className = '';
				}
				function reloadcaptcha() {
					Dd('captchapng').src = '/api/captcha.png.php?action=image&refresh='+Math.random();
					Dd('ccaptcha').innerHTML = '';
					Dd('captcha').value = '';
				}
				function checkcaptcha(s) {
					s = s.trim();
					var t = encodeURIComponent(s);
					if(t.indexOf('%E2%80%86') != -1) s = decodeURIComponent(t.replace(/%E2%80%86/g, ''));
					if(!is_captcha(s)) return;
					$.post(AJPath, 'action=captcha&captcha='+s,
					function(data) {
						if(data == '0') {
							Dd('ccaptcha').innerHTML = '&nbsp;&nbsp;<img src="/skin/default/image/check_right.gif" align="absmiddle"/>';
							Dd('captcha').value = s;
						} else {
							Dd('captcha').focus;
							Dd('ccaptcha').innerHTML = '&nbsp;&nbsp;<img src="/skin/default/image/check_error.gif" align="absmiddle"/>';
						}
					});
				}
				function is_captcha(v) {
				if(v == '点击显示验证码') return false;
				if(v.match(/^[a-z0-9A-Z]{1,}$/)) {
				return v.match(/^[a-z0-9A-Z]{4,}$/);
				} else {
				return v.length > 1;
				}
				}
				$(function() {
				$('#captcha').bind('keyup blur', function() {
				checkcaptcha($('#captcha').val());
				});
				});
			</script>
			</div>

			<div class="enroll_3">
				<input type="text" name="code" id="code" placeholder="请输入收到的验证码" onblur="Dverify()">
				<input class="send_scode" type="button" onclick="Dsendcode()" id="send_scode" value="获取验证码" />
			</div>
			<div class="enroll_2">
				<input type="password" name="password" id="password" placeholder="请设置6-20位登录密码"/>
			</div> 
            <div class="log clearfix">
    	       <input class="zhuce" type="button" onclick="Dregister()" value="注册" />
    	       <div class="protocol"><input type="checkbox" name="checkbox1" value="checkbox" checked>点击注册表示同意用户协议</div>
            </div>
		</div>
	</div>

	{if $oa}
	{loop $OAUTH $k $v}
	{if $v[enable]}
	<div class="index_two index_in">
		<h2>使用其他账号登录</h2>
		<ul class="clearfix">
			<li><a href="{DT_PATH}api/oauth/{$k}/connect.php"><img src="{DT_PATH}api/oauth/{$k}/ico.png">用{$v[name]}帐号登录</a>
			</li>
	</ul>
	</div>
	{/if}
	{/loop}
	{/if}
</div>
</form>
{/if}
<script type="text/javascript">
function Dsendcode() {
	Dd('send_scode').value = '正在发送';
	Dd('send_scode').disabled = true;
	val = $('#mobile').val();
	if(!val.match(/^1[3|4|5|7|8]{1}[0-9]{9}$/)) {
		alert('请填写正确的手机号码');
		return false;
	}
	/*val = $('#password').val();
	len = val.length;
	if(len < {$MOD[minpassword]} || len > {$MOD[maxpassword]}) {
		alert('密码长度限制为{$MOD[minpassword]}-{$MOD[maxpassword]}');
		return false;
	}*/
	val = $('#captcha').val();
	if(!is_captcha(val)) {
		alert('请填写验证码');
		return false;
	}
	$.post('register.php', {'action':'send','mobile':$('#mobile').val()}, function(data) {
		console.log(data);
		if(data == 1) {
			alert('短信发送成功');
			Dd('send_scode').value = '发送成功';
			StopSCode();
		} else if(data == 2) {
			alert('手机号码格式错误，请检查');
		} else if(data == 3) {
			alert('手机号码已存在，请更换');
		} else if(data == 5) {
			alert('短信发送过快，请稍后再试');
		} else if(data == 6) {
			alert('尝试发送次数太多，请稍后再试');
		} else {
			alert('未知错误，请重试');
		}
	});
	return;
}
function Dregister() {
	val = $('#mobile').val();
	if(!val.match(/^1[3|4|5|7|8]{1}[0-9]{9}$/)) {
		alert('请填写正确的手机号码');
		return false;
	}
	val = $('#password').val();
	len = val.length;
	if(len < {$MOD[minpassword]} || len > {$MOD[maxpassword]}) {
		alert('密码长度限制为{$MOD[minpassword]}-{$MOD[maxpassword]}');
		return false;
	}
	val = $('#captcha').val();
	if(!is_captcha(val)) {
		alert('请填写验证码');
		return false;
	}
	$.post('register.php', $('#dform').serialize(), function(data) {
		console.log(data);
		if(data == 'ok') {
			alert('恭喜您注册成功，请登录');
			Go('login.php');
		} else if(data == 'group') {
			alert('请选择会员组');
			setTimeout(function() {
				Go('register.php?reload={$DT_TIME}');
			}, 1000);
		} else if(data == 'passport') {
			alert('会员名已经被注册');
			//$('#username').val('');
		} else if(data == 'captcha') {
			alert('验证码错误');
			reloadcaptcha();
		} else if(data == 'ko'){
			alert('手机验证码错误');
		}else {
			data = data.replace('昵称', '会员');
			//alert(data);
			alert(data);
		}
	});
	return;
}
function StopSCode() {
	Dd('send_scode').disabled = true;
	var i = 180;
	var interval=window.setInterval(
		function() {
			if(i == 0) {
				Dd('send_scode').value = '立即发送';
				Dd('send_scode').disabled = false;
				clearInterval(interval);
			} else {
				Dd('send_scode').value = '重新发送('+i+')';
				i--;
			}
		},
	1000);
}
function Dverify() {
	var val,len;
	val = $('#code').val();
	if(!$('#code').val().match(/^[a-z0-9]{6}$/)) {
		Dtoast('请填写您收到的验证码');
		return false;
	}
	/*$.post('register.php', {'action':'verify','code':$('#code').val()}, function(data) {
		if(data == 'ok') {
			Dtoast('注册成功');
			setTimeout(function() {
				Go('my.php?reload={$DT_TIME}');
			}, 1000);
		} else {
			Dtoast('验证失败');
		}
	});*/
}
function Dcode(i) {
	$.post('register.php', {'action':'send'}, function(data) {
		if(data == 'ok') {
			if(!i) Dtoast('发送成功');
			Dtimer();
		} else if(data == 'max') {
			Dtoast('发送次数过多，请等待网站审核');
			Go('index.php?reload={$DT_TIME}');
		} else {
			Dtoast('发送失败，请重试');
		}
	});
}
function Dtimer() {
	var i = {if $verify_type=='mobile'}180{else}60{/if};
	$('#send').hide();
	$('#timer').html('重新发送('+i+')');
	$('#timer').show();
	var time_int=window.setInterval(
		function() {
			if(i == 1) {
				$('#send').show();
				$('#timer').html('');
				$('#timer').hide();
				clearInterval(time_int);
			} else {
				i--;
				$('#timer').html('重新发送('+i+')');
			}
		},
	1000);
}
$(document).on('pageinit', function(event) {
	$('input').on('blur', function(){window.scrollTo(0,0);});
	$('input:not(:password)').bind('keyup blur', function() {
		$(this).val(DTrim($(this).val()));
	});
	{if $MOD[captcha_register]}
	showcaptcha();
	{/if}
	$('#captcha').removeClass("f_gray");
});
</script>

{template 'footer2', 'mobile'}