{if $action == 'cate'}
{template 'header1', 'mobile'}
<!-- <link rel="stylesheet" type="text/css" href="{DT_STATIC}skin/mobile/css/classify.css"> -->
<div class="index clearfix indexIn">
    <div class="index_lf">
        <ul class="clearfix">
            <li class="on">农副产品</li>
            <li>文化产品</li>
            <li>旅游产品</li>
            <li>特色馆</li>
            <li>粮油</li>
            <li>酒水饮料</li>
            <li>面点</li>         
            <li>文化产品</li>
            <li>手工艺品</li>       
            <li>旅游产品</li>
            <li>名胜古迹</li>
            <li>红色旅游</li>
            <li>古镇</li>
        </ul>
    </div>
    <div class="index_ri">
        <div class="clearfix_1">
            <div class="ban"><a href="#"><img src="{DT_STATIC}skin/mobile/images/tj.jpg"></a></div>
            <div class="content_in">
                <div class="con_in">
                    <div class="content_titl">农副产品分类</div>
                    <div class="content">
                        {php $child_nong = get_maincat(4, 16, 1);}
                        {php $last = count($child_nong)%3 == 0 ? 3 : count($child_nong)%3}
                        <ul class="clearfix">
                        {loop $child_nong $i $c}
                            <li><a href="index.php?moduleid=16&catid={$c[catid]}">{$c[catname]}</a></li>
                        {/loop}
                        </ul>
                    </div>
                </div>    
            </div>
        </div>
        
        <div class="clearfix_1" style="display: none;">
            <div class="ban"><a href="#"><img src="{DT_STATIC}skin/mobile/images/tj.jpg"></a></div>
            <div class="content_in">
                <div class="con_in">
                    <div class="content_titl">文化产品</div>
                    <div class="content">
                    {php $child_nong = get_maincat(5, 16, 1);}
                    {php $last = count($child_nong)%3 == 0 ? 3 : count($child_nong)%3}
                        <ul class="clearfix">
                        {loop $child_nong $i $c}
                        
                            <li><a href="index.php?moduleid=16&catid={$c[catid]}">{$c[catname]}</a></li>

                        {/loop}
                        </ul>
                    </div>
                </div>
            </div> 
        </div> 
        
        <div class="clearfix_1" style="display: none;">
            <div class="ban"><a href="#"><img src="{DT_STATIC}skin/mobile/images/tj.jpg"></a></div>
            <div class="content_in">
                <div class="con_in">
                    <div class="content_titl">旅游产品</div>
                    <div class="content">
                        <ul class="clearfix">
                        {php $child_nong = get_maincat(6, 16, 1);}
                        {php $last = count($child_nong)%3 == 0 ? 3 : count($child_nong)%3}
                        <ul class="clearfix">
                        {loop $child_nong $i $c}
                        
                            <li><a href="index.php?moduleid=16&catid={$c[catid]}">{$c[catname]}</a></li>
             
                        {/loop}
                        </ul>
                    </div>
                </div>
            </div>
        </div> 
        <div class="clearfix_1"  style="display: none;">
            <div class="ban"><a href="#"><img src="{DT_STATIC}skin/mobile/images/tj.jpg"></a></div>
            <div class="content_in">
                <div class="con_in">
                    <div class="content_titl">特色馆分类</div>
                    <!--{php $guan =tag("moduleid=4&condition=groupid<>1&pagesize=28&template=null")}-->
                    <div class="content">
                        <ul class="clearfix">
                        {php $last = count($guan)%3 == 0 ? 3 : count($guan)%3}
                        {loop $guan $k $v}
                        
                            <li><a href="area.php?areaid={$v[areaid]}">{$v[changguan]}</a></li>
        
                        {/loop}
                        </ul>
                    </div>
                </div>    
            </div>
        </div> 
        <div class="clearfix_1" style="display: none;">
            <div class="ban"><a href="#"><img src="{DT_STATIC}skin/mobile/images/tj.jpg"></a></div>
            <div class="content_in">
                <div class="con_in">
                    <div class="content_titl">粮食</div>
                    <div class="content">
                        <ul class="clearfix">
                            <li><a href="#">小米</a></li>
                            <li><a href="#">大米</a></li>
                            <li class="last"><a href="#">白面</a></li>
                            <li><a href="#">杂粮</a></li>
                            <li><a href="#">荞面</a></li>
                            <li class="last"><a href="#">莜面</a></li>
                            <li class="final"><a href="#">面条</a></li>
                        </ul>
                    </div>
                </div>
                <div class="con_in">
                    <div class="content_titl">食用油</div>
                    <div class="content">
                        <ul class="clearfix">
                            <li><a href="#">大豆油</a></li>
                            <li><a href="#">花生油</a></li>
                            <li class="last"><a href="#">玉米油</a></li>
                            <li><a href="#">葵花籽油</a></li>
                            <li><a href="#">菜籽油</a></li>
                            <li class="last"><a href="#">调和油</a></li>
                            <li class="final"><a href="#">香油</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>   
        <div class="clearfix_1" style="display: none;">
            <div class="ban"><a href="#"><img src="{DT_STATIC}skin/mobile/images/tj.jpg"></a></div>
            <div class="content_in">
                <div class="con_in">
                    <div class="content_titl">酒水</div>
                    <div class="content">
                        <ul class="clearfix">
                            <li><a href="#">小米</a></li>
                            <li><a href="#">大米</a></li>
                            <li class="last"><a href="#">白面</a></li>
                            <li><a href="#">杂粮</a></li>
                            <li><a href="#">荞面</a></li>
                            <li class="last"><a href="#">莜面</a></li>
                            <li class="final"><a href="#">面条</a></li>
                        </ul>
                    </div>
                </div>
                <div class="con_in">
                    <div class="content_titl">饮料</div>
                    <div class="content">
                        <ul class="clearfix">
                            <li><a href="#">大豆油</a></li>
                            <li><a href="#">花生油</a></li>
                            <li class="last"><a href="#">玉米油</a></li>
                            <li><a href="#">葵花籽油</a></li>
                            <li><a href="#">菜籽油</a></li>
                            <li class="last"><a href="#">调和油</a></li>
                            <li class="final"><a href="#">香油</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>   
        <div class="clearfix_1" style="display: none;">
            <div class="ban"><a href="#"><img src="{DT_STATIC}skin/mobile/images/tj.jpg"></a></div>
            <div class="content_in">
                <div class="con_in">
                    <div class="content_titl">面点</div>
                    <div class="content">
                        <ul class="clearfix">
                            <li><a href="#">小米</a></li>
                            <li><a href="#">大米</a></li>
                            <li class="last"><a href="#">白面</a></li>
                            <li><a href="#">杂粮</a></li>
                            <li><a href="#">荞面</a></li>
                            <li class="last"><a href="#">莜面</a></li>
                            <li class="final"><a href="#">面条</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix_1" style="display: none;">
            <div class="ban"><a href="#"><img src="{DT_STATIC}skin/mobile/images/tj.jpg"></a></div>
            <div class="content_in">
                <div class="con_in">
                    <div class="content_titl">文化产品</div>
                    <div class="content">
                        <ul class="clearfix">
                            <li><a href="#">蔬菜</a></li>
                            <li><a href="#">水果</a></li>
                            <li class="last"><a href="#">粮油</a></li>
                            <li><a href="#">花卉草木</a></li>
                            <li><a href="#">畜牧养殖</a></li>
                            <li class="last"><a href="#">茶叶</a></li>
                            <li><a href="#">面点</a></li>
                            <li><a href="#">中草药</a></li>
                            <li class="last"><a href="#">酒茶冲饮</a></li>
                            <li class="final"><a href="#">农产品加工</a></li>
                        </ul>
                    </div>
                </div>    
            </div>
        </div> 
        <div class="clearfix_1" style="display: none;">
            <div class="ban"><a href="#"><img src="{DT_STATIC}skin/mobile/images/tj.jpg"></a></div>
            <div class="content_in">
                <div class="con_in">
                    <div class="content_titl">手工艺品</div>
                    <div class="content">
                        <ul class="clearfix">
                            <li><a href="#">蔬菜</a></li>
                            <li><a href="#">水果</a></li>
                            <li class="last"><a href="#">粮油</a></li>
                            <li><a href="#">花卉草木</a></li>
                            <li><a href="#">畜牧养殖</a></li>
                            <li class="last"><a href="#">茶叶</a></li>
                            <li><a href="#">面点</a></li>
                            <li><a href="#">中草药</a></li>
                            <li class="last"><a href="#">酒茶冲饮</a></li>
                            <li class="final"><a href="#">农产品加工</a></li>
                        </ul>
                    </div>
                </div>    
            </div>
        </div>
        <div class="clearfix_1" style="display: none;">
            <div class="ban"><a href="#"><img src="{DT_STATIC}skin/mobile/images/tj.jpg"></a></div>
            <div class="content_in">
                <div class="con_in">
                    <div class="content_titl">旅游分类</div>
                    <div class="content">
                        <ul class="clearfix">
                            <li><a href="#">名胜古迹</a></li>
                            <li><a href="#">红色文化</a></li>
                            <li class="last"><a href="#">自然风光</a></li>
                            <li><a href="#">主题乐园</a></li>
                            <li><a href="#">5A景区</a></li>
                            <li class="last"><a href="#">古镇</a></li>
                            <li class="final"><a href="#">城市</a></li>
                            <li class="final"><a href="#">乡村</a></li>
                        </ul>
                    </div>
                </div>    
                <div class="con_in">
                    <div class="content_titl">名胜古迹</div>
                    <div class="content">
                        <ul class="clearfix">
                            <li><a href="#">叶菜类</a></li>
                            <li><a href="#">根茎类</a></li>
                            <li class="last"><a href="#">豆菜类</a></li>
                            <li><a href="#">瓜果类</a></li>
                            <li><a href="#">茄椒类</a></li>
                            <li class="last"><a href="#">葱姜蒜</a></li>
                            <li><a href="#">水生菜类 </a></li>
                            <li><a href="#">冷冻蔬菜</a></li>
                            <li class="last"><a href="#">脱水蔬菜</a></li>
                            <li class="final"><a href="#">酱腌菜</a></li>
                        </ul>
                    </div>
                </div>  
                <div class="con_in">
                    <div class="content_titl">红色文化</div>
                    <div class="content">
                        <ul class="clearfix">
                            <li><a href="#">叶菜类</a></li>
                            <li><a href="#">根茎类</a></li>
                            <li class="last"><a href="#">豆菜类</a></li>
                            <li><a href="#">瓜果类</a></li>
                            <li><a href="#">茄椒类</a></li>
                            <li class="last"><a href="#">葱姜蒜</a></li>
                            <li><a href="#">水生菜类 </a></li>
                            <li><a href="#">冷冻蔬菜</a></li>
                            <li class="last"><a href="#">脱水蔬菜</a></li>
                            <li class="final"><a href="#">酱腌菜</a></li>
                        </ul>
                    </div>
                </div>
                <div class="con_in">
                    <div class="content_titl">古镇</div>
                    <div class="content">
                        <ul class="clearfix">
                            <li><a href="#">叶菜类</a></li>
                            <li><a href="#">根茎类</a></li>
                            <li class="last"><a href="#">豆菜类</a></li>
                            <li><a href="#">瓜果类</a></li>
                            <li><a href="#">茄椒类</a></li>
                            <li class="last"><a href="#">葱姜蒜</a></li>
                            <li><a href="#">水生菜类 </a></li>
                            <li><a href="#">冷冻蔬菜</a></li>
                            <li class="last"><a href="#">脱水蔬菜</a></li>
                            <li class="final"><a href="#">酱腌菜</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>    
        <div class="clearfix_1" style="display: none;">
            <div class="ban"><a href="#"><img src="{DT_STATIC}skin/mobile/images/tj.jpg"></a></div>
            <div class="content_in">  
                <div class="con_in">
                    <div class="content_titl">名胜古迹</div>
                    <div class="content">
                        <ul class="clearfix">
                            <li><a href="#">叶菜类</a></li>
                            <li><a href="#">根茎类</a></li>
                            <li class="last"><a href="#">豆菜类</a></li>
                            <li><a href="#">瓜果类</a></li>
                            <li><a href="#">茄椒类</a></li>
                            <li class="last"><a href="#">葱姜蒜</a></li>
                            <li><a href="#">水生菜类 </a></li>
                            <li><a href="#">冷冻蔬菜</a></li>
                            <li class="last"><a href="#">脱水蔬菜</a></li>
                            <li class="final"><a href="#">酱腌菜</a></li>
                        </ul>
                    </div>
                </div>  
            </div>
        </div>   
        <div class="clearfix_1" style="display: none;">
            <div class="ban"><a href="#"><img src="{DT_STATIC}skin/mobile/images/tj.jpg"></a></div>
            <div class="content_in">  
                <div class="con_in">
                    <div class="content_titl">红色旅游</div>
                    <div class="content">
                        <ul class="clearfix">
                            <li><a href="#">叶菜类</a></li>
                            <li><a href="#">根茎类</a></li>
                            <li class="last"><a href="#">豆菜类</a></li>
                            <li><a href="#">瓜果类</a></li>
                            <li><a href="#">茄椒类</a></li>
                            <li class="last"><a href="#">葱姜蒜</a></li>
                            <li><a href="#">水生菜类 </a></li>
                            <li><a href="#">冷冻蔬菜</a></li>
                            <li class="last"><a href="#">脱水蔬菜</a></li>
                            <li class="final"><a href="#">酱腌菜</a></li>
                        </ul>
                    </div>
                </div>  
            </div>
        </div>  
        <div class="clearfix_1" style="display: none;">
            <div class="ban"><a href="#"><img src="{DT_STATIC}skin/mobile/images/tj.jpg"></a></div>
            <div class="content_in">  
                <div class="con_in">
                    <div class="content_titl">古镇</div>
                    <div class="content">
                        <ul class="clearfix">
                            <li><a href="#">叶菜类</a></li>
                            <li><a href="#">根茎类</a></li>
                            <li class="last"><a href="#">豆菜类</a></li>
                            <li><a href="#">瓜果类</a></li>
                            <li><a href="#">茄椒类</a></li>
                            <li class="last"><a href="#">葱姜蒜</a></li>
                            <li><a href="#">水生菜类 </a></li>
                            <li><a href="#">冷冻蔬菜</a></li>
                            <li class="last"><a href="#">脱水蔬菜</a></li>
                            <li class="final"><a href="#">酱腌菜</a></li>
                        </ul>
                    </div>
                </div>  
            </div>
        </div>                                                              
    </div>
</div>

<!-- 默认搜索界面 -->
{else}
 <!-- 列表页头部 -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>{$head_title}</title>

    <link rel="stylesheet" type="text/css" href="{DT_STATIC}skin/mobile/css/classify.css">
    
    <!-- <link rel="stylesheet" href="{DT_STATIC}skin/mobile/css/dropload.css">   -->
    <script src="{DT_STATIC}skin/mobile/js/swipe.js"></script>
    <script src="{DT_STATIC}skin/mobile/js/jquery-1.8.3.min.js"></script>
    <script src="{DT_STATIC}skin/mobile/js/jquery.SuperSlide.2.1.1.js"></script>

    <script src="{DT_STATIC}skin/mobile/js/classify.js"></script>
    <script src="{DT_STATIC}skin/mobile/js/zepto.js"></script>
    {if $lazy}<script type="text/javascript" src="{DT_STATIC}file/script/jquery.lazyload.js"></script>{/if}
    <script type="text/javascript" src="{DT_STATIC}file/script/mall.js"></script>

    {if $JS}
    {loop $JS $js}
    <script type="text/javascript" src="{DT_STATIC}file/script/{$js}.js"></script>
    {/loop}
    {/if}
    {php $searchid = ($moduleid > 3 && $MODULE[$moduleid]['ismenu'] && !$MODULE[$moduleid]['islink']) ? $moduleid : 5;}
    <script type="text/javascript">
    var searchid = {$searchid};
    {if $itemid && $DT[anticopy]}
    document.oncontextmenu=function(e){return false;};
    document.onselectstart=function(e){return false;};
    {/if}
    </script>
</head>
<body>
<div class="header">
    <div class="header_in clearfix">
        <div class="titl titl_no">
            <a href="javascript:void(0)" onclick="history.go(-1)"><img src="{DT_STATIC}skin/mobile/images/fanhui.png"></a>
        </div>
        <div class="search">
            <form class="dform" action="search.php?moduleid=16" method="post" id="dform">
                <input type="hidden" name="ok" value="1"/>
                <!--<a class="sear" href="search.php"><img src="{DT_STATIC}skin/mobile/images/shous.png"></a>-->
                {if $kw}
                <input type="text" name="wd" id="wd" type="search" placeholder="{$kw}">
                {else}
                <input type="text" name="wd" id="wd" type="search" placeholder="请输入商品">
                {/if}
                <button type="submit" value="搜索">搜索</button> 
            </form>
        </div>
    </div>    
    <div class="nav clearfix" id="box_content">
        <ul class="clearfix">
            <li class="on"><a href="index.php"><span><img src="{DT_STATIC}skin/mobile/images/nav.png"></span><em>首页</em></a></li>
            <li class="footer_fl"><a href="search.php?action=cate"><span><img src="{DT_STATIC}skin/mobile/images/nav.png"></span><em>分类</em></a></li>
            <li class="tsg"><a href="area.php"><span><img src="{DT_STATIC}skin/mobile/images/nav.png"></span><em>特色馆</em></a></li>
            <li class="gwc"><a href="cart.php"><span><img src="{DT_STATIC}skin/mobile/images/nav.png"></span><em>购物车</em></a></li>
            <li class="wd"><a href="my.php"><span><img src="{DT_STATIC}skin/mobile/images/nav.png"></span><em>我的</em></a></li>
        </ul>
    </div> 
</div>  
<link rel="stylesheet" type="text/css" href="{DT_STATIC}skin/mobile/css/sousuo.css">
<div class="index">
    <div class="lately clearfix">
        <div class="latitl">最近搜索</div>
        {php $mysearch = get_search(0)}
        <div class="lately_in">
        {loop $mysearch $k $v}
            <span><a href="index.php?moduleid=16&kw={encrypt($v[content], DT_KEY.'KW')}">{$v[content]}</a></span>
        {/loop}
        </div>
    </div>
    <div class="hot clearfix">
        <div class="latitl">热门搜索</div>
        {php $allsearch = get_search(1)}
        <div class="lately_in">
        {loop $allsearch $k $v}
            <span><a href="index.php?moduleid=16&kw={encrypt($v[content], DT_KEY.'KW')}">{$v[content]}</a></span>
        {/loop}
        </div>      
    </div>
</div>
{/if}

<script>
    (function (doc, win) {
           var docEl = doc.documentElement,
               resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
               recalc = function () {
                   var clientWidth = docEl.clientWidth;
                   if (!clientWidth) return;
                   if(clientWidth>=640){
                       docEl.style.fontSize = '100px';
                   }else{
                       docEl.style.fontSize = 100 * (clientWidth / 640) + 'px';
                   }
               };
     
           if (!doc.addEventListener) return;
           win.addEventListener(resizeEvt, recalc, false);
           doc.addEventListener('DOMContentLoaded', recalc, false);
    })(document, window);
    window.onload=function () {  
        document.addEventListener('touchstart',function (event) {  
            if(event.touches.length>1){  
                event.preventDefault();  
            }  
        })  
        var lastTouchEnd=0;  
        document.addEventListener('touchend',function (event) {  
            var now=(new Date()).getTime();  
            if(now-lastTouchEnd<=300){  
                event.preventDefault();  
            }  
            lastTouchEnd=now;  
        },false)  
    };  
</script>
</body>
</html>