{template 'header', $template}
<link rel="stylesheet" type="text/css" href="/skin/lqts/css/teseguanlist.css">
<script type="text/javascript">var sh = '{$MOD[linkurl]}search.php?catid={$catid}';</script>
<div class="feature_wrap">
		<h2  class="feature_wrap_guide">
			<a href="{$COM[linkurl]}" target="_blank">首页</a> > 特色旅游
		</h2>
		<!-- 筛选 -->
		{php $catids = get_maincat($catid)}
		{if $catids}
		<div class="class_select">
			<div class="pinpai clearfix">
				<div class="class_select_title fl">
					{php $cat = get_cat($catid)}
					{$cat[catname]}
				</div>
				<div class="class_select_con fl">
				
					<ul class="all_pinpai clearfix">
					{loop $catids $k $v}
						<li><a href="{$v[linkurl]}" target="_blank">{$v[catname]}</a></li>
					{/loop}
						

					</ul>
					<p class="moress">更多<i></i></p>
				</div>
				
			</div>
			
		</div>
		{/if}
		<!-- 商品列表 -->
		<div class="content_wrap clearfix">
			<!-- 左侧展示 -->
			<div class="content_wrap_left fl" id="content_wrap_left">
				<h3>推广产品</h3>
					<!-- {php $tui = tag("table=mall&condition=level=5&order=addtime desc&pagesize=5&template=null")} -->
				{loop $tui $k $v}
				<dl>
					<dt><a href="{$MODULE[16][linkurl]}{$v[linkurl]}" target="_blank"><img data="{str_replace('.thumb.', '.middle.',$v[thumb])}" alt="{$v[title]}" width="204" height="273"></a></dt>
					<dd>
						<p>{$v[title]}</p>
						<span>￥{$v[price]}元/{$v[unit]}</span>
					</dd>
				</dl>
				{/loop}
			</div>
			<div class="content_wrap_right fr">
				<div class="content_wrap_list_tit clearfix">
					<ul>
						<li class="zh on"><a href="javascript:;">综合</a></li>
						<li class="xljg"><a href="javascript:;">销量<i></i></a></li>
						<li class="pjs"><a href="javascript:;">评价数<i></i></a></li>
						<li class="xljg"><a href="javascript:;">价格<i></i></a></li>
					</ul>
					<p>
						<input type="text" placeholder="在结果中搜索">
						<a class="searchs" href="javascript:;"></a>
					</p>
				</div>
				<div class="content_wrap_list clearfix" id="content_wrap_list">
				{php $tags=get_good(6,$homepage)}
				{loop $tags $k $t}
				{php $guan =get_changguan($t[username])}
						    <div class="content_list hot">
										<p class="content_list_img">
											<a href="{$MODULE[16][linkurl]}{$t[linkurl]}" target="_blank"><img data="{str_replace('.thumb.'.file_ext($t[thumb]), '.middle.'.file_ext($t[thumb]), $t[thumb])}" width="221" height="223" alt=""></a>
											<span class="bloneTO">{$guan[changguan]}<i></i></span>
										</p>
										<div class="content_list_intro">
											<a href="{$MODULE[16][linkurl]}{$t[linkurl]}" title="{$t[title]}" target="_blank">{dsubstr($t[title],40,'...')}</a>
											
										</div>
									</div>
				{/loop}	
				{if $showpage && $pages}<div class="pages">{$pages}</div>{/if}
				</div>
			</div>
		</div>
	</div>
<script>
	window.onload=function(){
		imgloads("content_wrap_left",0);
		imgloads("content_wrap_list",10);
	}
</script>
{template 'footer', $template}



