{template 'header', $template}
<div class="index_ban"><img src="{$HSPATH}images/{$homepage}.jpg""></div>
		<!--推荐产品-->
		<div class="index_tj">
			<div class="groom">
			    <div class="groom_1 clearfix">
			    <!--{php $chanpin = tag("table=mall&condition=username='$homepage' and level=4&order=edittime desc&pagesize=5&template=null")}-->
			    {loop $chanpin $k $v}
			    {if $k< 3}
			        <div class="date_in">
			    	    <div class="date">
			    		    <a href="{$MODULE[16][linkurl]}{$v[linkurl]}"><img src="{str_replace('.thumb.'.file_ext($v[thumb]), '',$v[thumb])}"></a>
			    	    </div>
			    	    <div class="layer">
			    		    <a href="{$MODULE[16][linkurl]}{$v[linkurl]}"><img src="/skin/lqts/images/tucheng.png"></a>
			    	    </div>
			    	    <div class="layer_1">
			    	        <a href="{$MODULE[16][linkurl]}{$v[linkurl]}">{$v[title]}</a>
			    	    </div>
			        </div>
			       {else}
			    	<div class="date_in date_lf">
			    	     <div class="date">
			    		    <a href="{$MODULE[16][linkurl]}{$v[linkurl]}"><img src="{str_replace('.thumb.'.file_ext($v[thumb]), '',$v[thumb])}"></a>
			    	    </div>
			    	    <div class="layer">
			    		    <a href="{$MODULE[16][linkurl]}{$v[linkurl]}"><img src="/skin/lqts/images/tucheng.png"></a>
			    	    </div>
			    	    <div class="layer_1">
			    	        <a href="{$MODULE[16][linkurl]}{$v[linkurl]}">{$v[title]}</a>
			    	    </div>
			        </div>
			        {/if}
			        {/loop}
			    </div>
			</div>
		</div>
		<!--特色产品-->
		<div class="index_ts ">
			<div class="item">
			    <div class="goods clearfix">
			    {php $ts = get_ts_goods(4,$homepage,8)}
				{php $guan = get_changguan($homepage)}
					{loop $ts $k $v}
					{if $k < 3}
			    	<div class="goods_1">
			    	    <div class="print_in">
			    		    <div class="print_1">
			    			    <a href="{$MODULE[16][linkurl]}{$v[linkurl]}"><img src="{str_replace('.thumb.'.file_ext($v[thumb]), '',$v[thumb])}"></a>
			    		    </div>
			    		    <div class="print_2">
			    		    	<a href="{$MODULE[16][linkurl]}{$v[linkurl]}"><img src="/skin/lqts/images/tscheng.png"></a>
			    		    </div>
			    		    <div class="attribute">
			    		    	<p>{$guan[changguan]}</p>
			    		    </div>
			    		</div>
			    		<div class="script_in">
			    			<div class="script_inn">
			    		        <a href="{$MODULE[16][linkurl]}{$v[linkurl]}">{$v[title]}</a>
			    		    </div>
			    			<div class="script">
			    				<div class="script_lf">
			    					￥<span>{$v[price]}</span>
			    				</div>
			    				<div class="script_ri">
			    					<div class="script_img"><a href="{$MODULE[16][linkurl]}{$v[linkurl]}"><img src="/skin/lqts/images/qiangg.png"></a></div>
			    					<div class="script_wz"><a href="{$MODULE[16][linkurl]}{$v[linkurl]}">立即抢购</a></div>
			    				</div>
			    			</div>
			    		</div>
			    	</div> 
			    	{elseif $k == 3}
			    	<div class="goods_1 fast">
			    	    <div class="print_in">
			    		    <div class="print_1">
			    			    <a href="{$MODULE[16][linkurl]}{$v[linkurl]}"><img src="{str_replace('.thumb.'.file_ext($v[thumb]), '',$v[thumb])}"></a>
			    		    </div>
			    		    <div class="print_2">
			    		    	<a href="{$MODULE[16][linkurl]}{$v[linkurl]}"><img src="/skin/lqts/images/tscheng.png"></a>
			    		    </div>
			    		    <div class="attribute">
			    		    	<p>{$guan[changguan]}</p>
			    		    </div>
			    		</div>
			    		<div class="script_in">
			    			<div class="script_inn">
			    		        <a href="{$MODULE[16][linkurl]}{$v[linkurl]}">{$v[title]}</a>
			    		    </div>
			    			<div class="script">
			    				<div class="script_lf">
			    					￥<span>{$v[price]}</span>
			    				</div>
			    				<div class="script_ri">
			    					<div class="script_img"><a href="{$MODULE[16][linkurl]}{$v[linkurl]}"><img src="/skin/lqts/images/qiangg.png"></a></div>
			    					<div class="script_wz"><a href="{$MODULE[16][linkurl]}{$v[linkurl]}">立即抢购</a></div>
			    				</div>
			    			</div>
			    		</div>
			    	</div>
			    	{elseif $k > 3 && $k < 7}
			    	<div class="goods_1 xia">
			    	    <div class="print_in">
			    		    <div class="print_1">
			    			    <a href="{$MODULE[16][linkurl]}{$v[linkurl]}"><img src="/skin/lqts/images/tscp1.png"></a>
			    		    </div>
			    		    <div class="print_2">
			    		    	<a href="{$MODULE[16][linkurl]}{$v[linkurl]}"><img src="/skin/lqts/images/tscheng.png"></a>
			    		    </div>
			    		    <div class="attribute">
			    		    	<p>{$guan[changguan]}</p>
			    		    </div>
			    		</div>
			    		<div class="script_in">
			    			<div class="script_inn">
			    		        <a href="{$MODULE[16][linkurl]}{$v[linkurl]}">{$v[title]}</a>
			    		    </div>
			    			<div class="script">
			    				<div class="script_lf">
			    					￥<span>{$v[price]}</span>
			    				</div>
			    				<div class="script_ri">
			    					<div class="script_img"><a href="{$MODULE[16][linkurl]}{$v[linkurl]}"><img src="/skin/lqts/images/qiangg.png"></a></div>
			    					<div class="script_wz"><a href="{$MODULE[16][linkurl]}{$v[linkurl]}">立即抢购</a></div>
			    				</div>
			    			</div>
			    		</div>
			    	</div> 
			    	{else}
			    	<div class="goods_1 xia fast">
			    	    <div class="print_in">
			    		    <div class="print_1">
			    			    <a href="{$MODULE[16][linkurl]}{$v[linkurl]}"><img src="{str_replace('.thumb.'.file_ext($v[thumb]), '',$v[thumb])}"></a>
			    		    </div>
			    		    <div class="print_2">
			    		    	<a href="{$MODULE[16][linkurl]}{$v[linkurl]}"><img src="/skin/lqts/images/tscheng.png"></a>
			    		    </div>
			    		    <div class="attribute">
			    		    	<p>{$guan[changguan]}</p>
			    		    </div>
			    		</div>
			    		<div class="script_in">
			    		    <div class="script_inn">
			    		        <a href="{$MODULE[16][linkurl]}{$v[linkurl]}">{$v[title]}</a>
			    		    </div>
			    			<div class="script">
			    				<div class="script_lf">
			    					￥<span>{$v[price]}</span>
			    				</div>
			    				<div class="script_ri">
			    					<div class="script_img"><a href="{$MODULE[16][linkurl]}{$v[linkurl]}"><img src="/skin/lqts/images/qiangg.png"></a></div>
			    					<div class="script_wz"><a href="{$MODULE[16][linkurl]}{$v[linkurl]}">立即抢购</a></div>
			    				</div>
			    			</div>
			    		</div>
			    	</div>
			    	{/if}
			    	{/loop}
			    </div>
			</div>
		</div>
		<!--手工艺-->
		<div class="index_sgy">
			<div class="handwork">
			    <div class="handwork_in">
                    <div class="hd">
                        <a class="next"><img src="/skin/lqts/images/left.png"></a>
                        <a class="prev"><img src="/skin/lqts/images/right.png"></a>
                    </div>
			        <div class="skill clearfix">
			            <div class="skillon">
			            	{php $producters = get_ts_goods(5,$homepage,5)}
       					 	{loop $producters $k $v}
			                <div class="skillin">
			    	            <div class="skill_in">
			    	                <a href="{$MODULE[16][linkurl]}{$v[linkurl]}"><img src="{str_replace('.thumb.'.file_ext($v[thumb]), '',$v[thumb])}"></a>
			    	            </div>
			    	            <div class="skill_inn">
			    	                <a href="{$MODULE[16][linkurl]}{$v[linkurl]}"><img src="/skin/lqts/images/sgycheng.png"></a>
			    	            </div>
			    	        </div>
			    	        {/loop}
			    	    </div>
			        </div>
			    </div>
			</div>
		</div>	
		<!--特色旅游-->	
		<div class="index_tsly">
			<div class="tourism clearfix">
			    <div class="tour clearfix">
			    	{php $ly = get_ts_goods(6,$homepage,5)}
			    	{loop $ly $k $v}
			    	{if $k< 3}
			    	<div class="tour_in">
			    		<div class="tour_1">
			    			<a href="{$MODULE[16][linkurl]}{$v[linkurl]}"><img src="{str_replace('.thumb.'.file_ext($v[thumb]), '',$v[thumb])}"></a>
			    		</div>
			    		<div class="tour_2">
			    			<a href="{$MODULE[16][linkurl]}{$v[linkurl]}"><img src="/skin/lqts/images/lvycheng.png"></a>
			    		</div>
			    		<div class="writing_in">
			    			<div class="writing_img">
			    			    <a href="{$MODULE[16][linkurl]}{$v[linkurl]}"><img src="/skin/lqts/images/dao.png"></a>
			    			</div>
			    			<div class="writing">
			    				<a href="{$MODULE[16][linkurl]}{$v[linkurl]}">{$v[title]}</a>
			    			</div>
			    		</div>
			    	</div>
			    	{elseif $k ==3 }
			    	<div class="tour_in tour_lf">
			    		<div class="tour_1">
			    			<a href="{$MODULE[16][linkurl]}{$v[linkurl]}"><img src="{str_replace('.thumb.'.file_ext($v[thumb]), '',$v[thumb])}"></a>
			    		</div>
			    		<div class="tour_2">
			    			<a href="{$MODULE[16][linkurl]}{$v[linkurl]}"><img src="/skin/lqts/images/lvycheng.png"></a>
			    		</div>
			    		<div class="writing_in">
			    			<div class="writing_img">
			    			    <a href="{$MODULE[16][linkurl]}{$v[linkurl]}"><img src="/skin/lqts/images/dao.png"></a>
			    			</div>
			    			<div class="writing">
			    				<a href="{$MODULE[16][linkurl]}{$v[linkurl]}">{$v[title]}</a>
			    			</div>
			    		</div>
			    	</div>
			    	{else}
			    	<div class="tour_in">
			    		<div class="tour_1">
			    			<a href="{$MODULE[16][linkurl]}{$v[linkurl]}"><img src="{str_replace('.thumb.'.file_ext($v[thumb]), '',$v[thumb])}"></a>
			    		</div>
			    		<div class="tour_2">
			    			<a href="{$MODULE[16][linkurl]}{$v[linkurl]}"><img src="/skin/lqts/images/lvycheng.png"></a>
			    		</div>
			    		<div class="writing_in">
			    			<div class="writing_img">
			    			    <a href="{$MODULE[16][linkurl]}{$v[linkurl]}"><img src="/skin/lqts/images/dao.png"></a>
			    			</div>
			    			<div class="writing">
			    				<a href="{$MODULE[16][linkurl]}{$v[linkurl]}">{$v[title]}</a>
			    			</div>
			    		</div>
			    	</div>
			    	{/if}
			    	{/loop}
			    </div>
			</div>
		</div>	
		<!--返回顶部-->
		<div class="return">
			<div class="return_in">
				<div class="character">
					<p>全国老区特色 · {$COM[changguan]}</p>
					{if $homepage !='beijing'}
					<p class="character_in"><span>指导单位：</span><strong>{$COM[fuchi]}</strong></p>
					{/if}
					<p class="character_in"><span>支持单位：</span><strong>中国老区建设画报社&红色思源网</strong></p>
					<p class="character_in"><span>出品单位：</span><strong>集典集团</strong></p>
					<p class="character_in"><span>共建单位：</span><strong>{$COM[company]}</strong></p>
					<p class="character_in"><span>第三方权威认证：</span><strong><a href="http://www.xytxw.com.cn" target="_blank">信用体系网</a></strong></p>
				</div>
				<ul class="revert clearfix">
					<!--{php $tags=tag("table=link&condition=status=3 and username='$homepage'&pagesize=".$side_num[$HS]."&order=listorder desc&template=null");}-->
					{if $tags}
					{loop $tags $t}
					<li><a href="{$t[linkurl]}" target="_blank" title="{$t[alt]}">{$t[title]}</a></li>
					{/loop}
					{else}
					<!--<li>暂无链接</li> -->
					{/if}		
				</ul>
				<div class="coping">
					<div class="coping_1">
						<a href="{$MODULE[16][linkurl]}{$v[linkurl]}"><img src="/skin/lqts/images/share.png"></a>
					</div>
					<div class="coping_2">返回顶部</div>
				</div>
			</div>
		</div>	
		<div class="kuang"></div>
	</div>
	<div class="right_in">
    <div class="right">
      <ul class="pay clearfix">
        <li class="pay_writ">我的关注</li>
        <li class="pay_img"><img src="/skin/lqts/images/pay.png"></li>        
      </ul>
      <ul class="order clearfix">
        <li class="pay_writ">我的订单</li>
        <li class="pay_img"><img src="/skin/lqts/images/order.png"></li>  
      </ul>
      <ul class="spoor clearfix">
        <li class="pay_writ">我的足迹</li>
        <li class="pay_img"><img src="/skin/lqts/images/spoor.png"></li>  
      </ul>
      <ul class="tidings clearfix">
        <li class="pay_writ">我的消息</li>
        <li class="pay_img"><img src="/skin/lqts/images/tidings.png"></li>  
      </ul>
      <ul class="service clearfix">
        <li class="pay_writ">联系客服</li>
        <li class="pay_img"><img src="/skin/lqts/images/service.png"></li>  
      </ul>
      <ul class="break clearfix">
        <li class="pay_writ">返回顶部</li>
        <li class="pay_img"><img src="/skin/lqts/images/break.png"></li>  
      </ul>
  </div>    
</div>  
{template 'footer', $template}