<!--{php $tags=tag("moduleid=16&condition=status>2 and username='$homepage'&order=edittime desc&template=null");}-->
{loop $tags $k $t}
111
{php $guan =get_changguan($t[username])}
		    <div class="content_list hot">
						<p class="content_list_img">
							<a href="{$t[linkurl]}"><img src="{str_replace('.thumb.'.file_ext($t[thumb]), '.middle.'.file_ext($t[thumb]), $t[thumb])}" width="221" height="223" alt=""></a>
							<span class="bloneTO">{$guan[changguan]}<i></i></span>
							<span class="hots">HOT</span>
						</p>
						<div class="content_list_intro">
							<a href="{$t[linkurl]}" title="{$t[title]}">{dsubstr($t[title],40,'...')}</a>
							<span class="content_list_intro_price"><span>¥</span>{$t[price]}</span>
						</div>
					</div>
{/loop}	