{template 'header'}
<link rel="stylesheet" type="text/css" href="/skin/lqts/css/teseguanlist.css">
<script type="text/javascript">var sh = '{$MOD[linkurl]}search.php?catid={$catid}';</script>
<div class="feature_wrap">
		<h2  class="feature_wrap_guide">
			<a href="{$MODULE[1][linkurl]}">首页</a> > {cat_pos($CAT, ' &raquo; ')}
		</h2>
		<!-- 筛选 -->
		{php $catids = get_maincat($catid)}
		{if $catids}
		<div class="class_select">
			<div class="pinpai clearfix">
				<div class="class_select_title fl">
					{php $cat = get_cat($catid)}
					{$cat[catname]}
				</div>
				<div class="class_select_con fl">
				
					<ul class="all_pinpai clearfix">
					{loop $catids $k $v}
						<li><a href="{$v[linkurl]}">{$v[catname]}</a></li>
					{/loop}
						

					</ul>
					<p class="moress">更多<i></i></p>
				</div>
				
			</div>
			
		</div>
		{/if}
		<!-- 商品列表 -->
		<div class="content_wrap clearfix">
			<!-- 左侧展示 -->
			<div class="content_wrap_left fl">
				<h3>推广产品</h3>
					<!-- {php $tui = tag("table=mall&condition=level=5&order=addtime desc&pagesize=5&template=null")} -->
				{loop $tui $k $v}
				<dl>
					<dt><img src="{str_replace('.thumb.', '.middle.',$v[thumb])}" alt="{$v[title]}" width="204" height="273"></dt>
					<dd>
						<p>{$v[title]}</p>
						<span>￥{$v[price]}元/{$v[unit]}</span>
					</dd>
				</dl>
				{/loop}
			</div>
			<div class="content_wrap_right fr">
				<div class="content_wrap_list_tit clearfix">
					<ul>
						<li class="zh on"><a href="javascript:;">综合</a></li>
						<li class="xljg"><a href="javascript:;">销量<i></i></a></li>
						<li class="pjs"><a href="javascript:;">评价数<i></i></a></li>
						<li class="xljg"><a href="javascript:;">价格<i></i></a></li>
					</ul>
					<p>
						<input type="text" placeholder="在结果中搜索">
						<a class="searchs" href="javascript:;"></a>
					</p>
				</div>
				<div class="content_wrap_list clearfix">
				{if $page==1 && $kw}
				{ad($moduleid,$catid,$kw,6)}
				{load('m'.$moduleid.'_k'.urlencode($kw).'.htm')}
				{/if}	
				{template 'list-'.$module, 'tag'}
					
				</div>
			</div>
		</div>
	</div>
	<script>
		$(function (argument) {
			$(".pages").css("margin-left",-$(".pages").width()/2);
		})
	</script>
{template 'footer'}