{template 'header'}
<link rel="stylesheet" type="text/css" href="/skin/lqts/css/citylist.css">
<script src="/skin/lqts/js/citylist.js"></script>
<!-- 内容部分 -->
	<div class="citylist_wrap clearfix">
		<h2 class="clearfix"><strong>全国老区</strong><var></var><span>区域划分</span></h2>
		<div class="citylist_wrap_inn">
			<ul class="clearfix" id="partslist">
			<!--{php $guan =tag("moduleid=$moduleid&condition=groupid<>1&pagesize=28&template=null")}-->
			{loop $guan $k $v}
				<li>
					<img data="/skin/lqts/images/tese/{$v[username]}.jpg" alt="" width="280" height="204">
					<p class="cover"><a href="{$v[linkurl]}" target="_blank"></a></p>
				</li>
			{/loop}
			</ul>
		</div>
	</div>
<script>
	window.onload=function(){
		imgloads("partslist",0);
	}
</script>
{template 'footer'}