/*
* @Author: Administrator
* @Date:   2017-05-17 15:09:54
* @Last Modified by:   Administrator
* @Last Modified time: 2017-05-17 19:16:09
*/
.tb{
	margin: 52px 0 0 0;
}
.tb tr .tl{
	width: 163px;
	padding: 0 11px 0 0;
	text-align: right;
	color: #333;
	line-height: 34px;
}
input{
	box-sizing: border-box;
}
tr{
	height: 54px;
}
.tb tr .require{
	display: inline-block;
	width: 10px;
	height: 10px;
	background: url(require.png) 0 0 no-repeat;
}
.tb tr .tr{
	text-align: left;
}
#load_category_1 select{
	display: inline-block;
	width: 176px;
	height: 34px;
}
.ssfl{
	padding: 0 10px;
	color: #fff;
	line-height: 32px;
	background: #ff6000;
}
#title{
	width: 176px;
	height: 34px;
	border: 1px solid #e0e0e0;
}
.goods_price input{
	border: 1px solid #e0e0e0;
}
#amount,#obrand{
	width: 174px;
	height: 34px;
	margin-right: 10px;
	border: 1px solid #e0e0e0;
}
#price_title tr{
	height: 40px;
}
#good_img td{
	text-align: left;
}
#good_img tr{
	height: 48px;
}
#good_img tr td span{
	float: left;
	width: 48px;
	height: 26px;
	border: 1px solid #e0e0e0;
	text-align: center;
	line-height: 26px;
	border-radius: 3px;
	cursor: pointer;
}
#good_img tr td span:nth-child(2){
	margin: 0 9px;
}
#parameter tr{
	height: 44px;
}
#parameter td{
	width: 195px;
}
#parameter input{
	width: 159px;
	height: 28px;
	border-bottom: 1px solid #e0e0e0;
	text-align: center;
}
#custom select{
	width: 107px;
	height: 34px;
}
#custom a{
	color: #ff6000;
}
#answer,#captcha{
	border: 1px solid #e0e0e0;
}
#question a{
	color: #ff6000;
}
#submit_back td input{
	padding: 0 37px;
	color: #fff;
	line-height: 38px;
	background: #ff6000;
	border: none;
}
#destoon_color_show tr{
	height: auto;
}	
#Dtop{
	position: fixed !important;
	left: 50% !important;
	top: 300px !important;
	width: 300px !important;
	background: #fff;
	border: 1px solid #e0e0e0;
	margin-left: -150px;
	border-radius: 5px;
	overflow: hidden;
}
#Dtop .dhead{
	padding-left: 12px;
	color: #333;
	line-height: 34px;
	background: #E9E9E9;
	border-bottom: 1px solid #e0e0e0
}
#Dtop .dbox{
	width: 235px;
	padding: 0 0 10px 70px;
}
#Dtop .dbox table tr{
	height: 44px;
}
#Dtop .dbox table tr:nth-child(5) input{
	padding: 0 10px;
	line-height: 32px;
	color: #fff;
	background: #ff6000;
}
#Dtop .dbox table tr:nth-child(5) input:nth-child(2){
	margin-left: 30px;
}
#remote{
	border: 1px solid #e0e0e0;
	width: 170px;
}