.oSpace{
	width: 100%;
	height: 8px;
	border-bottom: 1px solid #e8e7e7;
	box-shadow: 0 5px 5px #e8e7e7,0 5px 10px #e8e7e7;
}
.wrap{
	width: 1180px;
	margin: 0 auto;
}
.wrapNav{
	width: 180px;
	background: #fff;
}
.wrapNav h3{
	padding-left: 16px;
	font-size: 16px;
	color: #ff6000;
	line-height: 40px;
	background: #ffefe5;
	margin-bottom: 6px;
}
.wrapNav li{
	background: url(../images/gx_wrapNav.jpg) 17px 18px no-repeat;
}
.wrapNav li.on{
	background: #ff6000 url(../images/gx_wrapNav2.jpg) 17px 18px no-repeat;
}
.wrapNav li a{
	display: block;
	color: #333;
	line-height: 40px;
	padding-left: 28px;
}
.wrapNav li.on a{
	color: #fff;
}
/*右侧*/
.wrapContent{
	width: 978px;
	border: 1px solid #ebebeb;
	background: #fff;
	padding: 20px 0 20px 20px;
}
.wrapContent h3{
	font-size: 16px;
	color: #333;
	line-height: 20px;
	padding-left: 8px;
	border-left: 2px solid #ff6000;
}
.wrapContent_inn{
	margin-top: 28px;
}
.wrapCont_inn_tit{
	width: 958px;
	border-bottom: 1px solid #ebebeb;
}
.wrapCont_inn_tit li{
	float: left;
	padding: 0 17px;
	font-size: 16px;
	color: #333;
	line-height: 30px;
	cursor: pointer;
}
.wrapCont_inn_tit li a{
	color: #333;
}
.wrapCont_inn_tit li.on{
	color: #ff6000;
	line-height: 30px;
	border-bottom: 2px solid #ff6000
}
.wrapCont_inn_tit p{
	float: left;
	width: 1px;
	height: 16px;
	background: #ebebeb;
	margin-top: 8px;
}
.wrapCont_inn_zl{
	padding-top: 40px;
}
.wrapCont_inn_zl div{
	float: left;
	width: 975px;
	margin-bottom: 20px;
}
.wrapCont_inn_zlTit{
	float: left;
	width: 112px;
	text-align: right;
	color: #333;
	line-height: 34px;
}
.wrapCont_inn_zlTit span{
	display: inline-block;
	width: 10px;
	height: 10px;
	margin-right: 7px;
	background: url(../images/inportent.png) 0 0 no-repeat;
}
.gx_denglumingIn,.gx_xingmingIn,.gx_qqIn,.gx_gddhIn,.gx_czIn,.gx_ybIn{
	float: left;
	width: 293px;
	height: 34px;
	padding-left: 11px;
	border: 1px solid #e0e0e0;
	box-sizing: border-box;
	font-size: 12px;
	color: #333;
	line-height: 34px;
}
.gx_hangye ul{
	float: left;
	width: 840px;
}
.gx_hangye ul li{
	float: left;
	width: 120px;
	height: 36px;
}
.gx_hangye ul li input,.gx_hangye ul li span{
	float: left;
}
.gx_hangye ul li input{
	margin: 10px 5px 0 0;
}
.gx_hangye ul li span{
	color: #333;
	line-height: 34px;
}
.gx_hangye ul p{
	float: left;
	width: 820px;
	font-size: 12px;
	color: #ff6000;
	line-height: 34px;
}
.gx_diqu input{
	float: left;
	width: 293px;
	height: 34px;
	padding-left: 11px;
	border: 1px solid #e0e0e0;
	box-sizing: border-box;
	font-size: 12px;
	color: #333;
	line-height: 34px;
}
.gx_diqu .gx_diquIn{
	margin: 10px 500px 0 112px;
}
.wrapCont_inn_zl .gx_bc{
	margin: 30px 0 38px 0;
}
.gx_bc input{
	float: left;
	margin-left: 112px;
	width: 124px;
	height: 38px;
	background: #32a632;
	color: #fff;
	border: none;
}
/*认证页面*/
.wrapContent_inn{
	min-height: 610px;
}
.renzheng{
	border-left: 1px solid #ebebeb;
	border-top: 1px solid #ebebeb;
}
.renzheng ul li{
	float: left;
	border-right: 1px solid #ebebeb;
	border-bottom: 1px solid #ebebeb;
}
.renzheng .rz_renzheng1{
	width: 144px;
	text-align: center;
	font-size: 16px;
	color: 333px;
	line-height: 70px;
}
.renzheng .rz_renzheng2{
	width: 484px;
	padding: 12px 34px;
	font-size: 14px;
	color: #333;
	line-height: 23px;
}
.renzheng .rz_renzheng3{
	width: 258px;
	height: 70px;
}
.renzheng .rz_renzheng3 p{
	float: left;
	padding-left: 25px;
	margin: 28px 0 0 50px;
	color: #333;
	line-height: 17px;
	background: url(../images/weirenzheng.jpg) 0 0 no-repeat;
}
.renzheng .rz_renzheng3 a{
	float: left;
	margin: 28px 0 0 40px;
	color: #ff6000;
	line-height: 17px;
}
/*系统消息页面*/
.wrapContent h3 span{
	font-size: 14px;
	color: #666;
}
.wrapContent h3 span strong{
	color: #ff6000;
}
.xtxx_title{
	width: 940px;
	padding: 0 0 11px 15px;
	border-bottom: 1px solid #e0e0e0;
}
.xtxx_title input,.xtxx_title span{
	float: left;
}
.xtxx_title .all_chose{
	margin: 6px 6px 0 0;
}
.xtxx_title .all_chose2{
	color: #333;
	line-height: 24px;
	margin-right: 19px;
}
.xtxx_title input{
	font-size: 12px;
	color: #fff;
	line-height: 24px;
	padding: 0 18px;
	border: none;
	box-sizing: border-box;
	margin-right: 15px;
}
.xtxx_title .deletes{
	background: #e62c32;
}
.xtxx_title .has_red{
	background: #ff6000;
}
.xtxx_title .all_has_red{
	background: #32a632;
}
.xtxx_title .page{
	float: right;
}
.xtxx_title .page span{
	color: #333;
	line-height: 24px;
	margin-right: 16px;
}
.xtxx_title .page a{
	float: left;
	width: 84px;
	color: #ff6000;
	line-height: 28px;
	text-align: center;
	border: 1px solid #ff6000;
	margin-top: -5px;
}
.all_messages li{
	width: 940px;
	padding-left: 15px;
	border-bottom: 1px solid #e0e0e0;
	overflow: hidden;
}
.all_messages li input{
	float: left;
	margin: 17px 11px 0 0;
}
.all_messages li a{
	float: left;
	max-width: 570px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #333;
	line-height: 47px;
	padding-left: 42px;
	background: url(../images/all_message.jpg) 0 -32px no-repeat;
}
.all_messages li a:hover{
	color: #ff6000;
}
.all_messages li span{
	float: right;
	padding-left: 20px;
	color: #1a1a1a;
	line-height: 47px;
	background: url(../images/message_time.jpg) 0 17px no-repeat;
}
.all_messages li.unread a{
	font-weight: bold;
	background-position-y: 15px;
}
.all_messages li.unread span{
	font-weight: bold;
}
/*头像照片*/
.menu{
	float: left;
}
.img_handle{
	margin-top: 20px;
}
/*个人认证*/
.shxz_out{
	padding-left: 20px;
	margin-right: 20px;
	border: 1px solid #ccc;
}
.shxz{
	border-bottom: 1px dashed #666;
	margin-right: 30px;
	padding-bottom: 16px;
}
.shxz h4{
	float: left;
	width: 948px;
	font-size: 16px;
	line-height: 60px;
	color: #333;
}
.wrapContent_inn ul{
	float: left;
}
.wrapContent_inn ul.shxz_in1{
	width: 510px;
}
.wrapContent_inn ul li{
	font-size: 12px;
	line-height: 24px;
	color: #666;
}
.submit_infor{
	padding-left: 20px;
	padding-bottom: 20px;
}
.submit_infor_tit{
	color: #333;
	line-height: 70px;
}
.submit_infor_col{
	margin-bottom: 20px;
	overflow: hidden;
}
.submit_infor_col span{
	float: left;
	width: 95px;
	text-align: right;
	color: #666;
	line-height: 30px;
}
.submit_infor_col span span{
	float: initial;
	color: red;
}
.submit_infor_col input{
	float: left;
	padding: 4px;
	border: 1px solid #ccc;
	width: 300px;
	height: 30px;
	line-height: 30px;
	box-sizing: border-box;
}
.submit_infor_col dl{
	float: left;
	width: 220px;
	margin-right: 20px;
}
.submit_infor_col dl dt img{
	display: block;
}
.submit_infor_col dd{
	padding-top: 7px;
	line-height: 24px;
	color: #666;
	font-size: 12px;
} 


/*企业认证*/
.submit_tit{
	padding-left: 90px;
    font-size: 15px;
    color: #333;
}
.submit_titlf{
	float: left;
	padding-right: 90px;
}
.submit_titri{
	float: left;
}
.submit_titlf input,.submit_titri input{
	margin-right: 3px;
}
.submit_col h2{
    color: #333;
    line-height: 40px;
    width: 200px;
    font-size: 14px;
    float: left;
    text-align: right;
}
.submit_col input{
	height: 40px;
	padding: 4px;
    float: left;
    line-height: 30px;
    width: 260px;
    text-indent: 10px;	
    border: 1px solid #ccc;
}
.submit_col span{
    color: #f00;
    line-height: 30px;
    margin-left: 0px;
    font-style: normal;
    width: 6px;
    padding: 0px 4px;
}
.submit_col h4{
    padding-left: 5px;
    color: #f41a11;
    float: left;
    margin-top: 5px;
}
.infor_col{
	padding-left: 198px;
}
.infor_col .shangc{
	float: left;
	width: 158px;
	padding-right: 15px;
	position: relative;
}
.shangc {
	width: 158px;
	height: 35px;
	background: #009435;
	border: none;
	border-radius: 3px;
	padding: 0px;
    cursor: pointer;
}
.shangc a{
    color: #fff;
    position: absolute;
    top: 7px;
    left: 30px;
    background: url(../images/tupian.png)0px 4px no-repeat;
    padding-left: 30px;
}
.infor_col span.shili{
	color: #ff3f13;
	float: left;
	width: auto;
	padding-right: 15px;
}
.submit_infor_img{
	float: left;
    width: 44px;
    height: 68px;
    padding: 8px 32px 22px;
    overflow: hidden;
    border: 1px solid #ddd;
    background: #fff;
}
.infor_col .hint{
	padding-left: 15px;
	float: left;
	width: 330px;
    color: #9E9E9E;	
}
.infor_col .hint .star{
	color: #f00;
	width: auto;
}
.infor_col h2{
	color: #f41a11;
	font-size: 14px;
}
.refer{
    float: left;
}
.refer input{
    width: 86px;
    height: 46px;
    font-size: 18px;
    background: #f47211;
    border: none;
    border-radius: 3px;
    padding: 0px;
    cursor: pointer;  
    color: #fff;  
}

.submit_img{
	padding: 8px 11px 22px;
    width: 90px;
}
.submit_img2{
    padding: 8px 13px 22px;
    width: 86px;	
}
.submits{
	display: none;
}
.submit_infor_col .submit_infor_imgs{
	width: 221px;
	height: 30px;
	background: #ff6000;
	color: #fff;
	border: none;
	line-height: 13px;
	box-sizing: border-box;
	cursor: pointer;
	margin-right: 480px;
}
.submit_infor .tips{
	color: #f00;
	padding: 30px 0 0 95px;
}
.submitss{
	display: block;
	margin: 30px 0 30px 95px;
	padding: 0 25px;
	height: 46px;
	line-height: 46px;
	background: #ff6000;
	color: #fff;
	border: none;
	box-sizing: border-box;
	border-radius: 3px;
}
.user_photo{
	padding: 20px 0 0 95px;
}
.user_photo_list{
	float: left;
	width: 210px;
	height: 180px;
	margin-right: 20px;
	padding: 40px 5px 0 5px;
	position: relative;
	border: 1px solid #ccc;
}
.user_photo_list span img{
	display: block;
}
.user_photo_list p{
	position: absolute;
	left: 5px;
	top: 125px;
	width: 210px;
	font-size: 16px;
	color: rgba(255,255,255,0.4);
	text-align: center;
	line-height: 1.5;
}
.user_photo_list input{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 220px;
}
.c_p td{
	text-align: left;
}
.c_p td span{
	float: left;
	width: 48px;
	height: 26px;
	border: 1px solid #e0e0e0;
	text-align: center;
	line-height: 26px;
	border-radius: 3px;
	cursor: pointer;
	margin-top: 20px;
}
.c_p td span.shangcs{
	margin: 20px 30px 0 48px;
}
.IDphoto p{
	float: left;
	
	padding: 3px;
	margin-right: 10px;
}
.IDphoto p img{
	border: 1px solid #ccc;
	padding: 3px;
}